## General

yes-receive-emails = დიახ, გამომიგზავნეთ წერილები ელფოსტაზე. მსურს მუდმივად მეცნობოს Common Voice პროექტთან დაკავშირებული სიახლეების შესახებ.
stayintouch = ჩვენ, Mozilla-ში ვცდილობთ შევკრიბოთ დიდი ერთობა ხმოვანი ტექნოლოგიების გარშემო. გვსურს დავრჩეთ კავშირზე განახლებებით, მონაცემთა ახალი წყაროებით და მოვისმინოთ, თუ როგორ გადგებათ ეს მონაცემები.
privacy-info = ჩვენ გპირდებით, რომ თქვენს პირად ინფორმაციას სიფრთხილით მოვეკიდებით. ვრცლად, იხილეთ ჩვენი <privacyLink>პირადი მონაცემების დაცვის განაცხადი</privacyLink>.
return-to-cv = Common Voice-ზე დაბრუნება
email-input =
    .label = ელფოსტა
submit-form-action = გადაგზავნა
loading = იტვირთება...
email-opt-in-info = მსურს, მივიღო ელფოსტაზე შეხსენებები შესასრულებელი მიზნების, აგრეთვე სამუშაოს მიმდინარეობის შესახებ და Common Voice-სთან დაკავშირებული სიახლეები.
email-opt-in-info-title = შემოუერთდით Common Voice-ის ელფოსტის ჯგუფს
email-opt-in-info-sub-with-challenge = მიიღეთ ელფოსტაზე ცნობები გამოწვევების, შესასრულებელი მიზნების, აგრეთვე სამუშაოს მიმდინარეობის შესახებ და Common Voice-სთან დაკავშირებული სიახლეები.
email-opt-in-privacy-v2 = ელფოსტით წერილების მიღებაზე თანხმობით, თქვენ აცხადებთ, რომ არ ხართ წინააღმდეგი, Mozilla-მ ეს მონაცემები დაამუშაოს <privacyLink>პირადულობის დაცვის დებულების</privacyLink> შესაბამისად.
indicates-required = * აღნიშნავს აუცილებელ ველს
not-available-abbreviation = მიუწვდომელია

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = აფხაზური
ace = აჩეჰი
ady = ადიღეური
af = აფრიკაანსი
am = ამჰარული
an = არაგონული
ar = არაბული
arn = მაპუდუნგუნი
as = ასამური
ast = ასტურიული
az = აზერბაიჯანული
ba = ბაშკირული
bas = ბასა
be = ბელარუსული
bg = ბულგარული
bm = ბამბარა
bn = ბენგალური
br = ბრეტონური
bxr = ბურიატული
ca = კატალანური
cak = კაკჩიკელი
ckb = ცენტრალურქურთული
cnh = ჰაკჰა ჩინი
co = კორსიკული
cs = ჩეხური
cv = ჩუვაშური
cy = უელსური
da = დანიური
de = გერმანული
dsb = ქვემოსორბული
dv = დივეჰი
el = ბერძნული
en = ინგლისური
eo = ესპერანტო
es = ესპანური
et = ესტონური
eu = ბასკური
fa = სპარსული
ff = ფულანი
fi = ფინური
fo = ფარერული
fr = ფრანგული
fy-NL = ფრიზული
ga-IE = ირლანდიური
gl = გალიციური
gn = გუარანი
ha = ჰაუსა
he = ებრაული
hi = ჰინდი
hr = ხორვატული
hsb = ზემოსორბული
ht = ჰაიტური
hu = უნგრული
hy-AM = სომხური
hyw = დასავლეთ სომხური
ia = ინტერლინგვა
id = ინდონეზიური
ie = ინტერლინგვა
ig = იგბო
is = ისლანდიური
it = იტალიური
izh = იჟორული
ja = იაპონური
ka = ქართული
kaa = ყარაყალაკი
kab = კაბილური
kbd = ყაბარდოული
ki = კიკუიუ
kk = ყაზახური
kmr = კურმანჯი
ko = კორეული
kpv = კომი
kw = კორნული
ky = ყირგიზული
lg = ლუგანდა
lij = ლიგურული
lt = ლიტვური
lv = ლატვიური
mai = მაიტჰილი
mdf = მოკშა
mg = მალაგასიური
mhr = აღმოსავლეთ დაბლობის მარიული
mk = მაკედონური
ml = მალაიალამური
mn = მონღოლური
mos = მოსი
mr = მარათული
mrj = მთის მარიული
ms = მალაიური
mt = მალტური
my = ბირმული
myv = ერზიანული
nan-tw = ტაივანური (მინანი)
nb-NO = ნორვეგიული ბუკმოლი
ne-NP = ნეპალური
nia = ნიასური
nl = ნიდერლანდური
nn-NO = ნორვეგიული ნიუნორსკი
nyn = ნიანკოლე
oc = ოქსიტანური
or = ორია
pa-IN = პენჯაბი
pap-AW = პაპიამენტო (არუბა)
pl = პოლონური
ps = პუშტუ
pt = პორტუგალიური
rm-sursilv = რეტორომანული სურსილვანი
rm-vallader = რეტორომანული ვალადერი
ro = რუმინული
ru = რუსული
rw = კინიარუანდა
sah = სახა
sat = სანტალი (ოლ-ჩიკი)
sc = სარდინიული
scn = სიცილიური
shi = შილჰა
si = სინჰალური
sk = სლოვაკური
sl = სლოვენური
so = სომალური
sq = ალბანური
sr = სერბული
sv-SE = შვედური
sw = სუაჰილი
syr = სირიული
ta = ტამილური
te = ტელუგუ
tg = ტაჯიკური
th = ტაილანდური
tl = ტაგალური
tr = თურქული
tt = თათრული
tw = ჩვი
ty = ტაიტური
uby = უბიხური
udm = უდმურტული
ug = უიღურული
uk = უკრაინული
ur = ურდუ
uz = უზბეკური
vec = ვენეციური
vi = ვიეტნამური
vot = ვოტიკური
yi = იდიში
yo = იორუბა
yue = კანტონური
zh-CN = ჩინური (ჩინეთი)
zh-HK = ჩინური (ჰონგ-კონგი)
zh-TW = ჩინური (ტაივანი)

# [/]


## Layout

speak = ჩაწერა
speak-now = დაილაპარაკეთ
datasets = კრებული
languages = ენები
about = ჩვენ შესახებ
profile = პროფილი
help = დახმარება
contact = დაკავშირება
privacy = პირადულობა
terms = პირობები
cookies = ფუნთუშები
faq = ხ.დ.კ.
content-license-text = მასალა ხელმისაწვდომია <licenseLink>Creative Commons ლიცენზიით</licenseLink>
share-title = დაგვეხმარეთ ხალხის მოძიებაში, რომლებიც შემოგვწირავენ თავიანთ ხმას!
share-text = დაგვეხმარეთ, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ადამიანები, მოგვაწოდეთ თქვენი ხმის ჩანაწერები შემოწირულობის სახით { $link }
link-copied = ბმულის ასლი აღებულია
back-top = დასაწყისში დაბრუნება
logout = გასვლა

## Home Page

home-title = Common Voice პროექტი არის Mozilla-ს წამოწყება, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ნამდვილი ადამიანები.
default-tagline = Mozilla Common Voice პროექტი არის წამოწყება, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ სინამდვილეში ადამიანები.
home-cta = დაილაპარაკეთ, შეიტანეთ თქვენი წვლილი!
wall-of-text-start = ხმა არის ბუნებრივი, ხმა არის ადამიანური. სწორედ ეს გვხიბლავს, როცა ვქმნით ხმოვან ტექნოლოგიებს მანქანებისთვის. თუმცა, ხმოვანი სისტემის შესაქმნელად, ძალიან დიდი ოდენობის ხმოვანი ჩანაწერია საჭირო.
wall-of-text-more-mobile = მსხვილი დაწესებულებების მიერ გამოყენებული მონაცემები, არაა ხელმისაწვდომი ხალხის დიდი ნაწილისთვის. ჩვენ ვფიქრობთ, რომ ეს აფერხებს განვითარებას და სიახლეების დანერგვას. სწორედ ამიტომაც გავუშვით პროექტი Common Voice, რომ ხმის ამოცნობის საშუალებები გაგვეხადა საყოველთაოდ ხელმისაწვდომი.
wall-of-text-more-desktop =
    ახლა უკვე შეგიძლიათ მოგვაწოდოთ თქვენი ხმის ჩანაწერები შემოწირულობის სახით, ღია წყაროს მქონე, ხმოვან მონაცემთა საცავის შესაქმნელად, რომლის გამოყენებაც ნებისმიერს შეეძლება ახალი პროგრამების შესამუშავებლად მოწყობილობებისა და ინტერნეტისთვის.<lineBreak></lineBreak>
    წაიკითხეთ წინადადებები და დაგვეხმარეთ რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ნამდვილი ადამიანები. შეამოწმეთ სხვა მოხალისეების ნამუშევრებიც, ხარისხის გასაუმჯობესებლად. ძალიან მარტივია!
wall-of-text-first = ხმა არის ბუნებრივი, ხმა არის ადამიანური. სწორედ ეს გვხიბლავს, როცა ვქმნით ხმოვან ტექნოლოგიებს მანქანებისთვის. თუმცა, ხმოვანი სისტემის შესაქმნელად, შემმუშავებლებს ძალიან დიდი ოდენობის ხმოვანი ჩანაწერი ესაჭიროებათ.
wall-of-text-second = მსხვილი დაწესებულებების მიერ გამოყენებული მონაცემები, არაა ხელმისაწვდომი ხალხის დიდი ნაწილისთვის. ჩვენ ვფიქრობთ, რომ ეს აფერხებს განვითარებას და სიახლეების დანერგვას. სწორედ ამიტომაც გავუშვით პროექტი Common Voice, რომ ხმის ამოცნობის საშუალებები გაგვეხადა ღია და საყოველთაოდ ხელმისაწვდომი.
show-wall-of-text = ვრცლად
help-us-title = დაგვეხმარეთ წინადადების შემოწმებაში!
help-us-explain = დააწექით გაშვებას, მოუსმინეთ და მოგვახსენეთ: სწორად იყო თუ არა გახმოვანებული ქვემოთ მოცემული წინადადება?
no-clips-to-validate = როგორც ჩანს, ჩანაწერები არაა მოსასმენად ამ ენისთვის. დაგვეხმარეთ მათ შექმნაში და თავად ჩაწერეთ რამდენიმე.
vote-yes = დიახ
vote-no = არა
toggle-play-tooltip = დააწექით ღილაკს { shortcut-play-toggle }, გაშვების რეჟიმის გადასართავად
speak-subtitle = მოგვაწოდეთ თქვენი ხმის ჩანაწერები
speak-paragraph = ხმის ჩანაწერების გაკეთება, ჩვენი ღია მონაცემთა კრებულის შექმნის არსებითი ნაწილია; ზოგის აზრით, ყველაზე სახალისოც.
speak-goal-text = ჩანაწერია გაკეთებული
listen-subtitle = დაგვეხმარეთ ჩანაწერების გადამოწმებაში
listen-paragraph = ჩანაწერების გადამოწმებაც მეტად მნიშვნელოვანია, Common Voice-ის მთავარი მიზნისთვის. მოუსმინეთ და დაგვეხმარეთ ხარისხიანი ღია წყაროს მქონე ხმოვანი მონაცემების შექმნაში.
listen-goal-text = ჩანაწერია გადამოწმებული
hours-recorded = ჩაწერილი საათები
hours-validated = დამოწმებული საათები
voices-online = ახლა მიმდინარე ჩაწერები
todays-progress = დღევანდელი წინსვლა
help-reach-goal = დაგვეხმარეთ, მივაღწიოთ { $goal }-ს
read-terms-q = გაეცანით ჩვენს პირობებს?
ready-to-record = მზად ხართ, მოგვაწოდოთ თქვენი ხმის ჩანაწერი?
all-locales = ყველა
today = დღეს
x-weeks-short =
    { $count ->
        [one] კვირა
       *[other] { $count } კვირა
    }
x-months-short =
    { $count ->
        [one] თვე
       *[other] { $count } თვე
    }
x-years-short =
    { $count ->
        [one] წელი
       *[other] { $count } წელი
    }
help-make-dataset = დაგვეხმარეთ მაღალი ხარისხის, საჯაროდ ხელმისაწვდომი კრებულის შექმნაში
sign-up-account = ანგარიშის შექმნა
email-subscription-title = გამოიწერეთ ელფოსტაზე სიახლეები
email-subscription-title-new = გამოიწერეთ Common Voice-ის ახალი ამბები, მიზნის შეხსენებები და მიმდინარე წინსვლის შესახებ ცნობები

## Account Benefits

benefits = უპირატესობები
rich-data = თქვენ მიერ წარდგენილი მასალა იქნება გამდიდრებული დემოგრაფიული მონაცემებით, ვინაობის გაუმხელად. გასაჯაროებამდე, ამ მონაცემებიდან ვაცილებთ ვინაობის აღმნიშვნელ ნაწილს.
improve-audio = პროფილის ინფორმაცია აუმჯობესებს ხმოვანი მონაცემების გამოყენების შესაძლებლობებს, ხმის ამომცნობი სისტემების სიზუსტის დასახვეწად.
keep-track = შეგეძლებათ თვალი მიადევნოთ თქვენი მუშაობის მიმდინარეობას და სხვადასხვა ენებთან დაკავშირებულ მაჩვენებლებს.
compare-progress = შეძლებთ თქვენი წინსვლა შეადაროთ სხვა მოხალისეებისას, მთელი მსოფლიოდან.
view-goals = იხილავთ, შეტანილი წვლილის ოდენობას, პირად და პროექტის საერთო მიზნებთან მიმართებით.
join-newsletter = აგრეთვე, ჩვენი ელფოსტის ჯგუფთან შემოერთებით, მუდმივად გაეცნობით სიახლეებს, პროექტთან დაკავშირებით.

## What's public

whats-public = რა არის საჯარო?
email-not-public = ჩვენ არ გავასაჯაროებთ თქვენს ელფოსტას.
recordings-and-locale-public = ჩანაწერების რაოდენობა და ის ენები, რომლებშიც წვლილი შეგაქვთ იქნება ხილული.
username-optin-public = თქვენ შეგიძლიათ თავად გადაწყვიტოთ, თქვენი სახელი საჯარო იყოს თუ დაფარული.
demographic-deidentified-clarity-2 = დამატებით წარმოდგენილი მონაცემები (როგორიცაა ასაკი, სქესი და აქცენტი) არასდროს გამოქვეყნდება საჯაროდ პროფილზე და არ იქნება დაკავშირებული თქვენს ანგარიშთან კრებულში. ცალკეულ ხმოვან ჩანაწერებს დაერთვება ეს დემოგრაფიული მონაცემები, დამუშავების სიზუსტის გასაუმჯობესებლად — მაგალითად, მკვლევარმა რომ შეძლოს მოდელი მოარგოს გარკვეულ დემოგრაფიულ ჯგუფს, სურვილისამებრ.
username-email-not-demographic = თქვენი მომხმარებლის სახელი და ელფოსტა არ იქნება დაკავშირებული გამოქვეყნებულ მონაცემებთან.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = ტ

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = გ
shortcut-play-toggle-label = გაშვება/შეწყვეტა
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = დ
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = ა

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = წ
shortcut-record-toggle-label = ჩაწერა/შეწყვეტა
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = ახლიდან ჩაწერა
shortcut-discard-ongoing-recording = ESC
shortcut-discard-ongoing-recording-label = მიმდინარე ჩაწერის გაუქმება
shortcut-submit = დაბრუნება
shortcut-submit-label = ჩანაწერების გადაგზავნა
request-language-text = ვერ იპოვეთ თქვენი ენა Common Voice-ში?
request-language-text-learn = იხილეთ, როგორ უნდა მოითხოვოთ!
request-language-button = მოითხოვეთ ენის დამატება

## ProjectStatus

status-title = მთლიანი პროექტის მიმდინარე მდგომარეობა: ნახეთ, რაოდენ წინ წავიწიეთ!
status-contribute = ჩაწერეთ თქვენი ხმა
status-hours =
    { $hours ->
        [one] ჯერჯერობით, ერთი საათია დამოწმებული!
       *[other] ჯერჯერობით, { $hours } საათია დამოწმებული!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = შემდეგი მიზანია: { $goal }
english = ინგლისური

## ProfileForm

profile-form-username =
    .label = მომხმარებლის სახელი
profile-form-native-language =
    .label = მშობლიური ენა
profile-form-additional-language =
    .label = დამატებითი ენა
profile-form-accent =
    .label = აქცენტი
profile-form-age =
    .label = ასაკი
profile-form-gender-2 =
    .label = სქესი
leaderboard-visibility =
    .label = მოწინავეთა სიაში გამოჩენა
hidden = დამალული
visible = ხილული
native-language =
    .label = მშობლიური ენა
profile-form-submit-save = შენახვა
profile-form-submit-saved = შენახულია
male = მამრობითი
female = მდედრობითი
# Gender
other = სხვა
why-profile-title = რა საჭიროა პროფილი?
why-profile-text = თქვენ შესახებ გარკვეული ინფორმაციის მოწოდებით, თქვენ მიერ გადმოგზავნილი ჩანაწერები Common Voice-ში, მეტად გამოსადეგი იქნება იმ ხმოვანი ამოცნობის სისტემებისთვის, რომლებიც ამ მონაცემებს სიზუსტის გასაუმჯობესებლად იყენებს.
dashboard = მაჩვენებლები
build-profile = პროფილის შექმნა
avatar = გამოსახულება
goals = მიზანი
settings = პარამეტრები
edit-profile = პროფილის ჩასწორება
profile-create-success = პროფილი წარმატებით შეიქმნა!
profile-close = დახურვა
profile-explanation = თვალი ადევნეთ თქვენ მიერ შეტანილ წვლილსა და დაგვეხმარეთ ხმოვანი მონაცემების სიზუსტის გაუმჯობესებაში, პროფილის შექმნით.
thanks-for-account = გმადლობთ ანგარიშის დამოწმებისთვის, ახლა კი შეგიძლიათ დაიწყოთ პროფილის შედგენა.
why-demographic = რისთვისაა ეს საჭირო?
why-demographic-explanation-2 = მონაცემები ვინაობის მითითების გარეშე, როგორიცაა ასაკი, სქესი და აქცენტი დაგვეხმარება გაუმჯობესებული ხმოვანი მონაცემების გამოყენებაში, ხმოვანი ამოცნობის სისტემების უკეთ განსავითარებლად. თქვენი მომხმარებლის სახელი და ელფოსტა, არასდროს იქნება დაკავშირებული გადმოგზავნილ მონაცემებთან და ამასთან, შეგიძლიათ ისიც განსაზღვროთ, საჯარო იყოს თუ დაფარული თქვენი მომხმარებლის სახელი.
accept-privacy = თანახმა ვარ, რომ Mozilla-მ ჩემი მონაცემები გამოიყენოს, <privacyLink>პირადულობის დაცვის დებულების</privacyLink> შესაბამისად
accept-privacy-title = პირადულობის დებულება
login-identity = შესვლის ანგარიში
login-signup = შესვლა / შექმნა
edit = ჩასწორება
email-subscriptions = გამოწერები ელფოსტით
download-profile = პროფილის მონაცემების ჩამოტვირთვა
contribution-experience = წვლილის შეტანა მოხერხებულად
skip-submission-feedback = ნამუშევრის შეფასების გათიშვა
skip-submission-description = წვლილის შეტანისას შესაბამის ღილაკზე დაჭერის შემდგომ, აღარ გამოჩნდება შეფასება. პირდაპირ შეძლებთ განაგრძოთ მომდევნო 5 ჩანაწერის გაკეთება ან შემოწმება.
skip-submission-note = შენიშვნა: ჩაწერა ან მოსმენა მაინც უნდა აირჩიოთ, შესატანი წვლილის სახეობის შესაცვლელად.
off = გამორთ.
on = ჩართ.

## Profile - Email

browse-file-title = ატვირთეთ სურათის ფაილი
browse-file = გადმოიტანეთ და მოათავსეთ ან <browseWrap>ამოარჩიეთ</browseWrap>
connect-gravatar = Gravatar-თან დაკავშირება
gravatar_not_found = თქვენი ელფოსტისთვის არ არის ნაპოვნი gravatar
file_too_large = შერჩეული ფაილი ზედმეტად დიდია
avatar-uploaded = სურათი ატვირთულია
max-file-size = არაუმეტეს { $kb }კბაიტი

## Profile - Email

manage-subscriptions = გამოწერების მართვა
manage-email-subscriptions = ელფოსტის გამოწერების მართვა
email-already-used = ელფოსტა უკვე გამოყენებულია სხვა ანგარიშზე
add-language = ენის დამატება
change-email-setings = შეცვალეთ თქვენი ელფოსტა ანგარიშის პარამეტრებიდან

## FAQ

faq-title = ხშირად დასმული კითხვები
faq-what-cv-q = რას წარმოადგენს Common Voice?
faq-what-cv-a =
    ხმის ამოცნობის საშუალებები ძირფესვიანად ცვლის კომპიუტერულ მანქანებთან ურთიერთობის გზებს, მაგრამ ამჟამად ხელმისაწვდომი სისტემები მეტად ძვირია და კერძო საკუთრებას წარმოადგენს. Common Voice არის Mozilla-ს წამოწყება, ხმის ამოცნობის საშუალებების გასაუმჯობესებლად და საყოველთაო ხელმისაწვდომობის უზრუნველსაყოფად. Common Voice წარმოადგენს დიდი მოცულობის მონაცემთა კრებულს, რომელიც შედგება შემოწირული ხმის ჩანაწერებისგან და ნებისმიერ მსურველს მისცემს საშუალებას, სწრაფად და მარტივად შეასწავლოს თავის ხმის ამოცნობის საშუალებებით აღჭურვილ პროგრამას, ყველა მოცემული ენა.
    
    ჩვენ არა მხოლოდ ფართოდ გავრცელებული ენებისთვის ვაგროვებთ ნიმუშებს, არამედ მცირერიცხოვან ხალხთა ენებისთვისაც. სხვადასხვა სახის მონაცემთა კრებულის გამოქვეყნება, მოაძლიერებს შემმუშავებლებს, დაწესებულებებსა და ერთობებს და გაუჩენს სურვილს, შექმნან ახალი ხელსაწყოები. გარდა Common Voice-ის მონაცემთა კრებულისა, ჩვენ ასევე ვმუშაობთ ღია წყაროს მქონე, ხმის ამომცნობ ძრავაზე, სახელწოდებით Deep Speech.
faq-what-cv-a-2 =
    ხმის ამოცნობის საშუალებები ძირფესვიანად ცვლის კომპიუტერულ მანქანებთან ურთიერთობის გზებს, მაგრამ ამჟამად ხელმისაწვდომი სისტემები მეტად ძვირია და კერძო საკუთრებას წარმოადგენს. Mozilla Common Voice არის Mozilla-ს წამოწყების ნაწილი, ხმის ამოცნობის საშუალებების გასაუმჯობესებლად და საყოველთაო ხელმისაწვდომობის უზრუნველსაყოფად. Common Voice წარმოადგენს დიდი მოცულობის მონაცემთა კრებულს, რომელიც შედგება შემოწირული ხმის ჩანაწერებისგან და ნებისმიერ მსურველს მისცემს საშუალებას, სწრაფად და მარტივად შეასწავლოს თავის ხმის ამოცნობის საშუალებებით აღჭურვილ პროგრამას, ყველა მოცემული ენა.
    
    ჩვენ არა მხოლოდ ფართოდ გავრცელებული ენებისთვის ვაგროვებთ ნიმუშებს, არამედ მცირერიცხოვან ხალხთა ენებისთვისაც. სხვადასხვა სახის მონაცემთა კრებულის გამოქვეყნება, მოაძლიერებს შემმუშავებლებს, დაწესებულებებსა და ერთობებს და გაუჩენს სურვილს, თავადვე შეავსონ ყველა დანაკლისი.
faq-why-important-q = რატომ არის ეს მნიშვნელოვანი?
faq-why-important-a =
    ხმით საუბარი, ჩვეულებრივ ყველაზე მეტად ბუნებრივი გზაა ერთმანეთთან ურთიერთობისთვის, რასაც ხმოვანი საშუალებები ხელმისაწვდომს ხდის კომპიუტერებსა და მობილურ მოწყობილობებზე. ჩვენ გვსურს ხელი შევუწყოთ შემმუშავებლებს, რომ შექმნან ხმის ამომცნობი ისეთი არაჩვეულებრივი პროგრამები, როგორიცაა საუბრის პირდაპირი მთარგმნელები და ხმით სამართავი ციფრული თანაშემწეები. თუმცა ჯერჯერობით, ამგვარი სახის პროგრამების შესაქმნელად საჭირო ხმოვანი მონაცემები მეტად ძვირია და კერძო საკუთრებას წარმოადგენს. ჩვენ გვჯერა, რომ Common Voice-ის მონაცემთა კრებული გამოადგება შემმუშავებლებს სიახლეების დანერგვასა და ხმოვანი საშუალებების საკუთარ ენაზე ხელმისაწვდომობის უზრუნველყოფისთვის.
    
    ხმის ამოცნობა რომ კიდევ უფრო მეტად საყოველთაო გახდეს, ჩვენ ვაგროვებთ ხმის ნიმუშებს არა მხოლოდ ფართოდ გავრცელებული ენებისთვის, არამედ მცირერიცხოვან ხალხთა ენებისთვისაც, რომლებიც ხშირად ფასიანი მომსახურებების მიღმა რჩებიან. სხვადასხვა სახის მონაცემთა კრებულის გამოქვეყნება, მოაძლიერებს შემმუშავებლებს, დაწესებულებებსა და ერთობებს და გაუჩენს სურვილს, შეავსონ ეს დანაკლისი.
faq-how-get-q = საიდან შეიძლება Common Voice-ის მონაცემების გადმოწერა?
faq-how-get-a = Common Voice-ის მონაცემთა კრებული ხელმისაწვდომია ჩამოსატვირთად <licenseLink>CC0</licenseLink> ლიცენზიით, ჩვენი <datasetLink>კრებულის გვერდზე</datasetLink>. აგრეთვე, შეგიძლიათ ჩამოტვირთოთ რამდენიმე სხვა ღიად ხელმისაწვდომი კრებულიც, იმავე გვერდიდან.
faq-when-release2-q = როდის გამოუშვებთ Common Voice-ის მონაცემებს სხვა ენებზე?
faq-when-release2-a = მრავალენოვანი ვერსია Common Voice-ის მონაცემთა კრებულის ამჟამად მუშავდება და იხვეწება ერთობის მხარდაჭერით. თუ გსურთ დაგვეხმაროთ Common Voice-ში სხვადასხვა ენების შემოსატანად, იხილეთ ჩვენი <sentenceCollectorLink>წინადადებების შესაგროვებელი ხელსაწყო</sentenceCollectorLink> ახალი წინადადებების კრებულში დასამატებლად და აგრეთვე Mozilla <pontoonLink>Pontoon</pontoonLink> თავად საიტის გადასათარგმნად. ახალი ენები Common Voice-ში ხმის ჩანაწერების გასაკეთებლად დაემატება მას შემდეგ, როცა 5000 დამოწმებული წინადადება შეგროვდება.
faq-why-mission-q = Common Voice რატომაა Mozilla-ის მიზნის ნაწილი?
faq-why-mission-a = Mozilla ერთგულია ინტერნეტის გახსნილობისა და საყოველთაო ხელმისაწვდომობის. ამისთვის, საჭიროა ვებშემმუშავებელთა მხარდაჭერა ისეთი პროექტებით, როგორიცაა Common Voice. ხმოვანი ტექნოლოგიების გავრცელებისა და ზრდის კვალდაკვალ, მიგვაჩნია რომ ისინი ყველა მომხმარებლისთვის თანაბრად უნდა იყოს ხელმისაწვდომი. რაც გულისხმობს, უფრო მეტი ენისა და აქცენტისთვის ნიმუშების მოგროვებას, ხმოვანი ხელსაწყოების ასაწყობად და გამოსაცდელად. Common Voice არის საყოველთაოდ ხელმისაწვდომი საშუალება და Mozilla-ს შემმუშავებელთა ერთობა მთელი მსოფლიოდან, უკვე იყენებს მას ჩვენს პროექტებშიც.
faq-what-cv-and-deepspeech-q = რითი განსხვავდება Common Voice და Deep Speech ერთმანეთისგან?
faq-what-cv-and-deepspeech-a = Common Voice მონაცემთა კრებული ჩაერთვება Mozilla-ს ღია წყაროს მქონე, ხმის ამომცნობ ძრავაში Deep Speech. პირველი ვერსია Deep Speech-ის გამოვიდა 2017 წლის ნოემბერში და მისი განვითარება დღემდე მიმდინარეობს. Common Voice-ის კრებულის საშუალებით, გვჯერა რომ ხმის ამოცნობის ტექნოლოგიები ხელმისაწვდომი გახდება ყველასთვის. ჩვენ ვიმედოვნებთ, რომ ეს უბიძგებს შემმუშავებლებს დანერგონ სიახლეები და შექმნან ახლებური სახის პროდუქტები და მომსახურებები.
faq-is-goal-assistant-q = Common Voice-ის მიზანი ხმოვანი თანაშემწის შექმნაა?
faq-is-goal-assistant-a = Common Voice-ის მიზანია, საშუალება მისცეს ყველას მთელ მსოფლიოში, შექმნან ხმის ამომცნობი, მოსაუბრის ამომცნობი ან ნებისმიერი სხვა სახის ხელსაწყოები, რომლებიც საჭიროებს ხმოვან მონაცემებს. ხმოვანი თანაშემწე უბრალოდ ერთ-ერთია იმ მრავალთაგან, რომელთა შემუშავებისთვისაც გამოსადეგია ეს კრებული.
faq-do-want-native-q = მოცემული ენა არაა ჩემთვის მშობლიური ენა და ვსაუბრობ აქცენტით, მაინც გამოგადგებათ ჩემი ხმის ჩანაწერი?
faq-do-want-native-a = დიახ, ჩვენ თქვენი ხმა განსაკუთრებით გვესაჭიროება! Common Voice-ს მიზნის ნაწილია რაც შეიძლება მეტი განსხვავებული აქცენტის შეგროვება, რომ ხმის ამომცნობმა მომსახურებებმა, ერთნაირი წარმატებით იმუშაოს ყველა მომხმარებლისთვის. ეს კი ნიშნავს, რომ არამშობლიურ ენაზე მოსაუბრეთა მონაწილეობა, განსაკუთრებით მნიშვნელოვანია.
faq-why-different-speakers-q = რატომ გესაჭიროებათ ამდენი განსხვავებულად მოსაუბრე თითოეულ ენაზე?
faq-why-different-speakers-a =
    ხმოვან მონაცემთა კრებულების უმეტესობა ჭარბად მოიცავს, მხოლოდ ცალკეული მახასიათებლების მქონე ადამიანთა ჯგუფის მონაცემებს, რაც იწვევს უთანასწორობას და უპირატეს მდგომარეობაში აქცევს ძირითადად <articleLink>საშუალო სტატისტიკურ მამაკაცებს</articleLink>. აქცენტები, კილოები და კუთხური მეტყველება კი მცირედითაა წარმოდგენილი და დაკავშირებულია ხალხის იმ ჯგუფებთან, რომლებიც ისედაც გარიყულნი არიან. ასევე, ხშირად ქალის ხმის ამოცნობასაც ახლავს სირთულეები.
    სწორედ ამ მიზეზების გამო გვსურს ჩვენს ხმოვან მონაცემთა კრებულში მეტი მრავალფეროვნება!
faq-why-my-lang-q = რატომ არაა ჩემი ენა წარმოდგენილი?
faq-why-my-lang-new-a = Mozilla არ გამოარჩევს ან უპირატესობას არ ანიჭებს რომელიმე ენას სხვებთან შედარებით. Common Voice არის სრულიად ხალხის ერთობაზე დაფუძნებული წამოწყება, <multilangLink>ახალი ენის დამატება</multilangLink> და ხმოვანი მონაცემების შეგროვების დაწყება კი საჭიროებს რამდენიმე საფეხურის გავლას. პირველ რიგში, საჭიროა Common Voice-ის საიტის გადათარგმნა, რომ ერთობის წევრებმა შეძლონ საკუთარ ენაზე მისი გამოყენება. შემდეგ, გვესაჭიროება დიდი მოცულობის თავისუფლად ხელმისაწვდომი წინადადებები, რომლებიც უნდა ამოიკითხონ. როდესაც ორივე ეს პირობა დაკმაყოფილდება და ენა „გაეშვება“ Common Voice-ზე, ხალხს შეეძლება დაიწყოს საკუთარი ხმის ჩაწერა და სხვების ჩანაწერების დამოწმება. თუ გსურთ დაგვეხმაროთ ახალი ენის გაშვებაში, დასაწყისისთვის გაეცანით ჩვენს <sentenceCollectorLink>წინადადებების შეგროვების ხელსაწყოს</sentenceCollectorLink>.
faq-what-quality-q = როგორი ხარისხის უნდა იყოს ხმოვანი ჩანაწერი, მონაცემთა კრებულში ჩასამატებლად?
faq-what-quality-a = ჩვენ გვსურს, რომ Common Voice-ს მონაცემთა კრებულის დახმარებით, ხმის ტექსტად ქცევის ძრავებს შეეძლოს ხმის ამოცნობა ბუნებრივ პირობებში, ასე რომ გვესაჭიროება მრავალფეროვნება. ამასთან, განსხვავებულად მოსაუბრეთა ერთობის, განსხვავებული ხარისხის ხმოვანი ჩანაწერები წარმოთქმულის ტექსტად ქცევის ძრავებს შეასწავლის ხმის ამოცნობას სხვადასხვა გარემოში, ხმაურისას, მანქანის მოძრაობისას და ა. შ. საკმარისია, ჩანაწერში ხმა ისმოდეს გარკვევით და იგი გამოსადეგი იქნება კრებულისთვის.
faq-why-10k-hours-q = რატომაა საჭირო ჯამში 10,000 საათის ხანგრძლივობის დამოწმებული ჩანაწერი თითოეული ენისთვის?
faq-why-10k-hours-a = ესაა მიახლოებითი ოდენობა საათების, რომელიც აუცილებელია წარმოთქმულის ტექსტად ქცევის სისტემის ასამუშავებლად.
faq-how-calc-hours-q = როგორ ითვლის Common Voice საათებს?
faq-how-calc-hours-a = საათები გამოითვლება თითოეული ჩანაწერის ხანგრძლივობის მიახლოებითი საშუალოს შეფასებით და შემდეგ გამრავლებით ჩანაწერების ჯამურ რაოდენობაზე ყველა ენისთვის.
faq-where-src-from-2-q = საიდანაა ტექსტები აღებული?
faq-where-src-from-2-a =
    ტექსტების წყაროა შემომწირველების საკუთარი ნამუშევრები და აგრეთვე საუბრის ჩანაწერები საყოველთაო საკუთრებაში არსებული ფილმებიდან, როგორიცაა მაგალითად <italic>ცხოვრება მშვენიერია</italic>.
    
    მოცემული წინადადებების წყაროები შეგიძლიათ იხილოთ <githubLink>GitHub-ის ამ საქაღალდეში</githubLink>.
faq-why-not-ask-read-q = რატომ არ თხოვთ ხალხს ამოიკითხონ ტექსტი წიგნებიდან ან ვიკიპედიის სტატიებიდან სხვადასხვა ენებზე?
faq-why-not-ask-read-a = Common Voice-ის კრებული გამოსადეგი რომ იყოს ნებისმიერ პირობებში, გადავწყვიტეთ რომ მხოლოდ საყოველთაო საკუთრებაში არსებული ტექსტები იყოს დაშვებული ლიცენზიით Creative Commons (CC0). მართალია, ამ სახის ტექსტების მონახვა მეტ სიძნელეებთანაა დაკავშირებული, თუმცა იგი იმის წინაპირობას წარმოადგენს, რომ ხმოვანი მონაცემების გამოყენება შესაძლებელი იქნება ყოველგვარი შეზღუდვებისა და Mozilla-სგან ნებართვის აღების გარეშე. რაც მთავარია, ჩვენ გვსურს რომ მრავალენოვანი მონაცემთა კრებული, რაც შეიძლება მეტად გამოსადეგი იყოს ყველასთვის, მათ შორის მკვლევარებისთვის, სასწავლებლებისთვის, ახალი წამოწყებებისთვის, სამთავრობო და საზოგადოებრივი დაწესებულებებისთვის ან უბრალოდ, რიგითი მოყვარულებისთვის.
faq-why-account-q = რატომ უნდა შევქმნა ანგარიში?
faq-is-account-public-q = ჩემი ანგარიშის მონაცემები საჯაროა?
faq-how-privacy-q = როგორ უზრუნველყოფთ იმ ხალხის ვინაობისა და პირადი მონაცემების გასაჯაროებისგან დაცვას, რომლებიც საკუთარ ხმის ჩანაწერებს გიზიარებენ?
faq-how-privacy-a = ყველა ხმოვანი ჩანაწერი კრებულში გასუფთავებულია პირადი ინფორმაციისგან. როდესაც მოხალისე მოგვაწვდის დემოგრაფიულ მონაცემებს პროფილის მეშვეობით, ამ ინფორმაციაში ხდება ვინაობის მონაცემების დაფარვა, სანამ კრებულში დაემატება ჩამოსატვირთად და ასევე, არასდროს იქნება გასაჯაროებული მათი პროფილის გვერდზე.
faq-what-determine-identity-q = რას ნიშნავს, რომ არ შემეძლება მოსაუბრის „ვინაობის დადგენა“ Common Voice-ის მონაცემთა კრებულში?
faq-what-determine-identity-a =
    Common Voice კრებული არის ღია და საჯაროდ ხელმისაწვდომი საშუალება, რომელიც შეიძლება გამოყენებული იყოს ხმოვან ტექნოლოგიებზე დაფუძნებულ მრავალი სახის პროგრამაში. მოხალისეების უსაფრთხოებისთვის, ჩვენ მოვითხოვთ ყველასგან, ვინც ჩამოტვირთავს Common Voice-ს კრებულს, რომ პატივი სცენ პროექტის მონაწილეთა პირადი მონაცემების ხელშეუხებლობას.
    
    მონაცემთა კრებულში არსებულ ყველა ჩანაწერს მოცილებული აქვს ვინაობის დასადგენი ინფორმაცია. როდესაც ჩამოტვირთავთ კრებულს, თქვენ ეთანხმებით პირობას, რომ არ შეეცდებით მოხალისეების ვინაობის გამორკვევას. ეს ნიშნავს, რომ თქვენ არ შეგეძლებათ სცადოთ კრებულში არსებული მონაცემის, მოხალისის პირად ინფორმაციასთან დაკავშირება. თქვენ მხოლოდ შეგეძლებათ მონაცემთა კრებულის გამოყენება, რომ დახვეწოთ ხმის ამოცნობის, მოსაუბრის ამოცნობის ან სხვა სახის პროგრამები, მაგალითად კრებულში არსებული მონაცემის სხვა მონაცემთან დაკავშირებით, რომელიც აგრეთვე კრებულშია განთავსებული.
faq-what-is-cv = რა არის Common Voice?
faq-using-cv = Common Voice-ის გამოყენება
faq-description = Common Voice პროექტი არის Mozilla-ს წამოწყების ნაწილი, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ნამდვილი ადამიანები.
faq-search-for-answers =
    .label = პასუხების ძიება

## ABOUT US

about-title = რატომ Common Voice?
about-subtitle = Common Voice პროექტი არის Mozilla-ს წამოწყების ნაწილი, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ნამდვილი ადამიანები. გარდა Common Voice-ის მონაცემთა კრებულისა, ჩვენ ასევე ვმუშაობთ ღია წყაროს მქონე, ხმის ამომცნობ ძრავაზე, სახელწოდებით Deep Speech.
about-header-description =
    ორივე აღნიშნული პროექტი ჩვენი ძალისხმევის ნაწილია, ციფრულ ხმოვან სისტემებში არსებული სიცარიელეების ამოსავსებად. ხმის ამოცნობის საშუალებები ჩვენს მოწყობილობებს ხდის მეტად ადამიანურს, მაგრამ შემმუშავებლებს ესაჭიროებათ უზარმაზარი მოცულობის ხმოვანი მონაცემები, მათ შესაქმნელად. ამჟამად, ამგვარი მონაცემები უმეტესად ძვირია და კერძო საკუთრებას წარმოადგენს.
    ჩვენ კი გვინდა, რომ ხმოვანი მონაცემები გავხადოთ თავისუფალი და საჯაროდ ხელმისაწვდომი, ამასთან უზრუნველვყოთ, რომ ეს მონაცემები სრულად მოიცავდეს ადამიანების მრავალფეროვნებას. ერთად ჩვენ შეგვიძლია გავხადოთ ხმის ამოცნობა უკეთესი ყველასთვის.
about-header-description-2 =
    აღნიშნული პროექტი ჩვენი ძალისხმევის ნაწილია, ციფრულ ხმოვან სისტემებში არსებული დანაკლისის ამოსავსებად. ხმის ამოცნობის საშუალებები ჩვენს მოწყობილობებს ხდის მეტად ადამიანურს, მაგრამ შემმუშავებლებს ესაჭიროებათ უზარმაზარი მოცულობის ხმოვანი მონაცემები, მათ შესაქმნელად. ამჟამად, ამგვარი მონაცემები უმეტესად ძვირია და კერძო საკუთრებას წარმოადგენს.
    ჩვენ კი გვინდა, რომ ხმოვანი მონაცემები გავხადოთ თავისუფლი და საჯაროდ ხელმისაწვდომი, ამასთან უზრუნველვყოთ, რომ ეს მონაცემები სრულად მოიცავდეს ადამიანების მრავალფეროვნებას. ერთად, ჩვენ შევძლებთ გავაუმჯობესოთ ხმის ამოცნობის საშუალებები ყველასთვის.
how-does-it-work-title = როგორ მუშაობს?
how-does-it-work-text = ჩვენ ვქმნით ხმის ჩანაწერების მონაცემთა კრებულს, მოხალისეების მასობრივი ჩართულობით. გაიღეთ თქვენი ხმა, შეამოწმეთ სხვების მიერ შექმნილი ჩანაწერების სიზუსტე, გააუმჯობესეთ მონაცემთა კრებულის ხარისხი ყველასთვის.
about-speak = წარმოთქმა
about-speak-text = მოხალისეები აკეთებენ ხმოვან ჩანაწერებს, შემოწირულობით შეგროვებული წინადადებების წაკითხვით.
about-listen-queue = მოსასმენი რიგი
about-listen-queue-text = ხმოვანი ჩანაწერები, რომლებიც წარდგენილია მოსასმენად და შესაფასებლად.
about-listen = მოსმენა
about-listen-text = მომხმარებლები ამოწმებენ შემოწირული ჩანაწერების სიზუსტეს, აფასებენ, სწორად არის თუ არა წარმოთქმული წინადადება.
about-is-it-valid = არის ჩანაწერი მართებული?
about-is-it-valid-text = ხმოვანი ჩანაწერი „მართებულად“ მოინიშნება, თუ მომხმარებელი დადებითად შეაფასებს.
about-yes-votes = ≥ 2 დადებითი შეფასება
about-yes-votes-text = იმისათვის, რომ Common Voice-ის მონაცემთა კრებულში დაემატოს, ხმის ჩანაწერი უნდა დამოწმდეს ორი სხვადასხვა მომხმარებლის მიერ.
about-no-votes = ≥ 2 უარყოფითი შეფასება
about-no-votes-text = როდესაც მომხმარებელი უარყოფს ხმოვან ჩანაწერს, იგი დაუბრუნდება რიგს. თუ მეორედაც უარყოფენ, ხმის ჩანაწერი გადავა ჩანაწერების სასაფლაოზე.
about-dataset-new = Common Voice-ის მონაცემთა ბაზა
about-dataset-new-text = Common Voice-ის მონაცემთა კრებული შეიცავს ასეულ ათასობით ხმის ნიმუშს, რომლებიც გამოადგება შემმუშავებლებს, ხმის ამომცნობი საშუალებების შექმნაში.
about-clip-graveyard = ჩანაწერების სასაფლაო
about-clip-graveyard-text = ჩანაწერების სასაფლაო შედგება იმ ხმოვანი ჩანაწერებისგან, რომლებიც არაა წარმოდგენილი Common Voice-ის მონაცემთა კრებულში. ჩანაწერების სასაფლაო, აგრეთვე ხელმისაწვდომია ჩამოსატვირთად, მსგავსად მონაცემთა კრებულისა.
about-partners = თანამშრომლობა
about-become-a-partner = ითანამშრომლეთ ჩვენთან
about-partnership =
    Common Voice არის ურთიერთთანამშრომლობაზე დამყარებული პროექტი და ჩვენ დამოკიდებულნი ვართ თანამონაწილეებისა და მოხალისეების ერთობაზე, უდიდესი ღია წყაროს მქონე, ხმოვან მონაცემთა კრებულის შესაქმნელად.
    
    ჩვენ გვინდა, მადლობა გადავუხადო აღნიშნულ ადამიანებსა და დაწესებულებებს, პროექტში შეტანილი წვლილისთვის:
about-get-involved = ჩაერთეთ
about-get-involved-text-2 =
    გსურთ დაგვეხმაროთ, რომ Common Voice გახდეს უკეთესი?
    მშვენიერია! შეგვეხმიანეთ ელფოსტით ან <discourseLink>Discourse-ით</discourseLink>
    ფორუმებზე, მოგვახსენეთ ხარვეზები <githubLink>GitHub-ზე</githubLink> ან შემოგვიერთდით
    <matrixLink>Matrix-ზე</matrixLink> საერთო მიმოწერაში.
about-nav-why-common-voice = რატომ?
about-nav-how-it-works = როგორ?
about-nav-partners = თანამშრომლობა
about-nav-get-involved = შემოგვიერთდით
mycroft-title = Mycroft AI
mycroft-subtitle = ხელოვნური ინტელექტი
mycroft-description =
    Mycroft არის მსოფლიოში პირველი ღია წყაროს მქონე თანაშემწე.
    Mycroft მუშაობს ყველგან – სამაგიდო კომპიუტერზე, ავტომანქანაში და აგრეთვე Raspberry Pi-ზეც.
mycroft-secondary-description = ეს არის ღია პროგრამული უზრუნველყოფა, რომელიც შეიძლება თავისუფლად გარდაიქმნას, გაფართოვდეს და გაუმჯობესდეს. Mycroft-ის გამოყენება შეიძლება ნებისმიერ საქმიანობაში, დაწყებული სამეცნიერო პროექტებით, დასრულებული დაწესებულების პროგრამული სისტემებით.

## Glossary

glossary = სიტყვარი
localization = თარგმნა
localization-explanation = შიგთავსის მორგება სხვადასხვა ენებისთვის.
sentence-collection = წინადადებების შეგროვება
sentence-collection-explanation = წინადადებების მოძიება საყოველთაო საკუთრებაში არსებული მასალებიდან ან ახლის შექმნა.
hours-recorded-explanation = მიმდინარე დროისთვის შეგროვებული ხმის ჩანაწერების ხანგრძლივობა საათებში.
hours-validated-explanation = ხმის ჩანაწერების ოდენობა, რომელსაც გავლილი აქვს შემოწმება 2 ან 3 მომხმარებლის მიერ „დიახ“ ღილაკზე დაჭერით. იგი აღნიშნავს მიმდინარე წინსვლას, პროექტის საერთო მიზანთან – 10 ათას საათთან მიმართებით.
sst = წარმოთქმულის ტექსტად ქცევა
sst-explanation = წარმოთქმულის ტექსტად ქცევის (ინგლ. Speech-to-text (STT)) საშუალებები, ხმოვან მონაცემებს გარდაქმნის ტექსტად.
de-identified = ვინაობის მონაცემების მოცილება
de-identified-explanation = მოხალისეების პროფილის მონაცემების დაფარვა და გამიჯვნა მათ მიერ მოწოდებული ხმოვანი ჩანაწერებისგან, ჩამოსატვირთ კრებულში დამატებისას.

## Error pages

error-title-404 = გვერდი ვერ მოიძებნა
error-content-404 = იქნებ ჩვენი <homepageLink>მთავარი გვერდი</homepageLink> დაგეხმაროთ? კითხვის დასასმელად, შემოუერთდით <matrixLink>Matrix-ის ერთობის სასაუბროს</matrixLink>, საიტის ხარვეზების შესახებ იხილეთ <githubLink>GitHub</githubLink> ან ეწვიეთ <discourseLink>ჩვენს Discourse-ფორუმებს</discourseLink>.
error-title-503 = საიტის მუშაობის დაუგეგმავი შეჩერება
error-content-503 = საიტი აღდგება უმოკლეს დროში. უახლესი ინფორმაციისთვის, გთხოვთ შემოუერთდეთ <matrixLink>Matrix-ის ერთობის სასაუბროს</matrixLink>, ან იხილოთ <githubLink>GitHub</githubLink> და ეწვიეთ <discourseLink>ჩვენს Discourse-ფორუმებს</discourseLink>, ხარვეზების მოსახსენებლად.
error-code = შეცდომა { $code }

## Data

data-download-button = Common Voice მონაცემების ჩამოტვირთვა
data-download-yes = დიახ
data-download-deny = არა
data-download-license = ლიცენზია: <licenseLink>CC-0</licenseLink>
data-download-modal = თქვენ აპირებთ <size>{ $size }გბ</size> მოცულობის მონაცემების ჩამოტვირთვას, გსურთ განაგრძოთ?
data-subtitle = ჩვენ ვქმნით ღია და საჯაროდ ხელმისაწვდომ ხმოვან მონაცემთა კრებულს, რომლის გამოყენებაც ნებისმიერს შეეძლება ხმოვანი ტექნოლოგიების მქონე პროგრამების მუშაობის გაუმჯობესებისთვის.
data-explanatory-text = ჩვენ მიგვაჩნია, რომ დიდი და საჯაროდ ხელმისაწვდომი ხმოვან ჩანაწერთა კრებულები ხელს შეუწყობს სიახლეების გამოგონებასა და ჯანსაღ კონკურენციას, ხმოვანი ტექნოლოგიების სფეროში. ესაა საერთაშორისო ძალისხმევა და ჩვენ ვიწვევთ ყველას, მონაწილეობის მისაღებად. ჩვენი მიზანია, რომ ხმოვანი ამოცნობის სისტემები გახდეს მეტად საყოველთაო და შეეძლოს ყველანაირი სახის ხმის ამოცნობა, მთელი მსოფლიოს მასშტაბით.
data-get-started = <speechBlogLink>მუშაობის დაწყება, ხმის ამოცნობის სისტემაზე</speechBlogLink>
data-other-title = ხმოვანი მონაცემების სხვა კრებულები...
data-other-goto = { $name }-ზე გადასვლა
data-other-download = მონაცემების ჩამოტვირთვა
data-bundle-button = მონაცემთა კრებულის ჩამოტვირთვა
data-bundle-description = Common Voice მონაცემებს დამატებული, ზემოთ მოცემული ხმოვან მონაცემთა ყველა სხვა კრებული.
release-version = გამოშვება
dataset-date = თარიღი
license = ლიცენზია: <licenseLink>{ $license }</licenseLink>
license-mixed = შერეული
data-download-singleword-title = ჩამოტვირთეთ ცალკეული სიტყვების მიზნობრივი კრებული
data-download-singleword-callout-v2 = მოხმარების კვლევის საფუძველზე შედგენილი კრებული, ციფრებისა და დიახ/არა ხმოვანი ბრძანებების ამოცნობის დასახვეწად.
review-terms = Common Voice-ის გამოყენებით, ეთანხმებით ჩვენს <termsLink>პირობებსა</termsLink> და <privacyLink>პირადი მონაცემების დაცვის განაცხადს</privacyLink>
terms-agree = ვეთანხმები
terms-disagree = არ ვეთანხმები
review-aborted = ატვირთვა შეწყვეტილია. გსურთ თქვენი ჩანაწერების წაშლა?
review-submit-title = გადახედვა და გადაგზავნა
review-submit-msg = გმადლობთ ჩანაწერისთვის!<lineBreak></lineBreak>ახლა კი შეგიძლიათ გადახედოთ და გადააგზავნოთ თქვენი ჩაწერილი მონაკვეთები ქვემოთ.
review-recording = გადახედვა
review-rerecord = ახლიდან ჩაწერა
review-cancel = გადაგზავნის გაუქმება
review-keep-recordings = ჩანაწერების დატოვება
review-delete-recordings = ჩემი ჩანაწერების წაშლა

## Datasets Page

datasets-headline = ჩვენ ვქმნით ღია წყაროს მქონე, მრავალენოვანი ხმოვანი ჩანაწერების მონაცემთა კრებულს, რომლის გამოყენებაც ნებისმიერ მსურველს შეეძლება თავისი ხმოვანი შესაძლებლობების მქონე პროგრამების დასახვეწად.
datasets-positioning = ჩვენ მიგვაჩნია, რომ დიდი, საჯაროდ ხელმისაწვდომი ხმოვან მონაცემთა კრებული, ხელს შეუწყობს სიახლეების დანერგვასა და ჯანსაღი მეტოქეობის განვითარებას, მანქანურ სწავლებაზე დაფუძნებულ, ხმოვან ტექნოლოგიებში.
language = ენა
# File size in gigabytes
size = ზომა
validated-hr-total = დამოწმებული სთ სულ
overall-hr-total = საერთო ჯამში სთ
cv-license = ლიცენზია
audio-format = ხმის ფორმატი
number-of-voices = ხმების რაოდენობა
splits = დანაწილება
email-to-download = შეიყვანეთ ელფოსტა ჩამოსატვირთად
why-email = <b>რა საჭიროა ელფოსტა?</b> ჩვენ შესაძლოა დაგვჭირდეს მომავალში თქვენთან დაკავშირება, მონაცემთა ბაზაში შეტანილი ცვლილებების თაობაზე, ელფოსტა კი ამის საშუალებას მოგვცემს.
confirm-size = მზად ხართ, რომ ჩამოიტვირთოს <b>{ $size }</b>
size-gigabyte = გბ
size-megabyte = მბ
confirm-no-identify = <b>თქვენ თანახმა ხართ</b>, რომ არ შეეცდებით Common Voice-ის ხმის ჩანაწერთა კრებულში წვლილის შემტანთა ვინაობის დადგენას
download-language = ჩამოიტვირთოს { $language }
validated-hours = დამოწმებული საათები
recorded-hours = ჩაწერილი საათები
whats-inside = რას შეიცავს Common Voice-ის მონაცემთა კრებული?
dataset-description-hours =
    თითოეული მონაცემი წარმოდგენილია უნიკალური MP3-ისა და შესაბამისი ტექსტური ფაილის სახით. <b>{ $total }</b> საათიანი ჩანაწერების დიდი ნაწილი კრებულში, ასევე შეიცავს დემოგრაფიულ მონაცემებსაც, როგორიცაა ასაკი, სქესი და აქცენტი, რაც შეიძლება მეტად გამოსადეგი იყოს, ხმის ამოცნობის საშუალებების სიზუსტის დასახვეწად.
    
    მონაცემთა კრებული, ამჟამად შედგება <b>{ $valid }</b> საათიანი დამოწმებული ჩანაწერებისგან <b>{ $languages }</b> ენისთვის, მაგრამ მუდმივად ემატება ახალი ჩანაწერები და ენები. გადახედეთ ჩვენი <languagesLink>ენების გვერდს</languagesLink>, ახალი ენის მოთხოვნისთვის ან წვლილის შეტანის დასაწყებად.
want-dataset-update = გსურთ გეცნობოთ სიახლეები, Common Voice-ის ახალ მონაცემთა კრებულის გამოშვებისას? გამოიწერეთ ჩვენი ახალი ამბების ცნობარი.
subscribe = გამოწერა
get-started-speech = ხმის ამოცნობის საშუალებების გაცნობა
other-datasets = სხვა ხმოვან მონაცემთა კრებულები
feedback-q = გსურთ გამოხმაურება?
resource-nemo-info = <githubLink>NVIDIA NeMo</githubLink>™ არის <docsLink>ღია წყაროს ხელსაწყოების ნაკრები</docsLink> მკვლევართათვის, უახლესი სახის AI-მოდელების შესამუშავებლად.
resource-deepspeech-info = Mozilla-ს ღია წყაროს ხმის ამომცნობი ძრავა Deep Speech, შეგიძლიათ გამოიყენოთ თქვენი ხმის ამომცნობი პროგრამებისთვის. იხილეთ ჩვენი <githubLink>Github-მიმოხილვა</githubLink> ან შემოგვიერთდით <discourseLink>DeepSpeech-ის სასაუბროში</discourseLink> ვრცლად გასაცნობად და მუშაობის დასაწყებად.
resource-coqui-info = <coquiLink>Coqui</coquiLink> განკუთვნილია, ხმის ამომცნობი ღია საშუალებებისთვის. მათი ნამუშევრები შეეხება ღრმა შესწავლას, STT და TTS ძრავების საფუძველზე.
community-playbook = ერთობის სახელმძღვანელო
resource-playbook-info = <playbookLink>მოიძიეთ სასარგებლო მითითებები</playbookLink> Common Voice-ის შესახებ სრულად, დაწყებული თარგმნის მიმდინარეობიდან, დასრულებული მონაცემთა კრებულის გამოყენებით, აგრეთვე იხილეთ, როგორ შეგიძლიათ შემოუერთდეთ ჩვენს ერთობას.
data-other-librispeech-description = LibriSpeech წარმოადგენს დაახლოებით 1000 საათიან, 16Khz ხმოვანი ჩანაწერების კრებულს, LibriVox პროექტის ხმოვანი წიგნებიდან.
data-other-ted-name = TED-LIUM კრებული
data-other-ted-description = TED-LIUM ხმოვანი საუბრებისა და სამეტყველო ბგერებისგანაა შედგენილი, რომელიც TED ვებსაიტზე იყო ხელმისაწვდომი.
data-other-voxforge-description = VoxForge იყო სამეტყველო ბგერათა ხმოვანი კრებული, უფასო და ღია წყაროს ხმოვანი ამოცნობის სისტემებისთვის შექმნილი.
data-other-tatoeba-description = Tatoeba არის დიდი მონაცემთა კრებული წინადადებების, თარგმანის, საუბრის ჩანაწერების, ენის შესწავლისთვის გამოსაყენებლად. ეს ჩამოტვირთვა შეიცავს ინგლისურად მოსაუბრეთა ჩანაწერებს, მათი ერთობიდან.
your-feedback = გაქვთ მოსაზრებები თუ როგორ შეგვიძლია გავაუმჯობესოთ Common Voice-ის მონაცემთა კრებული? გვაცნობეთ სასაუბრო ფორუმზე.
go-discourse = სასაუბროში გადასვლა
missing-language = ვერ მონახეთ თქვენი ენა მონაცემთა კრებულში? მოითხოვეთ ენის დამატება ჩვენი საიტის ენების გვერდზე.
go-languages-page = ენების გვერდზე გადასვლა
ready-to-validate = მზად ხართ, დაგვეხმაროთ წინადადებების დამოწმებაში?
more = ვრცლად
close = დახურვა
download = ჩამოტვირთვა
dataset-version = ვერსია

## Download Modal

download-title = თქვენი ჩამოტვირთვა დაწყებულია.
download-helpus = დაგვეხმარეთ ხმოვანი ტექნოლოგიების გარშემო, ერთობის შემოკრებაში, დარჩით კავშირზე ელფოსტის საშუალებით.
download-form-email =
    .label = შეიყვანეთ თქვენი ელფოსტა
    .value = გმადლობთ, აუცილებლად შეგეხმიანებით.
download-back = Common Voice-ის მონაცემთა კრებულებზე დაბრუნება
download-no = არა, გმადლობთ

## Contact Modal

contact-title = დაკავშირება
contact-form-name =
    .label = სახელი
contact-form-message =
    .label = შეტყობინება
contact-required = *აუცილებელია

## Request Language Modal

request-language-title = ენის მოთხოვნა
request-language-form-language =
    .label = ენა
request-language-success-title = ენის მოთხოვნა გადაიგზავნა წარმატებით, გმადლობთ.
request-language-success-content = ჩვენ მალე მოგაწვდით ინფორმაციას, თუ როგორ უნდა დაამატოთ თქვენი ენა Common Voice-ში.
select-language = აირჩიეთ ენა...
other-language = სხვა ენები

## Languages Overview

language-section-in-progress = მუშავდება
language-section-in-progress-new-description = მოცემული ენები მუშავდება ერთობის მიერ. მიმდინარე მდგომარეობის ზოლები აჩვენებს, თუ საიტის რა ნაწილია <localizationGlossaryLink>გადათარგმნილი</localizationGlossaryLink> და რა რაოდენობის <sentenceCollectionGlossaryLink>წინადადებაა შეგროვებული</sentenceCollectionGlossaryLink>.
language-section-launched = გაშვებულია
language-section-launched-description = მოცემულ ენებზე ვებსაიტი სრულადაა <localizationGlossaryLink>თარგმნილი</localizationGlossaryLink> და <sentenceCollectionGlossaryLink>წინადადებებიც საკმარისადაა </sentenceCollectionGlossaryLink>შეგროვებული ხმის <speakLink>ჩაწერისა</speakLink> და ჩანაწერების <listenLink>მოსმენისთვის</listenLink>.
languages-show-more = ვრცლად
languages-show-less = შემოკლებულად
language-meter-in-progress = მიმდინარეობა
language-total-progress = სულ
language-search-input =
    .placeholder = ძიება
language-speakers = მოსაუბრე
localized = თარგმნილი
sentences = წინადადებები
total-hours = ჯამში საათი

## Contribution

action-click = დააწექით
action-tap = დააჭირეთ
contribute = წვლილის შეტანა
listen = მოსმენა
skip = გამოტოვება
shortcuts = მალსახმობები
clips-with-count-pluralized =
    { $count ->
        [one] <bold>{ $count }</bold> ჩანაწერი
       *[other] <bold>{ $count }</bold> ჩანაწერი
    }
goal-help-recording = თქვენ დაეხმარეთ Common Voice-ს დღიური მიზნის, { $goalValue } ჩანაწერის <goalPercentage></goalPercentage>-ის შექმნაში!
goal-help-validation = თქვენ დაეხმარეთ Common Voice-ს დღიური მიზნის, { $goalValue } შემოწმების <goalPercentage></goalPercentage>-ის შესრულებაში!
contribute-more = მზად ხართ შეასრულოთ კიდევ { $count }?
record-cta = ჩაწერის დაწყება
record-platform-not-supported = სამწუხაროდ, თქვენი სისტემა ამჟამად არაა მხარდაჭერილი.
record-platform-not-supported-desktop = სამაგიდო კომპიუტერებზე, შეგიძლიათ ჩამოტვირთოთ უახლესი:
record-platform-not-supported-ios-non-safari = iOS-ზე, გთხოვთ გამოიყენოთ Safari ჩაწერისთვის…
record-must-allow-microphone = საჭიროა მიკროფონთან წვდომის დაშვება.
record-no-mic-found = მიკროფონი ვერ მოიძებნა.
record-error-too-short = ჩანაწერი ზედმეტად მოკლე იყო.
record-error-too-long = ჩანაწერი ზედმეტად გრძელი იყო.
record-error-too-quiet = ჩანაწერი ზედმეტად ხმადაბალი იყო.
record-cancel = ახლიდან ჩაწერის გაუქმება
record-instruction = { $actionType } ღილაკს <recordIcon></recordIcon> და შემდეგ წაიკითხეთ წინადადება ხმამაღლა
record-stop-instruction = { $actionType } ღილაკს <stopIcon></stopIcon> როცა დაასრულებთ
record-three-more-instruction = სამიღაა დარენილი!
record-again-instruction = მშვენიერია! <recordIcon></recordIcon> გააკეთეთ შემდეგი ჩანაწერი
record-again-instruction2 = ასე განაგრძეთ, ჩაწერეთ კვლავ <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> ბოლო!
review-tooltip = აქედან შეგიძლიათ შეამოწმოთ და ახლიდან შექმნათ ჩანაწერი
share-clip = გააზიარეთ თქვენი ჩანაწერი
share-common-voice = გააზიარეთ Common Voice
review-instruction = შეამოწმეთ ჩანაწერები ან ახლიდან ჩაწერეთ, თუ საჭიროა
record-submit-tooltip = { $actionType } გადაგზავნას როცა მზად იქნებით
clips-uploaded = ჩანაწერები ატვირთულია
record-abort-title = ჯერ დასრულდეს ჩაწერა?
record-abort-text = ახლავე დატოვება ნიშნავს რომ დაიკარგება არსებული შედეგი
record-abort-submit = ჩანაწერების გადაგზავნა
record-abort-continue = ჩაწერის დასრულება
record-abort-delete = გამოსვლა და ჩანაწერების წაშლა
listen-instruction = { $actionType } ღილაკს <playIcon></playIcon> სწორად იყო გახმოვანებული წინადადება?
listen-again-instruction = მშვენიერი ნამუშევარია! <playIcon></playIcon> კვლავ მოუსმინეთ, როცა მზად იქნებით
listen-3rd-time-instruction = 2 უკვე მზადაა <playIcon></playIcon> ასე განაგრძეთ!
listen-last-time-instruction = <playIcon></playIcon> ბოლო!
listen-empty-state = დასამოწმებელი ჩანაწერები ამოიწურა ამ ენისთვის...
speak-empty-state = ჩასაწერი წინადადებები ამოიწურა ამ ენისთვის...
speak-empty-state-cta = შემოგვწირეთ წინადადებები
record-button-label = ჩაწერეთ თქვენი ხმა
share-title-new = <bold>დაგვეხმარეთ</bold> ხმების მოძიებაში
keep-track-profile = თვალი მიადევნეთ თქვენს წინსვლას პროფილის მეშვეობით
login-to-get-started = შედით ან შექმენით ანგარიში დასაწყებად
target-segment-first-card = თქვენ წვლილი შეგაქვთ ჩვენს პირველ მიზნობრივ კრებულში
target-segment-generic-card = თქვენ წვლილი შეგაქვთ მიზნობრივი კრებულისთვის
target-segment-first-banner = დაგვეხმარეთ შევქმნათ Common Voice-ის პირველი მიზნობრივი კრებული { $locale } ენისთვის.
target-segment-add-voice = დაამატეთ საკუთარი ხმა
target-segment-learn-more = ვრცლად

## Reporting

report = მოხსენება
report-title = მოხსენების გაგზავნა
report-ask = რა ხარვეზს გადააწყდით წინადადებაში?
report-offensive-language = უხამსი შინაარსი
report-offensive-language-detail = წინადადება შეუსაბამო ან უხამსი შინაარსისაა.
report-grammar-or-spelling = გრამატიკული / ორთოგრაფიული შეცდომა
report-grammar-or-spelling-detail = წინადადება გრამატიკული ან მართლწერის შეცდომითაა.
report-different-language = განსხვავებული ენა
report-different-language-detail = დაწერილია ჩემი სასაუბრო ენისგან განსხვავებულ ენაზე.
report-difficult-pronounce = რთულად წარმოსათქმელია
report-difficult-pronounce-detail = შეიცავს სიტყვებს ან ფრაზებს, რომლებიც ძნელად იკითხება ან წარმოითქმის.
report-offensive-speech = უხამსი მეტყველება
report-offensive-speech-detail = ჩანაწერი შეუსაბამო ან უხამსი შინაარსისაა.
report-other-comment =
    .placeholder = შენიშვნა
success = შესრულდა
continue = გაგრძელება
report-success = მოხსენება წარმატებით გაიგზავნა

## Goals

streaks = წვლილი
days =
    { $count ->
        [one] დღე
       *[other] დღე
    }
recordings =
    { $count ->
        [one] ჩანაწერი
       *[other] ჩანაწერი
    }
validations =
    { $count ->
        [one] დამოწმება
       *[other] დამოწმება
    }

## Dashboard

your-languages = თქვენი ენები
toward-next-goal = პირდაპირ შემდეგ მიზნამდე
goal-reached = მიზანი მიღწეულია
clips-you-recorded = თქვენი ჩანაწერები
clips-you-validated = თქვენ მიერ დამოწმებული
todays-recorded-progress = დღევანდელი წინსვლა ჩანაწერებში
todays-validated-progress = დღევანდელი წინსვლა დამოწმებაში
stats = სტატისტიკა
awards = ჯილდოები
you = თქვენ
everyone = ყველა
contribution-activity = შეტანილი წვლილი
top-contributors = მხურვალე მოხალისეები
recorded-clips = ჩაწერები
validated-clips = დამოწმებები
total-approved = სულ დამოწმებული
overall-accuracy = საერთო სიზუსტე
set-visibility = ხილვადობის დაყენება
visibility-explainer = ეს პარამეტრი განსაზღვრავს, მოწინავეთა სიაში თქვენს ხილვადობას. როცა დაფარულია, თქვენი წინსვლა არ იქნება ხილული სხვებისთვის. ეს ნიშნავს, რომ თქვენი გამოსახულება, მომხმარებლის სახელი და შესრულებული სამუშაო არ გამოჩნდება ჩამონათვალში. გაითვალისწინეთ, რომ მოწინავეთა ჩამონათვალის განახლებას, ესაჭიროება { $minutes }წთ, ცვლილებების ასახვისთვის.
visibility-overlay-note = შენიშვნა: როცა აყენია „ხილული“, მისი შეცვლა შესაძლებელია <profileLink>პროფილის გვერდიდან</profileLink>
show-ranking = ჩემი ადგილის ნახვა

## Custom Goals

get-started-goals = მიზნის შექმნა
create-custom-goal = საკუთარი მიზნის შექმნა
goal-type = რა მიზანი გსურთ დაისახოთ?
both-speak-and-listen = ორივე
both-speak-and-listen-long = ორივე (წარმოთქმა და მოსმენა)
daily-goal = ყოველდღიური მიზანი
weekly-goal = ყოველკვირეული მიზანი
easy-difficulty = მარტივი
average-difficulty = საშუალო
difficult-difficulty = რთული
pro-difficulty = გამოცდილი
lose-goal-progress-warning = მიზნის შეცვლით, შესაძლოა დაკარგოთ მიმდინარე წინსვლა.
want-to-continue = გსურთ, განაგრძოთ?
finish-editing = გსურთ, ჯერ ჩასწორების დასრულება?
lose-changes-warning = ახლავე დატოვებით თქვენი ცვლილებები დაიკარგება
build-custom-goal = საკუთარი მიზნის შექმნა
help-reach-hours-pluralized =
    დაგვეხმარეთ მივაღწიოთ{ NUMBER($hours) ->
        [one] { $hours } საათს
       *[other] { $hours } საათს
    }{ $language } ენისთვის, პირადი მიზნის დასახვით
help-reach-hours-general-pluralized =
    დაგვეხმარეთ Common Voice-ში მივაღწიოთ { NUMBER($hours) ->
        [one] { $hours } საათს
       *[other] { $hours } საათს
    } ენისთვის, პირადი მიზნის დასახვით
set-a-goal = მიზნის მითითება
cant-decide = ვერ გადაგიწყვეტიათ?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] { $totalHours } საათი
       *[other] { $totalHours } საათი
    } მიიღწევა სულ რაღაც  { NUMBER($periodMonths) ->
        [one] { $periodMonths } თვეში
       *[other] { $periodMonths } თვეში
    } თუ{ NUMBER($people) ->
        [one] { $people } ადამიანი
       *[other] { $people } ადამიანი
    } გააკეთებს { NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay } ჩანაწერს
       *[other] { $clipsPerDay } ჩანაწერს
    } დღეში
how-many-per-day = მშვენიერია! რამდენი ჩანაწერი ყოველდღიურად?
how-many-a-week = მშვენიერია! რამდენი ჩანაწერი ყოველკვირეულად?
which-goal-type = გირჩევნიათ წარმოთქმა, მოსმენა, თუ ორივე?
receiving-emails-info =
    თქვენ მითითებული გაქვთ, რომ გსურთ ელფოსტაზე მიიღოთ შეხსენებები შესასრულებელი მიზნების,
    აგრეთვე სამუშაოს მიმდინარეობის შესახებ და Common Voice-სთან დაკავშირებული სიახლეები.
not-receiving-emails-info = თქვენ მითითებული გაქვთ, რომ <bold>არ</bold> გსურთ ელფოსტაზე მიიღოთ შეხსენებები შესასრულებელი მიზნების, აგრეთვე სამუშაოს მიმდინარეობის შესახებ და Common Voice-სთან დაკავშირებული სიახლეები
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count } ჩანაწერი
       *[other] { $count } ჩანაწერი
    }
help-share-goal = დაგვეხმარეთ მეტი ხმის მოძიებაში, გააზიარეთ თქვენი მიზანი
confirm-goal = მიზნის დადასტურება
goal-interval-weekly = ყოველკვირეული
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = გააზიარეთ თქვენი მიზანი, ყოველდღიურად { $count } ჩანაწერის { $type }
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = გააზიარეთ თქვენი მიზანი, ყოველკვირეულად { $count } ჩანაწერის { $type }
share-goal-type-speak = წარმოთქმა
share-goal-type-listen = მოსმენა
share-goal-type-both = წარმოთქმა და მოსმენა
# LINK will be replaced with the current URL
goal-share-text = მე ახლახან შევქმენი ჩემი მიზანი, ხმის ჩანაწერების შესაწირად #CommonVoice – პროექტისთვის -- შემომიერთდი, რომ შევასწავლოთ მანქანებს, თუ როგორ საუბრობენ ნამდვილი ადამიანები { $link }
weekly-goal-created = თქვენი ყოველკვირეული მიზანი შექმნილია
daily-goal-created = თქვენი ყოველდღიური მიზანი შექმნილია
track-progress = თვალი მიადევნეთ წინსვლას აქ და თქვენი სტატისტიკის გვერდზე.
return-to-edit-goal = ნებისმიერ დროს შეგიძლიათ დაბრუნდეთ, მიზნის ჩასასწორებლად.
share-goal = ჩემი მიზნის გაზიარება

## Profile Delete

delete-q = გსურთ, რომ თქვენი ხმის ჩანაწერებიც წაიშალოს, თუ ამჯობინებთ მათ დატოვებას Common Voice-ის მონაცემთა კრებულში?
keep = დატოვება
remove = მოცილება
keep-info = თქვენი ხმოვანი ჩანაწერები, ვინაობის მონაცემების გარეშე დარჩება Common Voice-ის მონაცემთა კრებულში. პროფილის წაშლის შემდეგ, აღარ შეგეძლებათ თქვენი ჩანაწერების კრებულიდან მოცილების მოთხოვნა.
remove-info = ჩვენ გადავხედავთ თქვენს მოთხოვნას ხმის ჩანაწერების კრებულიდან მოცილების თაობაზე. თუ თქვენი მოთხოვნა დადასტურდება, ჩვენ დავუკავშირდებით მათ, ვინც უკვე ჩამოტვირთა ეს მონაცემთა კრებული და მათაც მოვთხოვთ ამოშალონ თქვენი ჩანაწერები.
why-delete-recordings =
    Common Voice-ის ჩანაწერები გამოიყენება მკვლევარების, მცირე დაწესებულებებისა და ხმის ამოცნობის საშუალებების შემუშავების მოყვარულების მიერ, თავიანთი დამზადებული სისტემების დასახვეწად.
    
    შეგიძლიათ განგვიმარტოთ, თუ რატომ გსურთ თქვენი ჩანაწერების წაშლა?
profile-form-delete = პროფილის წაშლა

## Profile Download

download-q = გესაჭიროებათ თქვენი მონაცემების ჩამოტვირთვა?
download-info = რისი ჩამოტვირთვა გსურთ:
download-profile-title = პროფილი
download-profile-info = მოიცავს ელფოსტას, მეტსახელსა და დემოგრაფიულ მონაცემებს
download-profile-size = რამდენიმე ბაიტი
download-recordings-title = ჩანაწერები
download-recordings-info = მოიცავს mp3-ფაილებს, თანმხლები წინადადებებით
download-recordings-size = ჩვეულებრივ, მეგაბაიტები
download-recordings-unavailable = არ შეგიძლიათ ჩანაწერების მოთხოვნა, როცა სხვა მოთხოვნა უკვე მუშავდება.
download-recently-requested = საკუთარი ჩანაწერების ამოღება შეგიძლიათ მოითხოვოთ ყოველ { $days } დღეში.
download-size = მოცულობა
download-selected = არჩეული
download-start = ჩამოტვირთვის დაწყება
download-request = ჩამოტვირთვის მოთხოვნა
download-requests = ჩამოტვირთვის წინა მოთხოვნები
download-requests-info = როდესაც მოითხოვთ თქვენს ჩანაწერებს, ჩვენ ვათავსებთ მათ ერთ ან რამდენიმე ZIP-ფაილში. აქაა, თქვენი წინა მოთხოვნები:
download-request-button = ჩამოტვირთვა
download-request-title = { $created }
download-request-description = { $clipCount } ხმოვანი ჩანაწერი, არქივის მოცულობა სულ { $size }. ვადა { $expires }.
download-request-archive-single = ერთ ZIP-ფაილად
download-request-archive-multiple = დაყოფილი { $archiveCount } ცალ ZIP-ფაილად
download-request-assembling-description = თქვენი ფაილები იკრიბება. გთხოვთ, შეამოწმოთ ცოტა ხანში.
download-request-refresh-button = განახლება
download-request-modal-title = ჩამოსატვირთი ბმულები
download-request-modal-description = აქაა ბმულები, თქვენი ZIP-ფაილების ჩამოსატვირთად.
download-request-link-text = Zip #{ $offset }, სულ { $total }
download-request-metadata-link = წინადადების ტექსტი
download-request-link-single = აგრეთვე, შეგიძლიათ ბმულის ასლები აიღოთ და ჩასვათ სასურველ ჩამოტვირთვების მმართველში. ვადა ამოიწურება 12 საათში, თუმცა ამ გვერდიდან, ნებისმიერ დროს მოახერხებთ, ბმულების ახლიდან წარმოქმნას.

## Landing

welcome-staff = მოგესალმებათ { $company }-ის თანამშრომლები!
help-contribute = თქვენ შეგიძლიათ დაგვეხმაროთ მრავალფეროვანი, ღია წყაროს მქონე მონაცემთა კრებულის შემუშავებაში, Common Voice-ის პროფილის შექმნითა და საკუთარი ხმის ჩანაწერების შემოწირვით.
login-company = შედით / შექმენით ანგარიში { $company }-ზე ელფოსტით
profile-not-required = პროფილის ქონა არაა სავალდებულო, თუმცა შემოტანილ წვლილს მეტად სარგებლიანს გახდის
read-more-about = ვრცლად, იხილეთ გვერდი ჩვენ შესახებ

## DemoLayout

demo-get-started = მოდი დავიწყოთ
demo-welcome = მოგესალმებათ Common Voice
demo-welcome-subheader = გსურთ შეისწავლოთ მეტი და წვლილი შეიტანოთ პროექტში?

## Demo Datasets

demo-language-select-card-header = Common Voice არის მსოფლიოში უდიდესი, საჯაროდ ხელმისაწვდომი, მრავალენოვანი ხმოვანი მონაცემების კრებული.
demo-language-select-card-body = 259 ათასზე მეტი მოხალისის შემწეობით 50-ზე მეტი ენისთვის, ეს მონაცემები გამოიყენება ხმოვანი პროგრამების დასახვეწად, ადამიანის ხმის უკეთ აღქმისთვის.
card-button-next = შემდეგი
card-button-back = წინა
demo-language-select-label = ენების მოძიება
demo-eofy-header = 2019 წლის ბოლო გამოცემა
demo-eofy-sub_header = ხმის მონაცემთა კრებული, გამზადებული ჩამოსატვირთად
demo-account = ანგარიში

## Demo Account

demo-account-card-header = ანგარიშის ქონა არაა სავალდებული, თუმცა შემოტანილ წვლილს მეტად სარგებლიანს გახდის.
demo-account-card-body = მარჯვნივ ჩამოწერილია უპირატესობები და ახსნილია, ინფორმაციის რა ნაწილი ხდება საჯარო. ისარგებლეთ ქვემოთ მოცემული ბმულებით, Common Voice-ის ანგარიშის შესაქმნელად, სასურველი მოწყობილობიდან.
demo-account-enter-email =
    .label = შეიყვანეთ ელფოსტა, ანგარიშის შესაქმნელი ბმულის გადასაგზავნად.
demo-account-sign-up = ბმულის გაგზავნა

## Demo Contribute

demo-contribute-card-header = მზად ხართ დაამატოთ თქვენი ხმა ან ყური დაუგდოთ?
demo-contribute-card-body-v2 = ახლა უკვე, ვინაიდან უკეთ გაიცანით Common Voice, არ გსურთ თავადვე გამოცადოთ? დაწკაპეთ მიკროფონის ნიშანზე და ამოიკითხეთ წინადადებები ხმამაღლა. <br/><br/>თუ გირჩევნიათ სხვების ხმოვანი შემოწირულობების შემოწმება, დაწკაპეთ გაშვების ნიშანზე. ამით დაგვეხმარებით დავადასტუროთ, რომ ჩანაწერი ზუსტად ემთხვევა ეკრანზე გამოსახულ წინადადებას.
demo-listen-subtitle = მზად ხართ წვლილის შეტანისთვის?

## Demo Dashboard

demo-dashboard-card-header = პირადი მაჩვენებლების გვერდი, გამცნობთ საკუთარ ან საერთო წინსვლას.
demo-dashboard-card-body = ყველა შემოწირული და შემოწმებული ხმოვანი ჩანაწერი, აღირიცხება მაჩვენებლების გვერდზე, წინსვლის სახით თითოეული ენისთვის, რომლისთვისაც წვლილი შეგაქვთ. დიახ, წვლილის შეტანა შეგიძლიათ ერთზე მეტი ენისთვის!<br/><br/> მაჩვენებლების გვერდზე, თვალი ადევნეთ თქვენს სტატისტიკას, შეადარეთ თქვენი საქმიანობა ერთობის დანარჩენი წევრებისას და მიუთითეთ შემოწირულობის სამიზნე რაოდენობა, თითოეული დღისთვის ან კვირისთვის.

## Validation criteria

contribution-criteria-nav = სისწორის საზომი
contribution-criteria-link = წვლილის სწორად შეტანის შესახებ
contribution-criteria-page-title = წვლილის შეტანა სწორად
contribution-criteria-page-description = გაეცანით, თუ რას უნდა დააკვირდეთ ჩანაწერების მოსმენისას და გააუმჯობესეთ ხმის ჩაწერის სარგებლიანობაც!
contribution-for-example = მაგალითები
contribution-misreadings-title = შეცდომით ამოკითხვა
contribution-misreadings-description = მოსმენისას, ყურადღებით გადაამოწმეთ, ჩანაწერში ისმის თუ არა ზუსტად იგივე, რაც წერია; უარყავით, თუ მცირე აცდენას მაინც შეამჩნევთ. <br />ხშირი შეცდომებია:
contribution-misreadings-description-extended-list-1 = აკლია <strong>„შე-“</strong>, <strong>„გა-“</strong> ან სხვა წინსართი თავში.
contribution-misreadings-description-extended-list-2 = აკლია <strong>„ც“</strong> სიტყვის ბოლოში.
contribution-misreadings-description-extended-list-3 = შემოკლებულია სიტყვა, მაგალითად წაკითხულია „არაა“, მაგრამ წერია „არ არის“ ან პირიქით.
contribution-misreadings-description-extended-list-4 = აკლია ბოლო სიტყვა ან ბგერა, ჩაწერის დროზე ადრე შეწყვეტის გამო.
contribution-misreadings-description-extended-list-5 = სიტყვა გამეორებულია, ამოკითხვის რამდენიმე მცდელობის გამო.
contribution-misreadings-example-1-title = ახალი თავმჯდომარეც უკვე არჩეულია.
contribution-misreadings-example-2-title = ახალი თავმჯდომარე უკვე არჩეულია.
contribution-misreadings-example-2-explanation = [უნდა იყოს „თავმჯდომარეც“]
contribution-misreadings-example-3-title = ახალი თავმჯდომარეც უკვე არჩეული-.
contribution-misreadings-example-3-explanation = [ჩანაწერი გაწყვეტილია სიტყვის დასრულებამდე]
contribution-misreadings-example-4-title = ახალი თავმჯდომარეც უკვე არჩეულია. დიახ.
contribution-misreadings-example-4-explanation = [ზედმეტი სიტყვაა ჩაწერილი]
contribution-misreadings-example-5-title = გადაკეტილი აღარ არის ზამთარში გზა.
contribution-misreadings-example-6-title = გადაკეტილი აღარაა ზამთარში გზა.
contribution-misreadings-example-6-explanation = [უნდა იყოს „აღარ არის“]
contribution-misreadings-example-7-title = დაკეტილი აღარ არის ზამთარში გზა.
contribution-misreadings-example-7-explanation = [აკლია „გა-“ წინსართი]
contribution-misreadings-example-8-title = რაც გინახავს, ვეღარ ნახავ.
contribution-misreadings-example-8-explanation = [არ ემთხვევა ამოკითხული ნაწერს]
contribution-varying-pronunciations-title = განსხვავებული გამოთქმა
contribution-varying-pronunciations-description = სიფრთხილე გამოიჩინეთ, ჩანაწერის უარყოფისას, როცა საქმე ეხება სიტყვის არასწორ წარმოთქმას, მახვილის სხვაგან დასმას ან კითხვის ნიშნის უგულებელყოფას. ვინაიდან, ერთ ენაში, შესაძლოა, მრავალი სხვადასხვა სახის გამოთქმა არსებობდეს, რომელთა ნაწილიც არასდროს გქონდეთ გაგონილი, ადგილობრივ საზოგადოებაში. გთხოვთ, გაითვალისწინოთ ისინიც, ვინც შესაძლოა, თქვენგან განსხვავებულად საუბრობდნენ.
contribution-varying-pronunciations-description-extended = მეორე მხრივ, თუ ფიქრობთ რომ მკითხველი პირველად გადააწყდა ამ სიტყვას და უბრალოდ, შეცდომა დაუშვა მისი წარმოთქმისას, გთხოვთ უარყოთ. თუ არ ხართ დარწმუნებული, გამოიყენეთ გამოტოვების ღილაკი.
contribution-varying-pronunciations-example-1-title = სახლში მოვნათლავთ ხოლმე.
contribution-varying-pronunciations-example-1-explanation = [წინადადების დაბოლოებისას (ხოლმე) ბოლო ხმოვანი, ზოგ დიალექტში შეიძლება დაგრძელდეს]
contribution-varying-pronunciations-example-2-title = დილით აუცილებლად დაგხვდება, არა?
contribution-varying-pronunciations-example-2-explanation = [კითხვის დამადასტურებელი ნაწილაკი (ხომ ან არა), ყოველთვის მახვილის ქვეშაა, ქართულში]
contribution-background-noise-title = ხმაური უკანა ფონზე
contribution-background-noise-description = გვსურს, მანქანური სწავლების ალგორითმებს შეეძლოს მუშაობა სხვადასხვა ხმაურის ფონზე, დასაშვებია მეტად ხმამაღალი ხმაურიც, თუ ხელს არ უშლის წაკითხული ტექსტის გაგონებას. ხმადაბალი მუსიკა ფონზე, მისაღებია; ხოლო თუ მუსიკის მაღალი ხმოვანების გამო, სიტყვები აღარ გესმით, მაშინ - არა.
contribution-background-noise-description-extended = როცა ჩანაწერი წყდება ან შრიალია, უარყავით თუ ტექსტის სრულად მოსმენა შეუძლებელია.
contribution-background-noise-example-1-fixed-title = <strong>[ცემინება]</strong> ახალი თავმჯდომარეც უკვე <strong>[ხველა]</strong> არჩეულია.
contribution-background-noise-example-2-fixed-title = ახალი თავ <strong>[ხველა]</strong> უკვე არჩეულია.
contribution-background-noise-example-2-explanation = [ტექსტის ნაწილი არ ისმის]
contribution-background-noise-example-3-fixed-title = <strong>[შიშინი]</strong> თავმჯდომარეც უკვე <strong>[შხრიალი]</strong> -რჩეულია.
contribution-background-voices-title = ლაპარაკი უკანა ფონზე
contribution-background-voices-description = ხალხმრავალი ყაყანი შორიდან მისაღებია, მაგრამ დამატებითი ხმები არასასურველია, რომ მანქანურმა ალგორითმმა არ ამოიცნოს ის სიტყვები, რომლებიც ნაწერში არაა. თუ ტექსტში არარსებული სიტყვები ხმოვან ჩანაწერში მკაფიოდ ისმის, მაშინ უნდა უარყოთ. უმეტესად, ეს ეხება შემთხვევებს, როცა ტელევიზორია ჩართული ან იქვე ახლოს, ვინმე საუბრობს.
contribution-background-voices-description-extended = როცა ჩანაწერი წყდება ან შრიალია, უარყავით თუ ტექსტის სრულად მოსმენა შეუძლებელია.
contribution-background-voices-example-1-title = ახალი თავმჯდომარეც უკვე არჩეულია. <strong>[კითხულობს ერთი ხმა]</strong>
contribution-background-voices-example-1-explanation = მოდიხარ? <strong>[ეძახის მეორე]</strong>
contribution-volume-title = ხმის სიმაღლე
contribution-volume-description = განსხვავება ბუნებრივია მკითხველთა ხმის დონეებს შორის. უარყავით მხოლოდ მაშინ, როცა იმდენად ხმამაღალია, რომ ჩანაწერი წყდება ან (უფრო ხშირად) იმდენად ხმადაბალია, რომ ვერ ახერხებთ აზრის გამოტანას, ნაწერის წაკითხვის გარეშე.
contribution-reader-effects-title = ხმაზე ზემოქმედება
contribution-reader-effects-description = ჩანაწერების უმეტესობაში, ხალხი ბუნებრივი ხმით საუბრობს. ამასთან, შეგიძლიათ გამონაკლისის სახით მიიღოთ უჩვეულო ხმით ჩაწერილებიც, რომლებიც შეიცავს ყვირილს, ჩურჩულს ან ხელოვნურ, „სამსახიობო“ შესრულებით წარმოთქმულს. მაგრამ, გთხოვთ უარყოთ ნამღერი ან კომპიუტერული პროგრამით ამოკითხული ჩანაწერები.
contribution-just-unsure-title = მაინც ეჭვი გეპარებათ?
contribution-just-unsure-description = თუ ისეთ საკითხს წააწყდით, რომელიც ამ მითითებებში არაა განხილული, გთხოვთ შეაფასოთ საკუთარი შეხედულებისამებრ, კეთილსინდისიერად. როცა ნამდვილად გაგიჭირდებათ გადაწყვეტილების მიღება, უბრალოდ გამოტოვეთ და სხვა ჩანაწერზე გადადით.
see-more = <chevron></chevron>ვრცლად
see-less = <chevron></chevron>შემოკლებულად
