## General

yes-receive-emails = Да, отправляйте мне письма. Я хочу быть в курсе новостей проекта Common Voice.
stayintouch = Мы в Mozilla создаём сообщество по языковым технологиям. Мы хотим, чтобы вы были в курсе всех новостей, новых источников данных, а также хотели бы знать больше о том, как вы используете такого рода данные.
privacy-info = Мы обещаем, что будем обрабатывать вашу информацию с осторожностью. Подробнее в нашем <privacyLink>Уведомлении о конфиденциальности</privacyLink>.
return-to-cv = Вернуться к Common Voice
email-input =
    .label = Эл. почта
submit-form-action = Отправить
loading = Загрузка…
email-opt-in-info = Я хочу получать такие письма, как напоминания о целях, уведомления о достижениях и новости о Common Voice.
email-opt-in-info-title = Присоединиться к рассылке Common Voice
email-opt-in-info-sub-with-challenge = Получать такие письма, как челленджи, напоминания о целях, уведомления о достижениях и новости о Common Voice.
email-opt-in-privacy-v2 = Согласившись получать письма, вы заявляете, что согласны с тем, как Mozilla обрабатывает эту информацию, согласно <privacyLink>Политике приватности</privacyLink> Mozilla.
indicates-required = * поля, обязательные для заполнения
not-available-abbreviation = Недоступно

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = Абхазский
ace = Ачехский
ady = Адыгейский
af = Африкаанс
am = Амхарский
an = Арагонский
ar = Арабский
arn = Мапуче
as = Ассамский
ast = Астурийский
az = Азербайджанский
ba = Башкирский
bas = Баса
be = Белорусский
bg = Болгарский
bm = Бамбара
bn = Бенгальский
br = Бретонский
bxr = Бурятский
ca = Каталанский
cak = Какчикельский
ckb = Центральнокурдский (Сорани)
cnh = Чинский
co = Корсиканский
cs = Чешский
cv = Чувашский
cy = Валлийский
da = Датский
de = Немецкий
dsb = Нижнелужицкий
dv = Мальдивский
el = Греческий
en = Английский
eo = Эсперанто
es = Испанский
et = Эстонский
eu = Баскский
fa = Персидский
ff = Фула
fi = Финский
fo = Фарерский
fr = Французский
fy-NL = Фризский
ga-IE = Ирландский
gl = Галисийский
gn = Гуарани
ha = Хауса
he = Иврит
hi = Хинди
hr = Хорватский
hsb = Верхнелужицкий
ht = Гаитянский
hu = Венгерский
hy-AM = Армянский
hyw = Западноармянский
ia = Интерлингва
id = Индонезийский
ie = Интерлингве
is = Исландский
it = Итальянский
izh = Ижорский
ja = Японский
ka = Грузинский
kaa = Каракалпакский
kab = Кабильский
kbd = Кабардино-черкесский
ki = Кикуйю
kk = Казахский
kmr = Севернокурдский (Курманджи)
ko = Корейский
kpv = Коми-зырянский
kw = Корнский
ky = Киргизский
lg = Луганда
lij = Лигурский
lt = Литовский
lv = Латышский
mai = Майтхили
mdf = Мокшанский
mg = Малагасийский
mhr = Лугово-восточный марийский
mk = Македонский
ml = Малаялам
mn = Монгольский
mos = Мооре
mr = Маратхи
mrj = Горномарийский
ms = Малайский
mt = Мальтийский
my = Бирманский
myv = Эрзянский
nan-tw = Тайваньский (миннань)
nb-NO = Норвежский Букмол
ne-NP = Непальский
nia = Ниасский
nl = Голландский
nn-NO = Норвежский Нюнорск
nyn = Ньянколе
oc = Окситанский
or = Ория
pa-IN = Панджаби
pap-AW = Папьяменто (Аруба)
pl = Польский
ps = Пушту
pt = Португальский
rm-sursilv = Романшский Сурсельвский
rm-vallader = Романшский Валладер
ro = Румынский
ru = Русский
rw = Руанда
sah = Якутский
sat = Сантали (Ол Чики)
sc = Сардинский
scn = Сицилийский
shi = Шильхский
si = Сингальский
sk = Словацкий
sl = Словенский
so = Сомалийский
sq = Албанский
sr = Сербский
sv-SE = Шведский
sw = Суахили
syr = Сирийский
ta = Тамильский
te = Телугу
tg = Таджикский
th = Тайский
tl = Тагальский
tr = Турецкий
tt = Татарский
tw = Чви
uby = Убыхский
udm = Удмуртский
ug = Уйгурский
uk = Украинский
ur = Урду
uz = Узбекский
vec = Венетский
vi = Вьетнамский
vot = Водский
yi = Идиш
yo = Йоруба
yue = Кантонский
zh-CN = Китайский (Китай)
zh-HK = Китайский (Гонконг)
zh-TW = Китайский (Тайвань)

# [/]


## Layout

speak = Запись
speak-now = Начать запись
datasets = Наборы данных
languages = Языки
about = О нас
profile = Профиль
help = Справка
contact = Контакты
privacy = Приватность
terms = Условия
cookies = Куки
faq = ЧЗВ
content-license-text = Содержимое доступно под <licenseLink>лицензией Creative Commons</licenseLink>
share-title = Помогите нам, найдя других желающих записать свой голос!
share-text = Помогите машинам научиться понимать реальных людей, пожертвуйте свой голос на { $link }
link-copied = Ссылка скопирована
back-top = Наверх
logout = Выйти

## Home Page

home-title = Common Voice — это инициатива Mozilla по обучению машин тому, как говорят реальные люди.
default-tagline = Mozilla Common Voice — это инициатива по обучению машин тому, как говорят реальные люди.
home-cta = Помогите нам, сделав запись своего голоса!
wall-of-text-start = Голос - естественен, голос - человечен. Вот почему мы стремимся создать удобную языковую технологию для наших машин. Но чтобы создавать голосовые системы, требуется очень большой объём языковых данных.
wall-of-text-more-mobile = Большая часть данных, используемых корпорациями, недоступны широкой публике. Мы считаем, что это подавляет развитие инноваций. Поэтому мы запустили проект Common Voice, цель которого —  сделать распознавание голоса доступным для всех и каждого.
wall-of-text-more-desktop = Теперь вы можете отправить нам свой голос, чтобы помочь создать открытую языковую базу данных, которую сможет использовать любой разработчик для создания своих инновационных приложений и сайтов.<lineBreak></lineBreak> Произносите фразы, чтобы помочь машинам понять, как говорят реальные люди. Проверяйте работу других волонтёров, чтобы улучшить качество. Это просто!
wall-of-text-first = Голос — естественен и человечен. Вот почему мы стремимся создать прикладную голосовую технологию для наших машин. Но для создания голосовых систем необходим очень большой объём голосовых данных.
wall-of-text-second = Большинство данных, используемых крупными компаниями, недоступны всем. Мы считаем, что это сдерживает инновации. Поэтому мы запустили проект Common Voice, чтобы сделать технологию распознавания голоса открытой и доступной для всех и каждого.
show-wall-of-text = Подробнее
help-us-title = Помогите нам, проверяя записанное!
help-us-explain = Включите запись, послушайте и расскажите нам: хорошо ли озвучена фраза, расположенная ниже?
no-clips-to-validate = Кажется, нет никаких записей для прослушивания на этом языке. Помогите нам создать новые, сделав несколько своих.
vote-yes = Да
vote-no = Нет
toggle-play-tooltip = Нажмите { shortcut-play-toggle } для переключения режима воспроизведения
speak-subtitle = Пожертвуйте свой голос
speak-paragraph = Запись озвученных предложений является неотъемлемой частью создания нашего открытого набора данных; некоторые могут считать, что это еще и интересное занятие.
speak-goal-text = Клипов записано
listen-subtitle = Помогите нам проверять записи
listen-paragraph = Проверка добавленных записей очень важна для миссии Common Voice. Послушайте записи и помогите нам создать качественные открытые голосовые данные.
listen-goal-text = Записей проверено
hours-recorded = Часов записано
hours-validated = Часов проверено
voices-online = Голоса в онлайне прямо сейчас
todays-progress = Сегодняшний прогресс
help-reach-goal = Помогите нам достичь { $goal }
read-terms-q = Вы прочитали наши условия использования?
ready-to-record = Готовы пожертвовать свой голос?
all-locales = Все
today = Сегодня
x-weeks-short =
    { $count ->
        [one] { $count }неделя
        [few] { $count }недели
       *[other] { $count }недель
    }
x-months-short =
    { $count ->
        [one] { $count }месяц
        [few] { $count }месяца
       *[other] { $count }месяцев
    }
x-years-short =
    { $count ->
        [one] { $count }год
        [few] { $count }года
       *[other] { $count }лет
    }
help-make-dataset = Помогите нам создать высококачественный открытый набор данных
sign-up-account = Зарегистрировать аккаунт
email-subscription-title = Подписаться на рассылку обновлений
email-subscription-title-new = Подпишитесь на новостную рассылку Common Voice, напоминания о целях и обновления прогресса

## Account Benefits

benefits = Преимущества
rich-data = Предоставляя анонимные демографические данные, вы делаете их максимально полными. Мы обезличиваем все демографические данные перед публикацией.
improve-audio = Информация профиля улучшает точность распознавания аудиоданных.
keep-track = Следите за своим прогрессом и показателями на нескольких языках.
compare-progress = Наблюдайте, как ваш прогресс сравнивается с другими участниками по всему миру.
view-goals = Наблюдайте свой прогресс в достижении личных и проектных целей.
join-newsletter = При желании присоединяйтесь к нашему списку рассылки для получения обновлений и новой информации о проекте.

## What's public

whats-public = Какие данные доступны всем?
email-not-public = Мы не будем публиковать вашу электронную почту.
recordings-and-locale-public = Количество сделанных вами записей и их языки будут публично доступны.
username-optin-public = Вы можете сделать свое имя пользователя публичным или анонимным.
demographic-deidentified-clarity-2 = Представленные необязательные демографические данные (такие как возраст, пол, язык и акцент) никогда не будут сделаны публичными в вашем профиле и не будут связаны с вашим аккаунтом в наборе данных. Отдельные записи будут связаны с демографическими данными с целью более точного анализа - например, если исследователь захочет нацелить обучаемую модель на определённый демографический сегмент.
username-email-not-demographic = Ваше имя пользователя и адрес электронной почты не будут связаны с опубликованными данными.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = с

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = о
shortcut-play-toggle-label = Воспроизвести/остановить
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = а
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = е

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = и
shortcut-record-toggle-label = Записать/остановить
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = Перезаписать клип
shortcut-discard-ongoing-recording = ESC
shortcut-discard-ongoing-recording-label = Отменить текущую запись
shortcut-submit = Return
shortcut-submit-label = Отправить клипы
request-language-text = Пока не видите ваш язык в Common Voice?
request-language-text-learn = Узнайте, как запросить его здесь!
request-language-button = Запросить язык

## ProjectStatus

status-title = Общий статус проекта: посмотрите, как далеко мы ушли!
status-contribute = Запишите свой голос
status-hours =
    { $hours ->
        [one] Пока проверен { $hours } час!
        [few] Пока проверено { $hours } часа!
       *[other] Пока проверено { $hours } часов!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Следующая цель: { $goal }
english = Английский

## ProfileForm

profile-form-username =
    .label = Имя пользователя
profile-form-native-language =
    .label = Родной язык
profile-form-additional-language =
    .label = Дополнительный язык
profile-form-accent =
    .label = Акцент
profile-form-age =
    .label = Возраст
profile-form-gender-2 =
    .label = Пол
leaderboard-visibility =
    .label = Показывать меня в топе
hidden = Скрытый
visible = Видимый
native-language =
    .label = Родной язык
profile-form-submit-save = Сохранить
profile-form-submit-saved = Сохранено
male = Мужской
female = Женский
# Gender
other = Другой
why-profile-title = Зачем нужен профиль?
why-profile-text = Предоставив некоторые данные о себе, вы сделаете аудио данные, отправляемые в Common Voice, более полезными для движков распознавания речи, которые будут использовать эти данные для улучшения своей точности.
dashboard = Панель
build-profile = Создание профиля
avatar = Аватар
goals = Цели
settings = Настройки
edit-profile = Редактировать профиль
profile-create-success = Отлично, профиль создан!
profile-close = Закрыть
profile-explanation = Наблюдайте за прогрессом, пользуясь профилем, и помогайте улучшать точность наших голосовых данных.
thanks-for-account = Спасибо за подтверждение вашего аккаунта, теперь давайте заполним ваш профиль.
why-demographic = Почему это важно?
why-demographic-explanation-2 = Анонимные пользовательские данные такие, как возраст, пол и акцент помогут улучшить аудио-данные, используемые для тренировки точности движков распознавания речи. Ваше имя пользователя и адрес электронной почты никогда не будут связаны с предоставляемыми вами данными, и вы можете выбрать сделать ли ваш логин публичным или анонимным.
accept-privacy = Я соглашаюсь с тем, как вы обрабатываете эту информацию, согласно <privacyLink>Политике приватности</privacyLink> Mozilla
accept-privacy-title = Политика приватности
login-identity = Идентификатор для входа
login-signup = Войти / Зарегистрироваться
edit = Редактировать
email-subscriptions = Подписки по электронной почте
download-profile = Выгрузить мои данные
contribution-experience = Оцените вашу работу с Common Voice
skip-submission-feedback = Пропустить оценку работы
skip-submission-description = Оценка работы с Common Voice будет пропущена после нажатия кнопки «Отправить». И вы сможете продолжить вносить вклад, следующими записями или прослушиваниями.
skip-submission-note = Примечание: Вам по-прежнему нужно выбирать между записью и прослушиванием, чтобы изменить тип внесения вклада.
off = Выкл.
on = Вкл.

## Profile - Email

browse-file-title = Загрузить файл изображения
browse-file = Перетащите или <browseWrap>выберите файл</browseWrap>
connect-gravatar = Присоединить Gravatar
gravatar_not_found = Данный адрес эл. почты не зарегистрирован в gravatar
file_too_large = Выбранный файл имеет слишком большой размер
avatar-uploaded = Аватар загружен
max-file-size = { $kb } КБ максимум

## Profile - Email

manage-subscriptions = Управление подписками
manage-email-subscriptions = Управление подписками по эл. почте
email-already-used = Электронная почта уже используется в другом аккаунте
add-language = Добавить язык
change-email-setings = Измените свой адрес электронной почты через настройки в разделе «Идентификатор для входа»

## FAQ

faq-title = Часто задаваемые вопросы
faq-what-cv-q = Что такое Common Voice?
faq-what-cv-a =
    Технология распознавания голоса революционизирует способ взаимодействия с машинами, но доступные в настоящее время системы являются дорогостоящими и запатентованными. Common Voice является частью инициативы Mozilla, направленной на то, чтобы сделать технологии распознавания голоса лучше и доступнее для всех. Common Voice - это обширная глобальная база данных пожертвованных голосов, которая позволяет любому быстро и легко обучать голосовые приложения практически на любом языке.
    
    Мы собираем не только образцы голоса на широко распространенных языках, но и на языках с меньшим количеством говорящих. Публикация разнообразных наборов голосов позволит разработчикам, предпринимателям и сообществам самим устранить этот пробел. В дополнение к набору данных Common Voice мы также создаем механизм распознавания речи с открытым исходным кодом под названием Deep Speech.
faq-what-cv-a-2 =
    Технология распознавания голоса революционизирует способ взаимодействия с машинами, но доступные в настоящее время системы являются дорогостоящими и запатентованными. Mozilla Common Voice является инициативой, направленной на то, чтобы сделать технологии распознавания голоса лучше и доступнее для всех. Common Voice - это обширная глобальная база данных пожертвованных голосов, которая позволяет любому быстро и легко обучать голосовые приложения практически на любом языке.
    
    Мы собираем не только образцы голоса на широко распространенных языках, но и на языках с меньшим количеством говорящих. Публикация разнообразных наборов голосов позволит разработчикам, предпринимателям и сообществам самим устранить этот пробел.
faq-why-important-q = Почему это важно?
faq-why-important-a =
    Речь — наиболее естественный способ общения между людьми, а применение голосовых технологий в наших компьютерах и мобильных устройствах является очень удобным. Мы хотим дать возможность разработчикам создавать продвинутые приложения для распознавания голоса, такие как переводчики в реальном времени и цифровые помощники с поддержкой голоса. Но сейчас большая часть голосовых данных, необходимых для создания приложений такого типа, является дорогой и запатентованной. Мы надеемся, что набор данных Common Voice даст разработчикам то, что им нужно для инноваций и сделает речевые технологии доступными на своём родном языке.
    
    Чтобы сделать распознавание голоса ещё более универсальным, мы собираем образцы голоса на широко распространенных языках, а также образцы с меньшим количеством говорящих, которые часто недооцениваются коммерческими службами распознавания речи. Публикация разнообразных наборов голосов позволит разработчикам, предпринимателям и целым речевым сообществам самим устранить этот пробел.
faq-how-get-q = Как я могу получить данные Common Voice?
faq-how-get-a = Набор данных Common Voice доступен для загрузки по лицензии <licenseLink>CC0</licenseLink> на <datasetLink>нашей странице наборов данных</datasetLink>. Вы также можете загрузить несколько других общедоступных наборов данных с той же страницы.
faq-when-release2-q = Когда вы выпустите набор данных Common Voice на других языках?
faq-when-release2-a = Мультиязычная версия набора данных Common Voice в настоящее время проходит объединение и валидацию при поддержке сообщества. Если вы хотите помочь нам перевести Common Voice на новые языки, перейдите на страницу <sentenceCollectorLink>инструмента для сбора предложений</sentenceCollectorLink> для добавления новых предложений в набор данных и Mozilla <pontoonLink>Pontoon</pontoonLink> для перевода самого веб-сайта. Новые языки добавляются в Common Voice, когда собирается 5000 утверждённых предложений.
faq-why-mission-q = Почему Common Voice является частью миссии Mozilla?
faq-why-mission-a = Mozilla стремится к тому, чтобы Интернет был открытым для всех и каждого. Для этого нам необходимо расширить возможности веб-разработчиков с помощью таких проектов, как Common Voice. Поскольку голосовые технологии распространяются за пределы нишевых приложений, мы считаем, что они должны одинаково обслуживать всех пользователей. Это означает инвестирование в большее количество языков и учёт различных акцентов и демографии при создании и тестировании голосовых технологий. Common Voice — это общедоступный ресурс, который активно используется командами и разработчиками Mozilla по всему миру в наших собственных проектах.
faq-what-cv-and-deepspeech-q = В чем разница между Common Voice и Deep Speech?
faq-what-cv-and-deepspeech-a = Набор данных Common Voice дополняет движок распознавания голоса с открытым исходным кодом Mozilla Deep Speech. Первая версия Deep Speech была выпущена в ноябре 2017 года и с тех пор продолжает развиваться. Вместе с набором данных Common Voice мы считаем, что эта технология распознавания голоса с открытым исходным кодом должна быть доступна каждому. Мы надеемся, что эти технологии позволят разработчикам создать массу инновационных продуктов и услуг.
faq-is-goal-assistant-q = Является ли целью Common Voice создание голосового помощника?
faq-is-goal-assistant-a = Цель набора данных Common Voice состоит в том, чтобы дать возможность любому человеку в мире создавать распознавание речи, распознавание говорящего или любое другое приложение, для которого требуются голосовые данные. Голосовой помощник — это только один из множества типов создаваемых приложений, для которого вы можете использовать набор данных.
faq-do-want-native-q = Я не являюсь носителем языка и говорю с акцентом, пригодится ли вам мой голос?
faq-do-want-native-a = Да, вы нам особенно важны! Часть миссии Common Voice — собрать как можно больше различных акцентов, чтобы службы распознавания голоса работали одинаково хорошо для всех и каждого. Это означает, что вклады не носителей языка особенно важны.
faq-why-different-speakers-q = Зачем вам так много разных носителей одного языка?
faq-why-different-speakers-a =
    Большинство речевых баз данных обучаются с чрезмерным уклоном к определённым демографическим данным, что приводит к смещению в сторону <articleLink>мужского пола и среднего класса</articleLink>. Акценты и диалекты, которые, как правило, неполно предоставлены в наборах обучающих данных, обычно связаны с группами людей, которые уже изолированы. Многие машины также с трудом понимают женские голоса.
    Вот почему в нашей голосовой базе данных мы хотим получить разнообразие!
faq-why-my-lang-q = Почему мой язык ещё не добавлен?
faq-why-my-lang-new-a = Mozilla не выбирает и не предпочитает какой-либо один язык другому. Common Voice — это целиком инициатива сообщества, и для добавления нового языка и начала сбора голосов <multilangLink>необходимо выполнить два шага</multilangLink>. Во-первых, необходимо перевести веб-сайт Common Voice, чтобы участники сообщества могли получить доступ к материалам на своём родном языке. Далее нам понадобится большая коллекция предложений, не ограниченная авторскими правами, чтобы люди могли читать их вслух. Как только оба этих требования будут выполнены, язык в Common Voice перейдёт в статус «запущен», и люди смогут начать записывать свой голос и проверять голоса других людей. Если вы хотите помочь запустить какой-либо язык, перейдите к <sentenceCollectorLink>инструменту для сбора предложений</sentenceCollectorLink> и загрузите какие-либо предложения.
faq-what-quality-q = Какого качества требуется звук для голосового клипа, который будет использоваться в наборе данных?
faq-what-quality-a = Мы хотим, чтобы набор данных Common Voice работал с качеством звука, которое движок преобразования речи в текст будет слышать в реальной жизни, поэтому нам необходимо разнообразие. В дополнение к широкому сообществу авторов записей, набор данных с различным качеством звука научит движок распознавания речи правильно работать в различной среде, например, с фоновыми разговорами и автомобильными шумами. Если ваша запись понятна, то она нужна для набора данных.
faq-why-10k-hours-q = Почему 10000 проверенных часов является языковой целью для захвата звука?
faq-why-10k-hours-a = Это примерное количество часов, необходимое для обучения рабочей системы преобразования речи в текст.
faq-how-calc-hours-q = Как Common Voice рассчитывает часы?
faq-how-calc-hours-a = Мы вычисляем часы, оценивая среднюю длину каждой записи, а затем умножая это число на общее количество записей на всех языках.
faq-where-src-from-2-q = Откуда берутся тексты для озвучивания?
faq-where-src-from-2-a =
    Наш исходный текст состоит из оригинальных пожертвований участников, а также диалогов из сценариев фильмов в общественном достоянии, таких как <italic>Эта замечательная жизнь</italic>.
    
    Вы можете просмотреть наши исходные предложения в этой <githubLink>папке GitHub</githubLink>.
faq-why-not-ask-read-q = Почему бы вам не попросить людей читать книги или статьи из Википедии на разных языках?
faq-why-not-ask-read-a = Чтобы сделать набор данных Common Voice как можно более полезным, мы решили разрешить использовать только исходный текст, доступный по лицензии Creative Commons (CC0). Использование стандарта CC0 означает, что исходный текст труднее найти и собрать, но в то же время это позволяет любому использовать полученные голосовые данные без ограничений использования или разрешений от Mozilla. В конечном счёте, мы хотим сделать набор многоязычных данных максимально полезным для всех, включая исследователей, университеты, стартапы, правительства, организации социального назначения и любителей.
faq-why-account-q = Почему я должен зарегистрироваться?
faq-is-account-public-q = Является ли информация моего аккаунта публичной?
faq-how-privacy-q = Как вы обеспечиваете анонимность и конфиденциальность людей, которые пожертвовали свои голоса?
faq-how-privacy-a = Все голосовые записи в наборе данных очищаются от личной информации. Хотя участник предоставляет демографические данные через свой профиль, эта информация удаляется из записей перед тем, как добавляется в набор данных для загрузки, и никогда не публикуется на странице профиля.
faq-what-determine-identity-q = Что это значит, что я не могу «определить личность» ораторов в наборе данных Common Voice?
faq-what-determine-identity-a =
    Набор данных Common Voice - это открытый и общедоступный ресурс, который можно использовать для обучения самых различных приложений с поддержкой речи. Чтобы обеспечить безопасность наших участников, мы просим всех, кто загружает набор данных Common Voice, соблюдать конфиденциальность участников.
    
    Все голосовые записи в наборе данных очищаются от личной информации. Загружая набор данных, вы соглашаетесь не пытаться определить личность какого-либо участника. Это означает, что вы не можете пытаться связать информацию в наборе данных с личной информацией участника. Однако вы можете использовать набор данных для обучения распознаванию речи, распознаванию говорящего или других приложений, например, связывая информацию в наборе данных с другой информацией, уже имеющейся в наборе данных.
faq-what-is-cv = Что такое Common Voice?
faq-using-cv = Использование Common Voice
faq-description = Common Voice — это часть инициативы Mozilla по обучению машин тому, как говорят реальные люди.
faq-search-for-answers =
    .label = Поиск ответов

## ABOUT US

about-title = Почему Common Voice?
about-subtitle = Common Voice — это часть инициативы Mozilla по обучению машин тому, как говорят реальные люди. Помимо набора данных Common Voice, мы также создаем движок распознавания речи Deep Speech с открытым исходным кодом.
about-header-description =
    Оба эти проекта являются частью наших усилий по заполнению пробела в цифровой речи. Технологии распознавания голоса вносят человеческое измерение в наши устройства, но разработчикам необходим огромный объем голосовых данных для их создания. В настоящее время, большая часть этих данных является дорогой и проприетарной.
    Мы хотим, чтобы голосовые данные были свободными и общедоступными, и чтобы эти данные отражали разнообразие реальных людей. Вместе мы можем сделать распознавание голоса лучше для всех и каждого.
about-header-description-2 =
    Этот проект является попыткой заполнения пробела в цифровой речи. Технологии распознавания голоса вносят человеческое измерение в наши устройства, но разработчикам необходим огромный объем голосовых данных для их создания. В настоящее время, большая часть этих данных является дорогой и проприетарной.
    Мы хотим, чтобы голосовые данные были свободными и общедоступными, и чтобы эти данные отражали разнообразие реальных людей. Вместе мы можем сделать распознавание голоса лучше для всех и каждого.
how-does-it-work-title = Как это работает
how-does-it-work-text = Мы создаём краудсорсинговый открытый голосовой набор. Помогите своим голосом, проверяйте точность записей других людей, делайте набор данных лучше для всех и каждого.
about-speak = Говорите
about-speak-text = Участники делают голосовые записи, читая из банка пожертвованных предложений.
about-listen-queue = Очередь прослушивания
about-listen-queue-text = Голосовые записи попадают в очередь на проверку, после которой они будут прослушаны.
about-listen = Слушайте
about-listen-text = Пользователи проверяют точность пожертвованных записей, правильно ли говорящий озвучил предложение.
about-is-it-valid = Корректная ли запись?
about-is-it-valid-text = Запись отмечается как «корректная», когда пользователь выбирает «Да».
about-yes-votes = ≥ 2 голосов «за»
about-yes-votes-text = Чтобы попасть в набор данных Common Voice, запись должна быть проверена двумя разными пользователями.
about-no-votes = ≥ 2 голосов «против»
about-no-votes-text = Если пользователь выбирает «Нет», запись возвращается в очередь. Если она получает второй голос «против», то запись отправляется на «Кладбище записей».
about-dataset-new = Набор данных Common Voice
about-dataset-new-text = Набор данных Common Voice содержит сотни тысяч образцов голосов, которые помогают разработчикам создавать инструменты распознавания голоса.
about-clip-graveyard = «Кладбище записей»
about-clip-graveyard-text = «Кладбище записей» состоит из голосовых записей, которые не вошли в голосовой набор Common Voice. Также как и основной набор, набор «Кладбища записей» тоже доступен для загрузки.
about-partners = Партнёры
about-become-a-partner = Стать партнёром
about-partnership =
    Common Voice — это совместный проект, и создание самого большого из когда-либо открытых наборов голосовых данных зависит от нашего сообщества партнёров и участников.
    
    Мы хотели бы поблагодарить следующих людей и организации за помощь в реализации проекта:
about-get-involved = Принять участие
about-get-involved-text-2 =
    Хотите помочь сделать Common Voice ещё лучше?
    Отлично! Свяжитесь с нами по электронной почте или через <discourseLink>Discourse</discourseLink>, сообщайте о проблемах с сайтом через <githubLink>GitHub</githubLink> или присоединяйтесь к чату сообщества на <matrixLink>Matrix</matrixLink>.
about-nav-why-common-voice = Почему?
about-nav-how-it-works = Как?
about-nav-partners = Партнёры
about-nav-get-involved = Принять участие
mycroft-title = Mycroft Ai
mycroft-subtitle = Искусственный интеллект
mycroft-description =
    Mycroft — первый в мире голосовой помощник с открытым исходным кодом.
    Mycroft работает где угодно — на компьютере, в автомобиле или на Raspberry Pi.
mycroft-secondary-description = Это программное обеспечение с открытым исходным кодом, которое можно свободно изменять, расширять и улучшать. Mycroft может использоваться в любой отрасли, от научного проекта до корпоративного программного обеспечения.

## Glossary

glossary = Глоссарий
localization = Локализация
localization-explanation = Это наш процесс перевода и адаптации нашего контента для многих языков.
sentence-collection = Коллекция фраз
sentence-collection-explanation = Сбор предложений из общественного достояния или написание новых для общественного достояния.
hours-recorded-explanation = Количество часов записи голоса, которое мы собрали на данный момент.
hours-validated-explanation = Количество часов записи голоса, которые были подтверждены 2 из 3 пользователей с голосом «Да». Прогресс в достижении общей цели проекта в 10k часов.
sst = Речь в текст (Speech-to-text, STT)
sst-explanation = Технология Speech-to-text (STT) преобразовывает голосовые данные в текст
de-identified = Обезличенный
de-identified-explanation = Процесс, с помощью которого информация профиля участника убирается из пожертвованных им голосовых записей, когда они упаковываются для загрузки, как часть набора данных.

## Error pages

error-title-404 = Мы не смогли найти эту страницу
error-content-404 = Возможно, поможет наша <homepageLink>домашняя страница</homepageLink>? Чтобы задать вопрос, пожалуйста, присоединитесь к <matrixLink>чату сообщества в Matrix</matrixLink>, отслеживайте проблемы на сайте через <githubLink>GitHub</githubLink> или посетите <discourseLink>наши Discourse-форумы</discourseLink>.
error-title-503 = У нас неожиданный простой
error-content-503 = Работа сайта будет возобновлена в ближайшее время. Для получения последней информации присоединяйтесь к <matrixLink>чату сообщества в Matrix</matrixLink>, посетите <githubLink>GitHub</githubLink> или <discourseLink>наши Discourse-форумы</discourseLink>, чтобы сообщать о проблемах и отслеживать их.
error-code = Код ошибки: { $code }

## Data

data-download-button = Загрузить данные Common Voice
data-download-yes = Да
data-download-deny = Нет
data-download-license = Лицензия: <licenseLink>CC-0</licenseLink>
data-download-modal = Вы собираетесь совершить загрузку <size>{ $size } ГБ</size>, продолжить?
data-subtitle = Мы создаём открытый и общедоступный набор голосовых данных, чтобы любой человек мог использовать его для обучения программ с распознаванием речи.
data-explanatory-text = Мы верим, что большой общедоступный набор голосовых данных стимулирует инновации и нормальную коммерческую конкуренцию в машинно-обучаемой технологии распознавания голоса. Это глобальная инициатива, и мы приглашаем всех принять участие. Наша цель - помочь голосовым технологиям быть более всесторонними и распознавать разнообразные голоса со всего мира.
data-get-started = <speechBlogLink>Начать работу с распознаванием речи</speechBlogLink>
data-other-title = Другие голосовые наборы данных...
data-other-goto = Перейти на { $name }
data-other-download = Загрузить данные
data-bundle-button = Загрузить пакет наборов данных
data-bundle-description = Данные Common Voice плюс данные всех голосовых наборов данных ниже.
release-version = Версия
dataset-date = Дата
license = Лицензия: <licenseLink>{ $license }</licenseLink>
license-mixed = Смешанная
data-download-singleword-title = Загрузите целевой сегмент «Одно слово»
data-download-singleword-callout-v2 = Этот сегмент нацелен на определённые случаи использования, содержит данные для улучшения распознавания цифр и «да»/«нет».
review-terms = Используя Common Voice, вы соглашаетесь с нашими <termsLink>Условиями использования</termsLink> и <privacyLink>Уведомлением о конфиденциальности</privacyLink>
terms-agree = Я соглашаюсь
terms-disagree = Я не соглашаюсь
review-aborted = Загрузка прервана. Хотите ли вы удалить ваши записи?
review-submit-title = Проверить и отправить
review-submit-msg = Спасибо за запись!<lineBreak></lineBreak>Теперь проверьте и отправьте ваши записи ниже.
review-recording = Проверить
review-rerecord = Перезаписать
review-cancel = Отменить отправку
review-keep-recordings = Сохранить мои записи
review-delete-recordings = Удалить мои записи

## Datasets Page

datasets-headline = Мы создаём открытый и мультиязычный набор голосовых данных, который любой желающий сможет использовать для обучения голосовых приложений.
datasets-positioning =
    Мы считаем, что большие и общедоступные наборы голосовых данных будут способствовать появлению нововведений и здоровой коммерческой конкуренции в области речевых технологий на основе машинного обучения.
    
    Мультиязычный набор данных Common Voice уже является крупнейшим общедоступным набором голосовых данных, но он не единственный в своем роде.
    
    На этой странице вы можете найти ссылки на другие открытые наборы голосовых данных и, с развитием Common Voice, обновления наших выпусков.
language = Язык
# File size in gigabytes
size = Размер
validated-hr-total = Всего часов проверено
overall-hr-total = Часов всего
cv-license = Лицензия
audio-format = Аудиоформат
number-of-voices = Количество голосов
splits = Разделение
email-to-download = Введите адрес электронной почты для загрузки
why-email = <b>Зачем нужен ваш адрес?</b> В будущем нам может понадобиться связаться с вами по поводу изменений в наборе данных, и электронная почта позволит нам сделать это.
confirm-size = Вы собираетесь совершить загрузку <b>{ $size }</b>
size-gigabyte = ГБ
size-megabyte = МБ
confirm-no-identify = <b>Вы соглашаетесь</b> не пытаться определять личность дикторов в наборе данных Common Voice
download-language = Загрузить { $language }
validated-hours = Часов проверено
recorded-hours = Часов записано
whats-inside = Что находится внутри набора данных Common Voice?
dataset-description-hours =
    Каждая запись в наборе данных состоит из уникального MP3-аудио и соответствующего ему текстового файла. Многие из <b>{ $total }</b> записей в этом наборе данных также включают в себя демографические метаданные, такие как возраст, пол и акцент, которые могут помочь увеличить точность обучения движков распознавания речи.
    
    В настоящее время набор данных состоит из <b>{ $valid }</b> проверенных часов на <b>{ $languages }</b> языках, но мы постоянно добавляем новые голоса и языки. Загляните на нашу <languagesLink>страницу языков</languagesLink>, чтобы запросить язык или принять участие.
want-dataset-update = Хотите получить сообщение о выпуске новой версии набора данных Common Voice? Подпишитесь на нашу новостную рассылку.
subscribe = Подписаться
get-started-speech = Как использовать Common Voice в своих программах
other-datasets = Другие наборы голосовых данных
feedback-q = Оставить отзыв
resource-nemo-info = <githubLink>NVIDIA NeMo</githubLink>™ - это <docsLink>набор инструментов с открытым исходным кодом</docsLink> для исследователей, разрабатывающих современные модели диалогового ИИ.
resource-deepspeech-info = Открытый движок распознавания речи Deep Speech от Mozilla может быть использован при создании своих приложений. Прочитайте наш <githubLink>обзор на GitHub</githubLink> или присоединитесь к <discourseLink>разделу DeepSpeech на форуме Discourse</discourseLink>, чтобы узнать, как начать работу.
resource-coqui-info = <coquiLink>Coqui</coquiLink> посвящен технологии открытой речи. Их проекты включают движки STT и TTS на основе глубокого обучения.
community-playbook = Учебник для сообщества
resource-playbook-info = <playbooklink>Найдите полезные рекомендации</playbookLink> для всего функционала Common Voice, от локализации до использования набора данных, а также о том, как связаться с нашим сообществом.
data-other-librispeech-description = LibriSpeech представляет собой собрание из примерно 1000 часов 16 кГц аудиозаписей английской речи, полученных из аудиокниг проекта LibriVox.
data-other-ted-name = Собрание TED-LIUM
data-other-ted-description = Собрание TED-LIUM было создано из аудио переговоров и их транскрипций, доступных на сайте TED.
data-other-voxforge-description = VoxForge был создан для сбора транскрибированной речи для использования со свободными и открытыми механизмами распознавания речи.
data-other-tatoeba-description = Tatoeba — это большая база данных предложений, переводов и разговорного аудио для использования в изучении языка. Эта загрузка содержит разговорный английский язык, записанный их сообществом.
your-feedback = Есть идеи, как улучшить Common Voice? Расскажите нам на форуме Discourse
go-discourse = Перейти на Discourse
missing-language = Вашего языка нет в наборе? Запросите его на странице Языки.
go-languages-page = Перейти на страницу Языки
ready-to-validate = Готовы помочь с проверкой предложений?
more = Ещё
close = Закрыть
download = Загрузить
dataset-version = Версия

## Download Modal

download-title = Ваша загрузка началась.
download-helpus = Помогите нам создать сообщество по языковым технологиям, оставайтесь с нами на связи по электронной почте.
download-form-email =
    .label = Введите ваш адрес эл. почты
    .value = Спасибо, мы будем на связи.
download-back = Вернуться к наборам данных Common Voice
download-no = Нет, спасибо

## Contact Modal

contact-title = Форма связи
contact-form-name =
    .label = Имя
contact-form-message =
    .label = Сообщение
contact-required = *обязательно

## Request Language Modal

request-language-title = Запрос языка
request-language-form-language =
    .label = Язык
request-language-success-title = Запрос о добавлении языка успешно отправлен, спасибо.
request-language-success-content = Мы максимально быстро свяжемся с вами, рассказав о том, как добавить ваш язык в Common Voice.
select-language = Выберите язык...
other-language = Другой язык

## Languages Overview

language-section-in-progress = Идёт подготовка
language-section-in-progress-new-description = Эти языки в настоящее время находятся на стадии развития сообществом. Индикаторы прогресса отображают, насколько далеко для каждого языка продвинулся процесс <localizationGlossaryLink>локализации веб-сайта </localizationGlossaryLink> и <sentenceCollectionGlossaryLink>сбора предложений</sentenceCollectionGlossaryLink>.
language-section-launched = Запущены
language-section-launched-description = Для этих языков веб-сайт был успешно <localizationGlossaryLink>локализован</localizationGlossaryLink>, и на нём было собрано <sentenceCollectionGlossaryLink>достаточно предложений</sentenceCollectionGlossaryLink>, чтобы начать <speakLink>сбор голосов</speakLink> и <listenLink>их проверку</listenLink>.
languages-show-more = Больше языков
languages-show-less = Меньше языков
language-meter-in-progress = Ход выполнения
language-total-progress = Всего
language-search-input =
    .placeholder = Поиск
language-speakers = Носителей
localized = Локализовано
sentences = Предложения
total-hours = Всего часов

## Contribution

action-click = Щёлкнуть
action-tap = Коснуться
contribute = Принять участие
listen = Прослушать
skip = Пропустить
shortcuts = Сочетания клавиш
clips-with-count-pluralized =
    { $count ->
        [one] <bold>{ $count }</bold> запись
        [few] <bold>{ $count }</bold> записи
       *[many] <bold>{ $count }</bold> записей
    }
goal-help-recording = Вы помогли Common Voice достичь <goalPercentage></goalPercentage> из нашей ежедневной цели по записи в { $goalValue }!
goal-help-validation = Вы помогли Common Voice достичь <goalPercentage></goalPercentage> из нашей ежедневной цели по проверке в { $goalValue }!
contribute-more =
    { $count ->
        [one] Готовы сделать ещё { $count }?
        [few] Готовы сделать ещё { $count }?
       *[other] Готовы сделать ещё { $count }?
    }
record-cta = Начните запись
record-platform-not-supported = Нам жаль, в настоящее время ваша платформа не поддерживается.
record-platform-not-supported-desktop = На настольных компьютерах, вы можете загрузить последний:
record-platform-not-supported-ios-non-safari = Чтобы включить запись на iOS, пожалуйста, используйте Safari…
record-must-allow-microphone = Вы должны разрешить доступ к микрофону.
record-no-mic-found = Микрофон не найден.
record-error-too-short = Запись слишком короткая.
record-error-too-long = Запись слишком длинная.
record-error-too-quiet = Запись слишком тихая.
record-cancel = Отменить перезапись
record-instruction = { $actionType } <recordIcon></recordIcon>, затем зачитайте предложение вслух
record-stop-instruction = { $actionType } <stopIcon></stopIcon>, когда закончите
record-three-more-instruction = Осталось три!
record-again-instruction = Отлично! <recordIcon></recordIcon> Запишите свой следующий клип
record-again-instruction2 = Продолжайте, запишите ещё <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon>Последний!
review-tooltip = Проверьте и перезапишите клипы здесь
share-clip = Поделитесь своей записью
share-common-voice = Поделитесь Common Voice
review-instruction = Проверьте и перезапишите клипы при необходимости
record-submit-tooltip = { $actionType } отправьте, когда будет готово
clips-uploaded = Записи загружены
record-abort-title = Сначала закончите запись?
record-abort-text = Уход сейчас означает, что вы потеряете свой прогресс
record-abort-submit = Отправить клипы
record-abort-continue = Закончите запись
record-abort-delete = Выйти и удалить клипы
listen-instruction = { $actionType }<playIcon></playIcon> точно ли произнесено предложение?
listen-again-instruction = Отличная работа! <playIcon></playIcon> Прослушайте снова, когда будете готовы
listen-3rd-time-instruction = Два готовы <playIcon></playIcon> , продолжайте!
listen-last-time-instruction = <playIcon></playIcon> Последний!
listen-empty-state = У нас закончились записи для проверки на этом языке...
speak-empty-state = У нас закончились предложения для записи на этом языке...
speak-empty-state-cta = Предложить предложения
record-button-label = Запишите свой голос
share-title-new = <bold>Помогите нам</bold> найти больше голосов
keep-track-profile = Отслеживайте свой прогресс с помощью профиля
login-to-get-started = Войдите или зарегистрируйтесь, чтобы начать
target-segment-first-card = Вы вносите свой вклад в наш первый целевой сегмент
target-segment-generic-card = Вы вносите свой вклад в целевой сегмент
target-segment-first-banner = Помогите создать первый целевой сегмент Common Voice на { $locale }
target-segment-add-voice = Добавить свой голос
target-segment-learn-more = Подробнее

## Reporting

report = Пожаловаться
report-title = Отправить жалобу
report-ask = Какие проблемы вы испытываете с этим предложением?
report-offensive-language = Оскорбительные выражения
report-offensive-language-detail = Предложение содержит дискриминационные или оскорбительные выражения.
report-grammar-or-spelling = Грамматическая / орфографическая ошибка
report-grammar-or-spelling-detail = Предложение содержит грамматическую или орфографическую ошибку.
report-different-language = Другой язык
report-different-language-detail = Написано на языке, отличном от того, на котором я говорю.
report-difficult-pronounce = Сложно произнести
report-difficult-pronounce-detail = Содержит слова или фразы, которые трудно прочитать или произнести.
report-offensive-speech = Оскорбительные выражения
report-offensive-speech-detail = Запись содержит дискриминационные или оскорбительные выражения.
report-other-comment =
    .placeholder = Комментарий
success = Готово
continue = Продолжить
report-success = Жалоба была успешно отправлена

## Goals

streaks = Дней подряд
days =
    { $count ->
        [one] день
        [few] дня
       *[other] дней
    }
recordings =
    { $count ->
        [one] запись
        [few] записи
       *[other] записей
    }
validations =
    { $count ->
        [one] проверка
        [few] проверки
       *[other] проверок
    }

## Dashboard

your-languages = Ваши языки
toward-next-goal = Следующая цель
goal-reached = Цель достигнута
clips-you-recorded = Вы записали
clips-you-validated = Вы проверили
todays-recorded-progress = Сегодня сделано записей на Common Voice
todays-validated-progress = Сегодня проверено записей на Common Voice
stats = Статистика
awards = Награды
you = Вы
everyone = Все пользователи
contribution-activity = Вклад помощника
top-contributors = Топ помощников
recorded-clips = Озвучено
validated-clips = Проверено
total-approved = Всего проверено
overall-accuracy = Общая точность
set-visibility = Настроить мою видимость
visibility-explainer = Этот параметр контролирует вашу видимость в топе. Когда вы скрыты, ваш прогресс будет приватным. Это означает, что ваше изображение, имя пользователя и прогресс не будут отображаться в списке лидеров. Обратите внимание, что обновление списка лидеров занимает примерно { $minutes } минут.
visibility-overlay-note = Примечание: Если установлено «Видимый», то этот параметр можно изменить на <profileLink>странице профиля</profileLink>
show-ranking = Показать мой рейтинг

## Custom Goals

get-started-goals = Создать цель
create-custom-goal = Создать собственную цель
goal-type = Какой цели вы хотите достичь?
both-speak-and-listen = И то, и другое
both-speak-and-listen-long = И то, и другое (Запись и проверка)
daily-goal = Дневная цель
weekly-goal = Недельная цель
easy-difficulty = Легко
average-difficulty = Средне
difficult-difficulty = Сложно
pro-difficulty = Про
lose-goal-progress-warning = Изменив свою цель, вы можете потерять существующий прогресс.
want-to-continue = Вы хотите продолжить?
finish-editing = Хотите сначала закончить редактирование?
lose-changes-warning = Уход сейчас означает, что вы потеряете сделанные изменения
build-custom-goal = Создать собственную цель
help-reach-hours-pluralized =
    Помогите достичь{ NUMBER($hours) ->
        [one] { $hours } час
        [few] { $hours } часа
       *[many] { $hours } часов
    }на { $language } с помощью личной цели
help-reach-hours-general-pluralized =
    Помогите Common Voice достичь{ NUMBER($hours) ->
        [one] { $hours } час
        [few] { $hours } часа
       *[many] { $hours } часов
    }на этом языке с помощью личной цели
set-a-goal = Поставить цель
cant-decide = Не можете решиться?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] { $totalHours } час
        [few] { $totalHours } часа
       *[many] { $totalHours } часов
    }достижимо за{ NUMBER($periodMonths) ->
        [one] { $periodMonths } месяц
        [few] { $periodMonths } месяца
       *[many] { $periodMonths } месяцев
    }если{ NUMBER($people) ->
        [one] { $people } человек
        [few] { $people } человека
       *[many] { $people } человек
    }будут делать{ NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay } запись
        [few] { $clipsPerDay } записи
       *[many] { $clipsPerDay } записей
    }в день.
how-many-per-day = Отлично! Сколько записей в день?
how-many-a-week = Отлично! Сколько записей в неделю?
which-goal-type = Вы хотите записывать, проверять или и то, и другое?
receiving-emails-info =
    Вы будете получать такие письма, как напоминания о целях, уведомления
    о своих достижениях и новости о Common Voice.
not-receiving-emails-info = Вы <bold>НЕ</bold> будете получать такие письма, как напоминания о целях, уведомления о достижениях и новости о Common Voice.
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count } запись
        [few] { $count } записи
       *[many] { $count } записей
    }
help-share-goal = Помогите нам найти больше голосов, поделитесь своей целью
confirm-goal = Подтвердить цель
goal-interval-weekly = Каждую неделю
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Поделитесь свой целью { $count } записей в день для { $type }
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Поделитесь своей целью { $count } записей в неделю для { $type }
share-goal-type-speak = Запись
share-goal-type-listen = Проверка
share-goal-type-both = Запись и проверка
# LINK will be replaced with the current URL
goal-share-text = Я только что создал(а) личную цель для голосового пожертвования #CommonVoice -- присоединяйтесь ко мне и помогите машинам научиться понимать реальных людей { $link }
weekly-goal-created = Ваша недельная цель была создана
daily-goal-created = Ваша дневная цель была создана
track-progress = Отслеживайте свой прогресс здесь и на странице статистики.
return-to-edit-goal = Возвращайтесь сюда, чтобы изменить свою цель в любое время.
share-goal = Поделиться моей целью

## Profile Delete

delete-q = Вы хотите, чтобы ваши голосовые записи также были удалены, или вы хотите оставить их в наборе данных Common Voice?
keep = Оставить
remove = Удалить
keep-info = Ваши анонимные записи голоса останутся в наборе данных Common Voice. После удаления вашего профиля вы больше не сможете отправить запрос на удаление ваших записей из набора данных
remove-info = Мы рассмотрим ваш запрос на удаление ваших голосовых записей из набора данных. Если ваш запрос будет одобрен, мы свяжемся с теми, кто загрузил этот набор данных, и попросим их удалить ваши записи голоса.
why-delete-recordings =
    Записи Common Voice используются учёными, малым бизнесом и энтузиастами распознавания голоса, чтобы обучать и развивать общедоступные ресурсы, такие как голосовые модели.
    
    Можем ли мы узнать, почему вы хотите удалить свои записи?
profile-form-delete = Удалить профиль

## Profile Download

download-q = Хотите загрузить свои данные?
download-info = Сообщите нам, что вы хотите загрузить:
download-profile-title = Профиль
download-profile-info = Включает электронную почту, имя пользователя и демографическую информацию. Доступно прямо сейчас.
download-profile-size = Несколько байтов
download-recordings-title = Записи
download-recordings-info = Включает mp3 и относящиеся к ним предложения. Подготовка может занять некоторое время.
download-recordings-size = Обычно мегабайты
download-recordings-unavailable = Вы не можете запросить свои записи, пока обрабатывается другой запрос.
download-size = Размер
download-selected = Выбрано
download-start = Загрузить данные профиля
download-request = Запросить записи
download-requests = Прошлые запросы на загрузку записей
download-requests-info = Когда вы запрашиваете свои записи, мы собираем их в один или несколько ZIP-файлов. Вот ваши предыдущие запросы:
download-request-button = Загрузить
download-request-title = { $created }
download-request-description = { $clipCount } голосовых записей, общий размер архива - { $size }. Срок хранения истекает { $expires }.
download-request-archive-single = Один ZIP-файл, содержащий
download-request-archive-multiple = Разбить на { $archiveCount } ZIP-файлов, содержащих
download-request-assembling-description = Ваши файлы собираются. Пожалуйста, зайдите попозже.
download-request-refresh-button = Обновить
download-request-modal-title = Ссылки для загрузки
download-request-modal-description = Вот ссылки для загрузки ваших ZIP-файлов.
download-request-link-text = Zip №{ $offset } из { $total }
download-request-metadata-link = Текст предложений
download-request-link-single = Вы также можете скопировать и вставить прямые URL-адреса в свой любимый менеджер загрузок. Срок их действия истекает через 12 часов, но вы можете вернуться на эту страницу в любое время для создания новых.

## Landing

welcome-staff = Добро пожаловать, сотрудники { $company }!
help-contribute = Вы можете помочь в создании разнообразного и открытого набора данных, создав профиль Common Voice и помогая своим голосом.
login-company = Войти / Зарегистрироваться с помощью почты { $company }
profile-not-required = Наличие профиля не обязательно для участия, хотя это полезно
read-more-about = Узнайте больше на нашей странице «О нас»

## DemoLayout

demo-get-started = Давайте начнём
demo-welcome = Добро пожаловать в Common Voice
demo-welcome-subheader = Хотите узнать больше и внести свой вклад в проект?

## Demo Datasets

demo-language-select-card-header = Common Voice — это крупнейший в мире общедоступный мультиязычный набор голосовых данных.
demo-language-select-card-body = Благодаря вкладу более 259 тысяч человек, говорящих на более чем 50 языках, эти данные используются для обучения языковых приложений, чтобы они лучше понимали человеческий голос.
card-button-next = Далее
card-button-back = Назад
demo-language-select-label = Просмотр языков
demo-eofy-header = Выпуск в конце 2019 года
demo-eofy-sub_header = Набор голосовых данных, готовый к загрузке
demo-account = Учётная запись

## Demo Account

demo-account-card-header = Наличие учётной записи не обязательно для участия, хотя это полезно
demo-account-card-body = Справа мы указываем преимущества и уточняем, какие данные будут публичными. Воспользуйтесь ссылками ниже, чтобы начать работу с аккаунтом Common Voice на вашем устройстве.
demo-account-enter-email =
    .label = Введите адрес электронной почты, для отправки на неё ссылки для регистрации
demo-account-sign-up = Отправить ссылку для регистрации

## Demo Contribute

demo-contribute-card-header = Готовы добавить свой голос или послушать?
demo-contribute-card-body-v2 = Теперь, когда вы знаете немного больше о Common Voice, почему бы не попробовать? Щёлкните по значку микрофона, чтобы начать произносить предложения вслух. <br/><br/>Если вы предпочитаете проверять голосовые записи других людей, щёлкните по значку воспроизведения. Вы поможете подтвердить, что голосовая запись соответствует предложениям, отображаемым на экране.
demo-listen-subtitle = Готовы внести свой вклад?

## Demo Dashboard

demo-dashboard-card-header = Персональные информационные панели позволят вам быть в курсе прогресса отдельных людей и сообщества в целом.
demo-dashboard-card-body = После каждой загрузки голосовой записи и каждой проверки записи, информационные панели вашего аккаунта обновляются, чтобы отразить ваши текущие достижения на каждом языке, в который вы делаете вклад. Да, вы можете помочь нескольким языкам! <br/><br/>Используйте информационные панели, чтобы отслеживать свою статистику, видеть, как вы работаете по сравнению с другими участниками сообщества, и устанавливать ежедневные или еженедельные цели.

## Validation criteria

contribution-criteria-nav = Критерии
contribution-criteria-link = Узнать правила
contribution-criteria-page-description = Узнайте, на что обращать внимание при прослушивании записей, а также сделайте свои записи богаче!
contribution-for-example = например
contribution-misreadings-title = Неверное прочтение
contribution-misreadings-description = При прослушивании очень внимательно проверяйте, что записано в точности то, что написано; отклоняйте даже незначительные ошибки. <br /> Очень частые ошибки:
contribution-misreadings-description-extended-list-4 = Пропуск конца последнего слова из-за преждевременного прерывания записи.
contribution-misreadings-description-extended-list-5 = Несколько попыток прочесть слово.
contribution-misreadings-example-2-title = Гигантский динозавр триасового периода.
contribution-misreadings-example-3-title = Гигантские динозавры Триассо-.
contribution-misreadings-example-4-title = Гигантские динозавры триаса. Да.
contribution-misreadings-example-8-title = Мимо пронесся шмель.
contribution-varying-pronunciations-title = Различное Произношение
contribution-varying-pronunciations-description = Будьте осторожны, прежде чем отклонять клип на том основании, что читатель неправильно произнес слово, поставил ударение не в том месте или, по-видимому, проигнорировал знак вопроса. Во всем мире используется большое разнообразие произношений, некоторые из которых вы, возможно, не слышали в своем местном сообществе. Пожалуйста, не отвергайте тех, кто может говорить иначе, чем вы.
contribution-background-noise-title = Фоновый шум
contribution-background-voices-title = Фоновые голоса
contribution-volume-title = Громкость
contribution-reader-effects-description = Большинство записей - это люди, говорящие естественным голосом. Вы можете принимать иногда встречающиеся нестандартные записи, которые кричат, шепчут или явно произносят «драматическим» голосом. Пожалуйста, не принимайте песенные записи, и записи, в которых используется голос, синтезированный на компьютере.
contribution-just-unsure-title = Не уверены?
contribution-just-unsure-description = Если вы столкнетесь с чем-то, что не охвачено этими рекомендациями, проголосуйте, исходя из вашего здравого смысла. Если вы действительно не можете решить, используйте кнопку пропуска и переходите к следующей записи.
see-more = <chevron></chevron>Более подробно
see-less = <chevron></chevron>Менее подробно
