## General

yes-receive-emails = Áno, posielajte mi e-maily. Rád by som zostal o projekte Common Voice informovaný.
stayintouch = V Mozille budujeme komunitu okolo technológií rozpoznávania reči. Radi by sme s vami zostali v kontakte prostredníctvom noviniek, napríklad o nových zdrojoch údajov. Radi by sme sa taktiež dozvedeli, ako tieto údaje používate.
privacy-info = Sľubujeme, že sa o vaše informácie budeme príkladne starať. Ďalšie informácie sa dočítate v našich <privacyLink>zásadách ochrany súkromia</privacyLink>.
return-to-cv = Návrat do Common Voice
email-input =
    .label = E-mailová adresa
submit-form-action = Odoslať
loading = Načítava sa…
email-opt-in-info = Chcem dostávať e-maily, ako sú upozornenia na ciele, môj pokrok a novinky o službe Common Voice.
email-opt-in-info-title = Pripojte so do emailovej skupiny Common Voice
email-opt-in-info-sub-with-challenge = Dostávajte e-maily, ako sú upozornenia na ciele či výzvy, informácie o pokroku a novinky o službe Common Voice.
email-opt-in-privacy-v2 = Rozhodnutím prijímať e-maily potvrdzujete svoj súhlas so spracovaním vašich údajov tak, ako je to popísané v <privacyLink>zásadách ochrany súkromia</privacyLink>.
indicates-required = * označuje povinné pole
not-available-abbreviation = N/A

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = abcházština
ace = acehčina
ady = adygejčina
af = afrikánčina
am = amharčina
an = aragónčina
ar = arabčina
arn = mapudungunčina
as = ásámčina
ast = astúrčina
az = azerbajdžančina
ba = baškirčina
bas = basaa
be = bieloruština
bg = bulharčina
bm = bambarčina
bn = bengálčina
br = bretónčina
bxr = buriatčina
ca = katalánčina
cak = kaqchikel
ckb = Stredná kurdčina
cnh = hakha chin
co = korzičtina
cs = čeština
cv = čuvaština
cy = waleština
da = dánčina
de = nemčina
dsb = dolnolužická srbčina
dv = maldivčina
el = gréčtina
en = angličtina
eo = esperanto
es = španielčina
et = estónčina
eu = baskičtina
fa = perzština
ff = fulbčina
fi = fínčina
fo = faerčina
fr = francúzština
fy-NL = frízština
ga-IE = írčina
gl = galícijčina
gn = guarančina
ha = hauština
he = hebrejčina
hi = hindčina
hr = chorvátčina
hsb = hornolužická srbčina
ht = haitská kreolčina
hu = maďarčina
hy-AM = arménčina
hyw = západná arménčina
ia = interlingua
id = indonézština
is = islandčina
it = taliančina
izh = izorčina
ja = japončina
ka = gruzínčina
kaa = karakalpačtina
kab = kabylčina
kbd = kabardčina
kk = kazaština
kmr = kurmanji kurdčina
ko = kórejčina
kpv = komi-zyriančina
kw = kornčina
ky = kirgizština
lg = gandčina
lij = ligúrčina
lt = litovčina
lv = lotyština
mai = maithilčina
mdf = mokša
mg = malagaština
mhr = lúčnovýchodná marijčina
mk = macedónčina
ml = malajálamčina
mn = mongolčina
mos = mossi
mr = maráthčina
mrj = hornomarijská marijčina
ms = malajčina
mt = maltčina
my = barmčina
myv = erzya
nb-NO = nórčina (bokmål)
ne-NP = nepálčina
nia = Nias
nl = holandčina
nn-NO = nórčina (nynorsk)
nyn = Nyankole
oc = okcitánčina
or = urijčina
pa-IN = pandžábčina
pap-AW = Papiamento (Aruba)
pl = poľština
ps = paštčina
pt = portugalčina
rm-sursilv = rétorománčina (sursilvan)
rm-vallader = rétorománčina (vallader)
ro = rumunčina
ru = ruština
rw = rwandčina
sah = jakutčina
sc = sardínčina
scn = sicílčina
shi = shilha
si = sinhalčina
sk = slovenčina
sl = slovinčina
so = somálčina
sq = albánčina
sr = srbčina
sv-SE = švédčina
sw = swahilčina
syr = sýrčina
ta = tamilčina
te = telugčina
tg = tadžičtina
th = thajčina
tl = tagalčina
tr = turečtina
tt = tatárčina
tw = Twi
ty = tahitčina
uby = ubychčina
udm = udmurtčina
ug = ujgurčina
uk = ukrajinčina
ur = urdčina
uz = uzbečtina
vec = benátčina
vi = vietnamčina
vot = vodčina
yi = jidiš
yo = Jorubčina
yue = kantónčina
zh-CN = čínština (Čína)
zh-HK = čínština (Hongkong)
zh-TW = čínština (Taiwan)

# [/]


## Layout

speak = Hovorte
speak-now = Hovorte teraz
datasets = Datasety
languages = Jazyky
about = O nás
profile = Profil
help = Pomocník
contact = Kontakt
privacy = Súkromie
terms = Podmienky
cookies = Cookies
faq = FAQ
content-license-text = Obsah je dostupný v rámci licencie <licenseLink>Creative Commons</licenseLink>
share-title = Pomôžte nám nájsť ďalších, ktorí prispejú svojím hlasom!
share-text = Pomôžte strojom pochopiť ľudskú reč. Prispejte svojím hlasom na { $link }
link-copied = Odkaz bol skopírovaný
back-top = Návrat hore
logout = Odhlásiť sa

## Home Page

home-title = Projekt Common Voice je iniciatíva Mozilly, ktorá pomáha strojom učiť sa, ako rozprávajú skutoční ľudia.
default-tagline = Mozilla Common Voice je iniciatíva, ktorá pomáha strojom učiť sa, ako rozprávajú skutoční ľudia.
home-cta = Hovorte a prispejte svojím hlasom tu!
wall-of-text-start =
    Reč je prirodzená a ľudská. Preto chceme vytvoriť použiteľnú technológiu rozpoznávania reči 
    pre naše stroje. by sme ju však mohli vytvoriť, potrebujeme veľké množstvo 
    hlasových údajov.
wall-of-text-more-mobile = Väčšina údajov, ktoré používajú veľké spoločnosti nie je dostupná pre väčšinu ľudí. Myslíme si, že to zdržuje inovácie. Preto sme spustili Common Voice, projekt, ktorý sprístupní rozpoznávanie reči pre všetkých.
wall-of-text-more-desktop =
    Odteraz môžete darovať svoj hlas a pomôcť nám tak vybudovať open source hlasovú databázu, ktorú môže
    použiť ktokoľvek na tvorbu inovatívnych aplikácií pre zariadenia a pre web.<lineBreak></lineBreak>
    Čítajte vety a pomôžte strojom naučiť sa, ako hovoria skutoční ľudia. Skontrolujte prácu ďalších
    dobrovoľníkov a vylepšite jej kvalitu. Je to také jednoduché!
wall-of-text-first =
    Reč je prirodzená a ľudská. Preto chceme vytvoriť použiteľnú technológiu rozpoznávania reči 
    pre naše stroje. by sme ju však mohli vytvoriť, potrebujeme veľké množstvo hlasových údajov.
wall-of-text-second =
    Väčšina údajov, ktoré používajú veľké spoločnosti nie je dostupná pre väčšinu ľudí. Myslíme si, že to zdržuje inovácie.
    Preto sme spustili Common Voice, projekt, ktorý sprístupní rozpoznávanie reči pre všetkých.
show-wall-of-text = Prečítajte si viac
help-us-title = Pomôžte nám overovať vety!
help-us-explain = Kliknite na prehrať, počúvajte a povedzte nám, či sa nahrávka zhoduje s vetou nižšie.
no-clips-to-validate = Vyzerá to tak, že vo vašom jazyku nie sú k dispozícii žiadne nahrávky. Pomôžte nám a nejaké vytvorte.
vote-yes = Áno
vote-no = Nie
toggle-play-tooltip = Stlačením { shortcut-play-toggle } spustíte režim prehrávania
speak-subtitle = Prispejte svojim hlasom
speak-paragraph = Nahrávanie klipov je neoddeliteľnou súčasťou budovania našich otvorených datasetov. Podľa niektorých je to práve tá zábavnejšia časť.
speak-goal-text = Počet nahrávok
listen-subtitle = Pomôžte nám s overením
listen-paragraph = Overovanie nahrávok je rovnako dôležitou súčasťou misie Common Voice. Vypočujte si ich a pomôžte nám vytvoriť kvalitnú databázu.
listen-goal-text = Počet overených nahrávok
hours-recorded = Počet nahraných hodín
hours-validated = Počet overených hodín
voices-online = Aktívne hlasy
todays-progress = Dnešný pokrok
help-reach-goal = Pomôžte nám dostať sa na { $goal }
read-terms-q = Čítali ste naše podmienky používania?
ready-to-record = Ste pripravení darovať svoj hlas?
all-locales = Všetky
today = Dnes
x-weeks-short =
    { $count ->
        [one] Týždeň
        [few] { $count } týž.
       *[other] { $count } týž.
    }
x-months-short =
    { $count ->
        [one] { $count } mes.
        [few] { $count } mes.
       *[other] { $count } mes.
    }
x-years-short =
    { $count ->
        [one] { $count } rok
        [few] { $count } roky
       *[other] { $count } rokov
    }
help-make-dataset = Pomôžte nám vytvoriť vysokokvalitnú a verejne prístupnú databázu
sign-up-account = Vytvorte si účet
email-subscription-title = prihláste sa k odberu noviniek
email-subscription-title-new = Prihláste sa na odber noviniek o projekte Common Voice, upozornení na ciele a aktualizáciám pokroku.

## Account Benefits

benefits = Výhody
rich-data = Obohaťte odoslané dáta poskytnutím niektorých anonymných demografických údajov. Pred zverejnením všetky demografické údaje de-identifikujeme.
improve-audio = Profilové informácie zlepšujú zvukové dáta používané pri tréningu presnosti rozpoznávania reči.
keep-track = Sledujte svoj pokrok a metriky vo viacerých jazykoch.
compare-progress = Porovnajte sa s ostatnými prispievateľmi z celého sveta.
view-goals = Pozrite si svoj pokrok v porovnaní s osobnými a projektovými cieľmi.
join-newsletter = Prípadne sa pripojte na odber noviniek o projekte.

## What's public

whats-public = Čo všetko zverejňujeme?
email-not-public = Vašu e-mailovú adresu nezverejňujeme.
recordings-and-locale-public = Počet nahrávok a jazyky, do ktorých prispievate, budú verejné.
username-optin-public = Môžete si vybrať, či bude vaše používateľské meno verejné alebo anonymné.
demographic-deidentified-clarity-2 = Dobrovoľne odosielané demografické dáta (napr. vek, pohlavie, jazyk a prízvuk) nebudú na vašom profile nikdy sprístupnené verejne, a v datasete nebudú spárované s vašim účtom. Individuálne zvukové nahrávky budú asociované s demografickými údajmi za účelom presnejšej analýzy - napríklad, výskumník môže chcieť cieliť trénovanie modelu na špecifickú demografickú skupinu.
username-email-not-demographic = Vaše používateľské meno a e-mailová adresa nebudú nijakým spôsobom prepojené s uverejnenými údajmi.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = p
shortcut-play-toggle-label = Prehrať/zastaviť
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = á
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = Nahrať/zastaviť
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = Nahrať klip nanovo
shortcut-discard-ongoing-recording = ESC
shortcut-discard-ongoing-recording-label = Zahodiť prebiehajúcu nahrávku
shortcut-submit = Enter
shortcut-submit-label = Odoslať nahrávky
request-language-text = Nevidíte na Common Voice svoj jazyk?
request-language-text-learn = Tu sa dozviete, ako o to požiadať.
request-language-button = Požiadajte o jazyk

## ProjectStatus

status-title = Celkový stav projektu - pozrite sa, ako ďaleko sme sa už dostali!
status-contribute = Prispejte svojím hlasom
status-hours =
    { $hours ->
        [one] Zatiaľ je overená jedna hodina!
        [few] Zatiaľ sú overené { $hours } hodiny!
       *[other] Zatiaľ je overených { $hours } hodín!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Ďalší cieľ: { $goal }
english = Angličtina

## ProfileForm

profile-form-username =
    .label = Používateľské meno
profile-form-native-language =
    .label = Materinský jazyk
profile-form-additional-language =
    .label = Ďalší jazyk
profile-form-accent =
    .label = Prízvuk
profile-form-age =
    .label = Vek
profile-form-gender-2 =
    .label = Pohlavie
leaderboard-visibility =
    .label = Viditeľnosť v rebríčku
hidden = Skrytý
visible = Viditeľný
native-language =
    .label = Materinský jazyk
profile-form-submit-save = Uložiť
profile-form-submit-saved = Uložený
male = Muž
female = Žena
# Gender
other = Iné
why-profile-title = Prečo chcete profil?
why-profile-text = Tým, že nám o sebe poskytnete nejaké informácie, budú údaje, ktoré odošlete do Common Voice, užitočnejšie pre systémy rozpoznávania reči, ktoré tieto údaje využívajú na zvýšenie presnosti.
dashboard = Nástenka
build-profile = Vytvorenie profilu
avatar = Avatar
goals = Ciele
settings = Nastavenia
edit-profile = Upraviť profil
profile-create-success = Profil bol úspešne vytvorený!
profile-close = Zavrieť
profile-explanation = Sledujte svoj pokrok pomocou profilu a pomôžte nám spresniť naše hlasové údaje.
thanks-for-account = Ďakujeme za potvrdenie vášho účtu, poďme vytvoriť váš profil.
why-demographic = Prečo na tom záleží?
why-demographic-explanation-2 = Anonymizované údaje, ako vek, pohlavie a prízvuk pomáhajú vylepšovať naše údaje, ktoré budú použité na trénovanie systémov rozpoznávania reči. Vaše používateľské meno a e-mailová adresa nebudú nikdy spojené s odoslanými údajmi a môžete si vybrať, či chcete svoje používateľské meno zverejniť alebo nie.
accept-privacy = Súhlasím so spracovaním týchto údajov tak, ako je to popísané v <privacyLink>zásadách ochrany súkromia</privacyLink>
accept-privacy-title = Zásady ochrany osobných údajov
login-identity = Identita pre prihlásenie
login-signup = Prihlásenie/registrácia
edit = Upraviť
email-subscriptions = Odbery pomocou e-mailu
download-profile = Prevziať moje údaje
contribution-experience = Používateľský zážitok
skip-submission-feedback = Preskočiť spätnú väzbu
skip-submission-description = Pri prispievaní bude po kliknutí na „Odoslať“ preskočená spätná väzba. Prispievanie bude pokračovať priamo na súbor ďalších 5 nahrávok alebo viet na overenie.
skip-submission-note = Poznámka: Pre zmenu druhu vašich príspevkov budete stále musieť vybrať medzi hovorením a počúvaním.
off = Vypnutá
on = Zapnutá

## Profile - Email

browse-file-title = Nahrať obrázok
browse-file = Presuňte alebo <browseWrap>Prehliadajte</browseWrap>
connect-gravatar = Prepojiť so službou Gravatar
gravatar_not_found = Pre vašu e-mailovú adresu nebol nájdený žiadny gravatar
file_too_large = Vybraný súbor je príliš veľký
avatar-uploaded = Avatar bol nahraný
max-file-size = max. { $kb } kB

## Profile - Email

manage-subscriptions = Spravovať odbery
manage-email-subscriptions = Spravovať odbery e-mailov
email-already-used = E-mailová adresa sa už používa pre iný účet
add-language = Pridať jazyk
change-email-setings = Svoju e-mailovú adresu môžete zmeniť v nastaveniach v časti Identita pre prihlásenie

## FAQ

faq-title = Často kladené otázky
faq-what-cv-q = Čo je Common Voice?
faq-what-cv-a =
    Technológia rozpoznávania hlasu je revolúciou v spôsobe, akým pracujeme so strojmi, ale v súčasnosti dostupné systémy sú drahé a proprietárne. Common Voice je súčasťou iniciatívy Mozilly, aby technológie rozpoznávania hlasu boli lepšie a dostupnejšie pre každého. Common Voice je masívna globálna databáza darovaných hlasov, ktorá umožňuje komukoľvek ľahko a rýchlo trénovať aplikácie podporujúce hlas, potenciálne v každom jazyku.
    
    Zhromažďujeme hlasové vzorky nielen pre najpoužívanejšie jazyky, ale aj pre jazyky s menšou populáciou hovoriacich. Publikovanie rôznorodého súboru hlasov umožní vývojárom, podnikateľom a komunitám aby túto medzeru riešili sami. Popri dátovom súbore Common Voice taktiež budujeme aj open source nástroj na rozpoznávanie reči s názvom Deep Speech.
faq-what-cv-a-2 =
    Technológia rozpoznávania hlasu prináša revolúciu v spôsobe interakcie so strojmi, ale v súčasnosti dostupné systémy sú drahé a proprietárne. Mozilla Common Voice je iniciatíva, ktorej cieľom je zlepšiť a sprístupniť technológie rozpoznávania hlasu pre každého. Common Voice je rozsiahla globálna databáza darovaných hlasov, ktorá umožňuje komukoľvek rýchlo a jednoducho trénovať aplikácie podporujúce hlas v potenciálne každom jazyku.
    
    Nezhromažďujeme len ukážky hlasu v široko hovorených jazykoch, ale aj v jazykoch s menšou populáciou rečníkov. Publikovanie rozmanitej množiny hlasov umožní vývojárom, podnikateľom a komunitám túto medzeru vyriešiť sami.
faq-why-important-q = Prečo je to dôležité?
faq-why-important-a =
    Reč je často najprirodzenejším spôsobom, akým navzájom komunikujeme, a hlasové technológie prinášajú toto pohodlie do našich počítačov a mobilných zariadení. Chceme umožniť vývojárom vybudovať úžasné aplikácie na rozpoznávanie hlasu, ako sú prekladatelia v reálnom čase a hlasom ovládaní digitálni asistenti. Ale práve teraz je väčšina hlasových dát potrebných na vybudovanie takýchto aplikácií drahá a proprietárna. Dúfame, že dátový súbor Common Voice poskytne vývojárom to, čo potrebujú na inováciu a sprístupnenie technológie reči v ich vlastnom jazyku.
    
    Aby sa rozpoznávanie hlasu stalo ešte univerzálnejším, zhromažďujeme hlasové vzorky v často hovorených jazykoch, rovnako ako v jazykoch s menším počtom hovoriacich, ktorí sú často prehliadaní komerčnými službami rozpoznávania reči. Publikovanie rôznorodého súboru hlasov umožní vývojárom, podnikateľom a celým rečovým komunitám vyriešiť túto medzeru .
faq-how-get-q = Ako môžem získať údaje služby Common Voice?
faq-how-get-a = Dataset služby Common Voice je dostupný na prevzatie v rámci licencie <licenseLink>CC0</licenseLink> na <datasetLink>stránke našich datasetov</datasetLink>. Z tej istej stránky si taktiež môžete prevziať niekoľko ďalších verejne dostupných datasetov.
faq-when-release2-q = Kedy uverejníte údaje projektu Common Voice aj v ďalších jazykoch?
faq-when-release2-a = Na viacjazyčnej verzii Common Voice datasetu momentálne prebieha spájanie a čistenie podporované komunitou. Ak nám chcete pomôcť s prinesením Common Voice do nových jazykov, použite nástroj na <sentenceCollectorLink>zber viet</sentenceCollectorLink>, pomocou ktorého pridáte nové vety do datasetu, a Mozilla <pontoonLink>Pontoon</pontoonLink> na preklad samotnej stránky. Nové jazyky sú pridávané do Common Voice v momente, keď sa dosiahne nazbieranie 5 000 schválených viet.
faq-why-mission-q = Prečo je projekt Common Voice súčasťou misie Mozilly?
faq-why-mission-a = Mozilla je odhodlaná udržať web otvorený a prístupný pre všetkých. Aby sme to mohli robiť, potrebujeme podporovať tvorcov webu pomocou projektov, ako napríklad Common Voice. Keďže sa technológie rozpoznávania reči dostávajú do čoraz viac aplikácií, veríme, že by mali slúžiť rovnako dobre všetkým používateľom. Vidíme potrebu zahrnúť pri tvorbe a testovaní technológii na rozpoznávanie reči ďalšie jazyky, prízvuky a skupiny ľudí. Common Voice je verejný zdroj, ktorý tímy Mozilly a vývojári po celom svete už aktívne využívajú.
faq-what-cv-and-deepspeech-q = Aký je rozdiel medzi projektami Common Voice a Deep Speech?
faq-what-cv-and-deepspeech-a = Dataset Common Voice dopĺňa open-source systém rozpoznávania hlasu Deep Speech spoločnosti Mozilla. Prvá verzia systému Deep Speech bola vydaná v novembri 2017 a odvtedy sa neustále vyvíja. Veríme, že táto open-source technológia rozpoznávania hlasu, spoločne s datasetom Common Voice, by mala byť dostupná pre každého. Dúfame, že tieto technológie umožnia vývojárom vybudovať vlnu inovatívnych produktov a služieb.
faq-is-goal-assistant-q = Je cieľom projektu Common Voice vytvorenie hlasového asistenta?
faq-is-goal-assistant-a = Cieľom datasetu Common Voice je umožniť komukoľvek na svete vytvárať aplikácie využívajúce rozpoznávanie reči, hovoriaceho alebo akékoľvek spracovanie hlasových údajov. Hlasový asistent je len jedným z mnohých typov aplikácií, na ktoré môžete použiť tento dataset.
faq-do-want-native-q = Daný jazyk nie je môj materinský a hovorím s prízvukom, chcete môj hlas aj tak?
faq-do-want-native-a = Áno, obzvlášť váš hlas chceme! Súčasťou cieľu projektu Common Voice je získať hlasové nahrávky s čo možno najviac prízvukmi, aby aplikácie využívajúce rozpoznávanie reči mohli fungovať rovnako dobre pre všetkých. Z tohto dôvodu sú pre nás podobné nahrávky obzvlášť dôležité.
faq-why-different-speakers-q = Prečo potrebujete toľko rozdielnych ľudí pre každý jazyk?
faq-why-different-speakers-a =
    Väčšina rečových databáz je trénovaná s nadmerným zastúpením určitých demografických skupín, z čoho vyplýva zaujatosť voči <articleLink>mužom a strednej triede</articleLink>. Prízvuky a dialekty, ktoré sú často nedostatočne zastúpené v trénovacích datasetoch, sú typicky asociované s marginalizovanými skupinami obyvateľstva. Mnoho strojov má taktiež problém s rozpoznávaním ženských hlasov.
    Kvôli tomuto chceme mať v našej databáze pestrosť!
faq-why-my-lang-q = Prečo môj jazyk zatiaľ nie je zahrnutý?
faq-why-my-lang-new-a = Mozilla nevyberá ani uprednostňuje žiadny jazyk pred iným. Namiesto toho je Common Voice čisto komunitnou iniciatívou, ale je potrebných <multilangLink>niekoľko krokov pre pridanie nového jazyka</multilangLink> a spustenie zberu hlasových darov. Najprv je potrebné preložiť webovú stránku Common Voice, aby členovia komunity mali prístup k skúsenostiam prispievateľov vo svojom vlastnom jazyku. Ďalej potrebujeme veľkú zbierku viet bez autorských práv, ktoré môžu ľudia čítať nahlas. Keď sú obidve tieto požiadavky splnené, jazyk je systéme Common Voice „spustený“ pre ľudí, ktorí môžu začať zaznamenávať svoj hlas a overovať nahrávky ostatných. Ak chcete pomôcť spustiť nový jazyk, prejdite na náš <sentenceCollectorLink> nástroj na zhromažďovanie viet </sentenceCollectorLink>, aby ste mohli začať.
faq-what-quality-q = Aká kvalita zvuku je potrebná na použitie hlasového klipu v datasete?
faq-what-quality-a = Chceme, aby dataset Common Voice odrážal kvalitu zvuku, ktorú bude systém prevodu reči na text počuť v teréne, takže hľadáme rozmanitosť. Okrem rôznorodej komunity hovoriacich, dataset s rôznou kvalitou zvuku naučí systém prevodu reči na text zvládať rôzne situácie v reálnom svete, od rozhovoru v pozadí až po hluk z auta. Pokiaľ je váš hlasový klip zrozumiteľný, mal by byť pre dataset dostatočne dobrý.
faq-why-10k-hours-q = Prečo je cieľom pri nahrávkach práve 10 000 overených hodín?
faq-why-10k-hours-a = Je to približný počet hodín potrebných na natrénovanie produkčného systému prevodu reči na text.
faq-how-calc-hours-q = Ako projekt Common Voice počíta nahrané hodiny?
faq-how-calc-hours-a = Hodiny počítame odhadom priemernej dĺžky každého záznamu, ktorú potom vynásobíme celkovým počtom záznamov vo všetkých jazykoch.
faq-where-src-from-2-q = Odkiaľ pochádza zdrojový text?
faq-where-src-from-2-a =
    Náš zdrojový text je tvorený originálnymi príspevkami prispievateľov, ale aj dialógmi zo scenárov verejne dostupných filmov, ako napríklad <italic>Život je krásny</italic>.
    
    Naše zdrojové vety môžete nájsť v tomto <githubLink>GitHub priečinku</githubLink>.
faq-why-not-ask-read-q = Prečo nepožiadate ľudí, aby čítali z kníh alebo články na Wikipédii?
faq-why-not-ask-read-a = Aby bol Common Voice dataset čo najužitočnejší, rozhodli sme sa prijímať len zdrojové texty dostupné pod licenciou Creative Commons (CC0). Použitie štandardu CC0 znamená, že je ťažšie nájsť a zozbierať zdrojový text, ale umožní komukoľvek použiť výsledné hlasové údaje bez obmedzení alebo povolení od Mozilly. V konečnom dôsledku chceme vytvoriť čo najužitočnejší mnohojazyčný dataset pre každého, vrátane vedcov, univerzít, startupov, vlád, sociálnych organizácii a hobbistov.
faq-why-account-q = Prečo by som si mal(a) vytvoriť účet?
faq-is-account-public-q = Sú informácie o mojom účte verejne prístupné?
faq-how-privacy-q = Ako zaisťujete anonymitu a súkromie jednotlivých prispievateľov do projektu Common Voice?
faq-how-privacy-a = Všetky hlasové klipy v datasete sú očistené od osobne identifikujúcich údajov . Keď prispievateľ poskytne demografické údaje prostredníctvom svojho profilu, tieto informácie sa de-identifikujú od jeho hlasových klipov predtým, než sa pridajú do datasetu na stiahnutie a nikdy sa na profilovej stránke nezverejnia.
faq-what-determine-identity-q = Čo to znamená, že nemôžem „určiť identitu“ rečníkov v datasete Common Voice?
faq-what-determine-identity-a =
    Common Voice dataset je otvoreným a verejne dostupným zdrojom, ktorý môže byť použitý na trénovanie širokej škály aplikácií s podporou reči. Na ochranu našich prispievateľov, žiadame každého, kto si stiahne set dát Common Voice, aby rešpektoval súkromie prispievateľov.
    
    Všetky hlasové nahrávky v datasete sú očistené od osobných identifikačných údajov. Stiahnutím datasetu súhlasíte, že sa nebudete pokúšať identifikovať identitu žiadneho z prispievateľov. To znamená, že nemôžete pokúšať spárovať informáciu v datasete s osobnými údajmi prispievateľa. Avšak, dataset môže byť použitý na trénovanie rozpoznávania reči, rozpoznávanie hovoriaceho, alebo iného použitia, ako napríklad spárovanám informácie v datasete s inými informáciami obsiahnutými v datasete.
faq-what-is-cv = Čo je Common Voice?
faq-using-cv = Používanie projektu Common Voice
faq-description = Projekt Common Voice je súčasťou iniciatívy Mozilly, ktorá pomáha strojom učiť sa, ako rozprávajú skutoční ľudia.
faq-search-for-answers =
    .label = Hľadať

## ABOUT US

about-title = Prečo Common Voice?
about-subtitle = Common Voice je súčasťou iniciatívy Mozilly pomôcť učiť stroje, ako hovoria skutoční ľudia. Okrem datasetu Common Voice budujeme aj open source engine na rozpoznávanie reči s názvom Deep Speech.
about-header-description =
    Oba tieto projekty sú súčasťou nášho úsilia o prekonanie priepasti v digitálnej reči. Technológie rozpoznávania hlasu dodávajú našim zariadeniam ľudský rozmer, ale vývojári potrebujú obrovské množstvo hlasových údajov, aby ich mohli zostaviť. V súčasnosti je väčšina týchto údajov drahá a súkromná.
    Chceme sprístupniť hlasové údaje verejne a zadarmo a zabezpečiť, aby údaje reprezentovali rozmanitosť skutočných ľudí. Spoločne môžeme zlepšiť rozpoznávanie hlasu pre všetkých.
about-header-description-2 =
    Tento projekt je snahou preklenúť priepasť v digitálnej reči. Technológie rozpoznávania hlasu prinášajú do našich zariadení ľudský rozmer, ale vývojári na ich vybudovanie potrebujú obrovské množstvo hlasových dát. V súčasnosti je väčšina týchto údajov drahá a proprietárna.
    Chceme, aby boli hlasové údaje voľne a verejne dostupné, a takisto sa snažíme zaistiť, aby údaje reprezentovali rozmanitosť skutočných ľudí. Spolu dokážeme zlepšiť rozpoznávanie hlasu pre každého.
how-does-it-work-title = Ako to funguje?
how-does-it-work-text = Zhromažďujeme množstvo hlasov do veľkého otvoreného datasetu. Darujte svoj hlas, overte presnosť klipov iných ľudí a pomôžte tak vylepšiť súbor údajov.
about-speak = Čítanie
about-speak-text = Prispievatelia zaznamenávajú rečové nahrávky čítaním zo zásoby darovaných viet.
about-listen-queue = Fronta nahrávok
about-listen-queue-text = Hlasové záznamy vstupujú do fronty, kde sú pripravené na počúvanie.
about-listen = Počúvanie
about-listen-text = Používatelia overujú presnosť darovaných nahrávok kontrolovaním, či hovoriaci čítajú vety správne.
about-is-it-valid = Je nahrávka platná?
about-is-it-valid-text = Nahrávka je označená ako platná po jej schválení iným používateľom
about-yes-votes = ≥ 2 hlasy pre Áno
about-yes-votes-text = Aby sa nahrávka dostala do databázy Common Voice, musí byť schválená dvoma rôznymi používateľmi.
about-no-votes = ≥ 2 hlasy pre Nie
about-no-votes-text = Keď používateľ odmietne hlasový klip, vráti sa do fronty. Ak bude odmietnutý druhýkrát, hlasový klip sa presunie na cintorín klipov.
about-dataset-new = Dataset Common Voice
about-dataset-new-text = Dataset Common Voice obsahuje stovky tisíc hlasových vzoriek, ktoré vývojárom pomáhajú vytvoriť nástroje na rozpoznávanie hlasu.
about-clip-graveyard = Cintorín nahrávok
about-clip-graveyard-text = Cintorín nahrávok obsahuje nahrávky, ktoré sa nedostali do hlavnej databázy Common Voice. Rovnako ako hlavná databáza, je aj cintorín k dispozícii na prevzatie.
about-partners = Partneri
about-become-a-partner = Staňte sa partnerom
about-partnership =
    Common Voice je projekt spolupráce, ktorý je závislý od našej komunity partnerov a prispievateľov pri zostavovaní najväčšieho open-source datasetu hlasov.
    
    Chceli by sme sa poďakovať nasledujúcim ľuďom a organizáciám za pomoc s týmto projektom:
about-get-involved = Zapojte sa
about-get-involved-text-2 =
    Chcete pomôcť spraviť technológiu Common Voice ešte lepšou?
    Skvelé! Spojte sa s nami pomocou e-mailu alebo <discourseLink>diskusného fóra</discourseLink>, nahlasujte problémy s webom prostredníctvom <githubLink>GitHubu</githubLink>, alebo sa pripojte ku komunitnému četu
    na <matrixLink>Matrixe</matrixLink>.
about-nav-why-common-voice = Prečo?
about-nav-how-it-works = Ako?
about-nav-partners = Partneri
about-nav-get-involved = Zapojte sa
mycroft-title = Mycroft Ai
mycroft-subtitle = Umelá inteligencia
mycroft-description =
    Mycroft je prvý open source hlasový asistent.
    Mycroft funguje všade - na počítači, v aute aj v Raspberry Pi.
mycroft-secondary-description = Ide o softvér s otvoreným zdrojovým kódom, ktorý je možné slobodne meniť, rozširovať a vylepšovať. Mycroft je možné použiť v čomkoľvek - od vedeckého projektu až po firemnú aplikáciu.

## Glossary

glossary = Slovník
localization = Lokalizácia
localization-explanation = Toto je náš proces prekladania a prispôsobovania nášho obsahu pre mnohé miestne nastavenia (jazyky).
sentence-collection = Zber viet
sentence-collection-explanation = Zhromažďovanie textov z verejnej domény alebo písanie nových textov pre verejnú doménu.
hours-recorded-explanation = Počet hodín hlasových záznamov, ktoré sme doteraz zhromaždili.
hours-validated-explanation = Počet hodín hlasových nahrávok, ktoré boli potvrdené 2 z 3 používateľov hlasovaním „Áno“. Tento počet určuje pokrok k naplneniu projektového cieľa 10k hodín.
sst = Prevod reči na text (STT)
sst-explanation = Technológia prevodu reči na text (STT) prevádza hlasové dáta na text.
de-identified = Anonymizovanie
de-identified-explanation = Proces, pri ktorom je v súboroch datasetu skrytá identita autorov hlasových záznamov.

## Error pages

error-title-404 = Túto stránku sa nám nepodarilo nájsť
error-content-404 = Možno pomôže naša <homepageLink>domovská stránka</homepageLink>? Ak chcete položiť otázku, pripojte sa k četu na <matrixLink>Matrixe</matrixLink>, monitorujte problémy prostredníctvom <githubLink>GitHubu</githubLink> alebo navštívte <discourseLink>naše diskusné fóra</discourseLink>.
error-title-503 = Zaznamenali sme neočakávaný výpadok
error-content-503 = Stránka bude čo najskôr obnovená. Ak chcete získať najnovšie informácie, pripojte sa k četu na <matrixLink>Matrixe</matrixLink>, navštívte stránku na <githubLink>GitHube</githubLink> alebo si pozrite <discourseLink>naše diskusné fóra</discourseLink>.
error-code = Chyba { $code }

## Data

data-download-button = Prevziať údaje Common Voice
data-download-yes = Áno
data-download-deny = Nie
data-download-license = Licencia: <licenseLink>CC-0</licenseLink>
data-download-modal = Chystáte sa zahájiť preberanie <size>{ $size } GB</size>, chcete pokračovať?
data-subtitle = Vytvárame otvorený a verejne dostupný hlasový dataset, ktorý môže ktokoľvek použiť na tréning aplikácií využívajúcich hlas.
data-explanatory-text = Veríme, že rozsiahle a verejne dostupné hlasové datasety podporujú inovácie a zdravú obchodnú súťaž v technológiách rozpoznávania reči založených na strojovom učení. Ide o celosvetové úsilie a pozývame všetkých, aby sa zapojili. Našim cieľom je pomôcť technológiám využívajúcim reč, aby boli otvorenejšie a aby odrážali rozmanitosť hlasov z celého sveta.
data-get-started = <speechBlogLink>Začíname s rozpoznávaním reči</speechBlogLink>
data-other-title = Ďalšie hlasové datasety…
data-other-goto = Prejsť na { $name }
data-other-download = Prevziať údaje
data-bundle-button = Prevziať balík datasetov
data-bundle-description = Common Voice a údaje všetkých ostatných hlasových datasetov vyššie.
release-version = Verzia
dataset-date = Dátum
license = Licencia: <licenseLink>{ $license }</licenseLink>
license-mixed = Zmiešaná
data-download-singleword-title = Stiahnite si Jednoslovnú dátovú sadu
data-download-singleword-callout-v2 = Toto je sada určená na podporu rozpoznávania hovorených číslic a slov áno / nie.
review-terms = Používaním Common Voice súhlasíte s našimi <termsLink>podmienkami</termsLink> a <privacyLink>zásadami ochrany súkromia</privacyLink>
terms-agree = Súhlasím
terms-disagree = Nesúhlasím
review-aborted = Nahrávanie bolo zrušené. Chcete odstrániť vaše nahrávky?
review-submit-title = Kontrola a odoslanie
review-submit-msg = Ďakujeme za nahrávky!<lineBreak></lineBreak>Teraz ich skontrolujte a odošlite.
review-recording = Kontrola
review-rerecord = Nahrať znova
review-cancel = Zrušiť odoslanie
review-keep-recordings = Ponechať nahrávky
review-delete-recordings = Odstrániť moje nahrávky

## Datasets Page

datasets-headline = Vytvárame otvorený viacjazyčný hlasový dataset, ktorý môže ktokoľvek použiť na trénovanie hlasových aplikácií.
datasets-positioning =
    Veríme, že veľké, verejne dostupné hlasové datasety podporia inováciu a zdravú obchodnú konkurenciu v technológii reči založenej na strojovom učení.
    
    Viacjazyčný dataset Common Voice je už najväčším verejne dostupným hlasovým súborom svojho druhu, ale nie je jediným.
    
    Na tejto stránke nájdete odkazy iné open-source datasety a, ako bude Common Voice naďalej rásť, aj domov pre naše aktualizácie.
language = Jazyk
# File size in gigabytes
size = Veľkosť
validated-hr-total = Overených Hod. Spolu
overall-hr-total = Celkovo Hod. Spolu
cv-license = Licencia
audio-format = Formát zvuku
number-of-voices = Počet hlasov
splits = Rozdelenie
email-to-download = Pre prevzatie zadajte svoju e-mailovú adresu
why-email = <b>Prečo email?</b> Možno Vás budeme musieť v budúcnosti kontaktovať ohľadom zmien v datasete, a e-mail nám poskytuje spôsob kontaktu.
confirm-size = Ste pripravení prevziať <b>{ $size }</b>
size-gigabyte = GB
size-megabyte = MB
confirm-no-identify = <b>Súhlasíte</b>, že sa nebudete pokúšať zistiť identitu prispievateľov v datasete Common Voice.
download-language = Prevziať jazyk { $language }
validated-hours = Počet Overených Hodín
recorded-hours = Počet Nahraných Hodín
whats-inside = Čo je vnútri datasetu Common Voice?
dataset-description-hours =
    Každá položka v datasete pozostáva z jedinečného súboru MP3 a prislúchajúceho textového súboru. Mnoho z <b>{ $total }</b> zaznamenaných hodín v datasete obsahuje aj demografické metaúdaje, ako je vek, pohlavie a prízvuk, ktoré môžu pomôcť s cvičením presnosti nástrojov rozpoznávania reči.
    
    Dataset v súčasnosti pozostáva z <b>{ $valid }</b> overených hodín v <b>{ $languages }</b> jazykoch, ale neustále pridávame ďalšie hlasy a jazyky. Navštívte našu stránku <languagesLink> Jazyky </languagesLink> a požiadajte o nový jazyk alebo začnite prispievať.
want-dataset-update = Chcete aktualizácie, keď vydáme novú verziu datasetu Common Voice? Prihláste sa ku odberu noviniek.
subscribe = Odoberať
get-started-speech = Začíname s rozpoznávaním reči
other-datasets = Ďalšie hlasové datasety
feedback-q = Máte spätnú väzbu?
data-other-librispeech-description = LibriSpeech je korpus približne 1 000 hodín 16 kHz čítanej angličtiny odvodený z audiokníh z projektu LibriVox.
data-other-ted-name = Korpus TED-LIUM
data-other-ted-description = Korpus TED-LIUM je tvorený zvukovými nahrávkami prednášok a ich prepismi dostupnými na webovej stránke TED.
data-other-voxforge-description = VoxForge bol vytvorený za účelom zberu prepísanej reči na použitie vo voľne dostupných, open source systémoch rozpoznávania reči.
data-other-tatoeba-description = Tatoeba je rozsiahla databáza viet, prekladov a hovoreného slova pre použitie pri štúdiu jazykov. Obsahuje hovorenú angličtinu nahranú jej komunitou.
your-feedback = Máte nápady, ako vylepšiť dataset Common Voice? Dajte nám o nich vedieť na Discourse.
go-discourse = Prejsť na Discourse
missing-language = Nevidíte v datasete svoj jazyk? Ak chcete o jazyk požiadať, prejdite na stránku s jazykmi.
go-languages-page = Prejsť na stránku s jazykmi
ready-to-validate = Ste pripravení pomôcť s overovaním viet?
more = Viac
close = Zavrieť
download = Prevziať
dataset-version = Verzia

## Download Modal

download-title = Vaše preberanie začalo.
download-helpus = Pomôžte nám vybudovať komunitu okolo technológií rozpoznávania reči - zostaňte s nami v kontakte prostredníctvom e-mailu.
download-form-email =
    .label = Zadajte svoju e-mailovú adresu
    .value = Ďakujeme, ozveme sa vám.
download-back = Naspäť na datasety Common Voice
download-no = Nie, ďakujem

## Contact Modal

contact-title = Kontaktný formulár
contact-form-name =
    .label = Meno
contact-form-message =
    .label = Správa
contact-required = * vyžadované pole

## Request Language Modal

request-language-title = Žiadosť o jazyk
request-language-form-language =
    .label = Jazyk
request-language-success-title = Žiadosť o jazyk bola odoslaná. Ďakujeme.
request-language-success-content = Čoskoro vám dáme vedieť, ako môžete pridať svoj jazyk do Common Voice.
select-language = Vyberte si jazyk...
other-language = Ostatné jazyky

## Languages Overview

language-section-in-progress = Jazyky, ktoré sa pripravujú
language-section-in-progress-new-description = Tieto jazyky sa momentálne pripravujú. Pri každom jazyku je uvedené, v akom stave je <localizationGlossaryLink>preklad stránky</localizationGlossaryLink> a <sentenceCollectionGlossaryLink>zber viet</sentenceCollectionGlossaryLink>.
language-section-launched = Spustené jazyky
language-section-launched-description = Pre tieto spustené jazyky bola webová stránka úspešne <localizationGlossaryLink>lokalizovaná</localizationGlossaryLink> a má dostatok <sentenceCollectionGlossaryLink>zozbieraných viet</sentenceCollectionGlossaryLink>, aby bolo možné <speakLink>nahrávať</speakLink> a <listenLink>počúvať</ listenLink > hlasové príspevky.
languages-show-more = Zobraziť viac
languages-show-less = Zobraziť menej
language-meter-in-progress = Pokrok
language-total-progress = Celkovo
language-search-input =
    .placeholder = Hľadať
language-speakers = Počet prispievateľov
localized = Preklad stránky
sentences = Počet viet
total-hours = Počet overených hodín

## Contribution

action-click = Kliknite
action-tap = Ťuknite
contribute = Zapojte sa
listen = Počúvajte
skip = Preskočiť
shortcuts = Skratky
clips-with-count-pluralized =
    { $count ->
        [one] <bold>{ $count }</bold> nahrávka
        [few] <bold>{ $count }</bold> nahrávky
       *[other] <bold>{ $count }</bold> nahrávok
    }
goal-help-recording = Pomohli ste projektu Common Voice dosiahnuť <goalPercentage></goalPercentage> z nášho denného cieľa { $goalValue } nahrávok!
goal-help-validation = Pomohli ste projektu Common Voice dosiahnuť <goalPercentage></goalPercentage> z nášho denného cieľa { $goalValue } kontrol!
contribute-more =
    { $count ->
        [one] Ste pripravení urobiť ešte { $count } ďalšiu?
        [few] Ste pripravení urobiť ešte { $count } ďalšie?
       *[other] Ste pripravení urobiť ešte { $count } ďalších?
    }
record-cta = Začnite s nahrávaním
record-platform-not-supported = Ospravedlňujeme sa, no vaša platforma zatiaľ nie je podporovaná.
record-platform-not-supported-desktop = Na počítačoch si môžete prevziať najnovšie:
record-platform-not-supported-ios-non-safari = V systéme iOS použite pre nahrávanie prehliadač Safari…
record-must-allow-microphone = Musíte povoliť prístup ku mikrofónu.
record-no-mic-found = Nenašiel sa žiadny mikrofón.
record-error-too-short = Vaša nahrávka bola príliš krátka.
record-error-too-long = Vaša nahrávka bola príliš dlhá.
record-error-too-quiet = Vaša nahrávka bola príliš tichá.
record-cancel = Zrušiť opakovaný záznam
record-instruction = { $actionType } na <recordIcon></recordIcon> a prečítajte vetu nahlas
record-stop-instruction = { $actionType } na <stopIcon></stopIcon> keď budete hotoví
record-three-more-instruction = Ešte tri!
record-again-instruction = Skvelé! <recordIcon></recordIcon>Nahrajte váš ďalší klip
record-again-instruction2 = Vynikajúce, pokračujte v nahrávaní <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> Ešte naposledy!
review-tooltip = Skontrolujte nahrávky a v prípade potreby ich opätovne nahrajte tu
share-clip = Zdieľajte svoju nahrávku
share-common-voice = Zdieľajte Common Voice
review-instruction = Skontrolujte nahrávky a v prípade potreby ich nahrajte znova
record-submit-tooltip = { $actionType } na odoslať keď budete hotoví
clips-uploaded = Nahrávky boli nahrané
record-abort-title = Nechcete najprv dokončiť nahrávanie?
record-abort-text = Ak teraz odídete, stratíte svoj pokrok
record-abort-submit = Odoslať nahrávky
record-abort-continue = Dokončiť nahrávanie
record-abort-delete = Zavrieť a odstrániť nahrávky
listen-instruction = { $actionType } na <playIcon></playIcon>. Bola veta v poriadku?
listen-again-instruction = Skvelá práca! <playIcon></playIcon> Keď budete pripravení, spustite ďalšiu nahrávku
listen-3rd-time-instruction = 2 už sú za vami, pokračujte v dobrej práci!<playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon> Posledná nahrávka!
listen-empty-state = Minuli sa nám klipy na overenie v tomto jazyku...
speak-empty-state = Minuli sa nám vety na nahrávanie v tomto jazyku...
speak-empty-state-cta = Pridajte ďalšie vety
record-button-label = Nahrajte svoj hlas
share-title-new = <bold>Pomôžte nám</bold> nájsť ďalšie hlasy
keep-track-profile = Sledujte svoj postup pomocou profilu
login-to-get-started = Prihláste sa alebo sa zaregistrujte a môžete začať
target-segment-first-card = Prispievate do nášho prvého cieľového segmentu
target-segment-generic-card = Prispievate do cieľového segmentu
target-segment-first-banner = Pomôžte vytvoriť prvý cieľový segment Common Voice v jazyku { $locale }
target-segment-add-voice = Pridajte svoj hlas
target-segment-learn-more = Ďalšie informácie

## Reporting

report = Nahlásiť
report-title = Odoslať správu
report-ask = Aké máte problémy s touto vetou?
report-offensive-language = Urážlivý jazyk
report-offensive-language-detail = Veta obsahuje urážky alebo nadávky.
report-grammar-or-spelling = Gramatická chyba
report-grammar-or-spelling-detail = Vo vete sa nachádza gramatická chyba alebo preklep.
report-different-language = Iný jazyk
report-different-language-detail = Je napísaná v inom jazyku, než aký mám nastavený.
report-difficult-pronounce = Zložitá výslovnosť
report-difficult-pronounce-detail = Obsahuje slová alebo frázy, ktoré sú ťažko čitateľné alebo vysloviteľné.
report-offensive-speech = Urážky
report-offensive-speech-detail = Nahrávka obsahuje urážky alebo nadávky.
report-other-comment =
    .placeholder = Komentár
success = Hotovo
continue = Pokračovať
report-success = Správa bola úspešne odoslaná!

## Goals

streaks = Série
days =
    { $count ->
        [one] deň
        [few] dni
       *[other] dní
    }
recordings =
    { $count ->
        [one] nahrávka
        [few] nahrávky
       *[other] nahrávok
    }
validations =
    { $count ->
        [one] overenie
        [few] overenia
       *[other] overení
    }

## Dashboard

your-languages = Vaše jazyky
toward-next-goal = Ďalší cieľ
goal-reached = Cieľ bol dosiahnutý
clips-you-recorded = Nahrávky, ktoré ste nahrali
clips-you-validated = Nahrávky, ktoré ste overili
todays-recorded-progress = Dnešný pokrok Common Voice v nahraných nahrávkach
todays-validated-progress = Dnešný pokrok Common Voice v overených nahrávkach
stats = Štatistiky
awards = Ocenenia
you = Vy
everyone = Všetci
contribution-activity = Aktivita prispievateľov
top-contributors = Najlepší prispievatelia
recorded-clips = Nahrané nahrávky
validated-clips = Overené nahrávky
total-approved = Celkom schválených
overall-accuracy = Celková presnosť
set-visibility = Nastaviť moju viditeľnosť
visibility-explainer = Toto nastavenie riadi viditeľnosť výsledkovej tabuľky. Ak bude skrytá, váš pokrok bude súkromný. To znamená, že na výsledkovej tabuli sa nezobrazí váš obrázok, používateľské meno, ani pokrok. Upozorňujeme, že obnovenie zmien na výsledkovej tabuľky trvá ~ { $minutes } min.
visibility-overlay-note = Poznámka: Ak nastavené na „Viditeľné“, toto nastavenie sa dá zmeniť na <profileLink> Profilovej stránke </profileLink>
show-ranking = Ukázať moje hodnotenie

## Custom Goals

get-started-goals = Začíname s cieľmi
create-custom-goal = Vytvorte si vlastný cieľ
goal-type = Aký druh cieľa chcete vytvoriť?
both-speak-and-listen = Oboje
both-speak-and-listen-long = Oboje (hovoriť aj počúvať)
daily-goal = Denný cieľ
weekly-goal = Týždenný cieľ
easy-difficulty = Jednoduché
average-difficulty = Stredné
difficult-difficulty = Ťažké
pro-difficulty = Veľmi ťažké
lose-goal-progress-warning = Úpravou cieľa môžete prísť o svoj doterajší postup.
want-to-continue = Chcete pokračovať?
finish-editing = Nechcete najskôr dokončiť úpravy?
lose-changes-warning = Ak teraz odídete, prídete o svoje zmeny
build-custom-goal = Vytvorte si vlastný cieľ
help-reach-hours-pluralized =
    Pomôžte dosiahnuť{ NUMBER($hours) ->
        [one] { $hours } hodinu
        [few] { $hours } hodiny
       *[other] { $hours } hodín
    } v jazyku { $language } pomocou osobných cieľov
help-reach-hours-general-pluralized =
    Pomôžte Common Voice dosiahnuť{ NUMBER($hours) ->
        [one] { $hours } hodinu
        [few] { $hours } hodiny
       *[other] { $hours } hodín
    }v jazyku s pomocou osobných cieľov
set-a-goal = Vytvoriť cieľ
cant-decide = Nemôžete sa rozhodnúť?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] { $totalHours } hodina
        [few] { $totalHours } hodiny
       *[other] { $totalHours } hodín
    }je dosiahnuteľných už o{ NUMBER($periodMonths) ->
        [one] { $periodMonths } mesiac
        [few] { $periodMonths } mesiace
       *[other] { $periodMonths } mesiacov
    }ak{ NUMBER($people) ->
        [one] { $people } človek
        [few] { $people } ľudia
       *[other] { $people } ľudí
    }nahrá{ NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay } nahrávku
        [few] { $clipsPerDay } nahrávky
       *[other] { $clipsPerDay } nahrávok
    }za deň.
how-many-per-day = Skvelé! Koľko nahrávok za deň?
how-many-a-week = Skvelé! Koľko nahrávok za týždeň?
which-goal-type = Chcete hovoriť, počúvať alebo oboje?
receiving-emails-info = Momentálne máte nastavený príjem e-mailov, ako sú pripomienky k cieľom, informácie o postupe a novinky o projekte Common Voice
not-receiving-emails-info = Momentálne <bold>NEMÁTE</bold> nastavený príjem e-mailov, ako sú pripomienky k cieľom, informácie o postupe a novinky o projekte Common Voice
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count } nahrávku
        [few] { $count } nahrávky
       *[other] { $count } nahrávok
    }
help-share-goal = Pomôžte nám nájsť viac hlasov, zdieľajte svoje ciele
confirm-goal = Potvrdiť cieľ
goal-interval-weekly = Týždenne
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Zdieľajte svoj denný cieľ { $count } nahrávok pre { $type }
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Zdieľajte svoj týždenný cieľ { $count } nahrávok pre { $type }
share-goal-type-speak = Rozprávanie
share-goal-type-listen = Počúvanie
share-goal-type-both = Rozprávanie a počúvanie
# LINK will be replaced with the current URL
goal-share-text = Práve som si vytvoril osobný cieľ pre darovanie hlasu pre #CommonVoice - pripoj sa ku mne a pomôž naučiť stroje, ako rozprávajú skutoční ľudia { $link }
weekly-goal-created = Váš týždenný cieľ bol vytvorený
daily-goal-created = Váš denný cieľ bol vytvorený
track-progress = Sledujte svoj pokrok tu a na stránke štatistík.
return-to-edit-goal = Kedykoľvek sa môžete vrátiť a svoje ciele upraviť.
share-goal = Zdieľať môj cieľ

## Profile Delete

delete-q = Chcete tiež požiadať o vymazanie vašich hlasových nahrávok, alebo ich chcete ponechať v datasete Common Voice?
keep = Ponechať
remove = Odstrániť
keep-info = Vaše anonymné hlasové nahrávky zostanú v dátovom súbore Common Voice. Po odstránení profilu už nebudete môcť odoslať žiadosť o odstránenie záznamov z datasetu
remove-info = Vašu žiadosť o odstránenie vašich hlasových záznamov z datasetu posúdime. Ak bude vaša žiadosť schválená, skontaktujeme sa s tými, ktorí si stiahli dataset a požiadame ich o odstránenie vašich hlasových záznamov.
why-delete-recordings =
    Nahrávky Common Voice používajú akademici, malé podniky a nadšenci, aby pomohli trénovať a rozširovať verejne dostupné zdroje, ako sú hlasové modely.
    
    Môžete nám dať vedieť, prečo by ste chceli odstrániť svoje nahrávky?
profile-form-delete = Odstrániť profil

## Profile Download

download-profile-size = Niekoľko bajtov
download-size = Veľkosť
download-request-title = { $created }
download-request-refresh-button = Obnoviť

## Landing

welcome-staff = Vítame zamestnancov spoločnosti { $company }!
help-contribute = Vytvorením profilu v Common Voice a prispením svojho hlasu, môžete pomôcť vytvoriť rozmanitý open-source dataset.
login-company = Prihláste sa / zaregistrujte sa pomocou e-mailu { $company }
profile-not-required = Profil nie je nutnosťou, no môže byť užitočný
read-more-about = Prečítajte si viac na stránke O nás

## DemoLayout

demo-get-started = Začíname
demo-welcome = Vitajte v Common Voice
demo-welcome-subheader = Máte záujem dozvedieť sa viac a prispieť k projektu?

## Demo Datasets

demo-language-select-card-header = Common Voice je najväčší verejne dostupný viacjazyčný súbor hlasových údajov na svete.
demo-language-select-card-body = Vďaka príspevkom od viac ako 259 000 ľudí vo viac ako 50 jazykoch sa tieto údaje používajú na učenie aplikácií s podporou reči, aby lepšie reagovali na ľudský hlas.
card-button-next = Ďalej
card-button-back = Naspäť
demo-language-select-label = Prechádzať jazyky
demo-eofy-header = Vydanie na konci roka 2019
demo-eofy-sub_header = Hlasová dátová sada, pripravená na stiahnutie
demo-account = Účet

## Demo Account

demo-account-card-header = Účet nie je nutnosťou, no môže byť užitočný
demo-account-card-body = Vpravo uvádzame výhody a objasňujeme, ktoré informácie zverejňujeme. Pomocou nižšie uvedených odkazov môžete začať používať účet Common Voice vo svojom zariadení.
demo-account-enter-email =
    .label = Zadajte e -mail na odoslanie odkazu na registráciu
demo-account-sign-up = Odoslať prihlasovací odkaz

## Demo Contribute

demo-contribute-card-header = Ste pripravení pridať svoj hlas alebo sluch k dielu?
demo-contribute-card-body-v2 = Teraz, keď už viete niečo viac o Common Voice, prečo to neskúsiť? Kliknutím na ikonu mikrofónu začnete čítať vety nahlas. <br/> <br/> Ak dávate prednosť kontrole hlasových príspevkov iných ľudí, kliknite na ikonu prehrávania. Pomôžete potvrdiť, že sa záznamy zhodujú s vetami napísanými na obrazovke.
demo-listen-subtitle = Pripravený prispieť?

## Demo Dashboard

demo-dashboard-card-header = Osobné informačné panely vás informujú o pokroku jednotlivcov a komunity.
demo-dashboard-card-body = Pre každý darovaný hlasový klip a každý overený zvukový klip sa informačné panely vášho účtu aktualizujú tak, aby odrážali váš najnovší pokrok v každom jazyku, do ktorého prispievate. Áno, môžete prispieť do viacerých! <br/> <br/> Pomocou informačných panelov môžete sledovať svoje štatistiky, zistiť, ako sa vám darí spolu s ostatnými v komunite, a nastaviť si denné alebo týždenné ciele v oblasti príspevkov.

## Validation criteria

contribution-criteria-nav = Kritériá
contribution-criteria-link = Pochopte kritériá príspevku
contribution-criteria-page-title = Kritériá príspevku
contribution-criteria-page-description = Pochopte, na čo sa zamerať pri počúvaní hlasových klipov, a pomôžte tiež obohatiť svoje hlasové nahrávky!
contribution-for-example = napríklad
contribution-misreadings-title = Nesprávne prečítané
contribution-misreadings-description = Pri počúvaní veľmi starostlivo skontrolujte, či to, čo bolo zaznamenané, je presne to, čo bolo napísané. Ak dôjde k čo i len malým chybám, odmietnite to.<br />Medzi veľmi časté chyby patria:
contribution-misreadings-description-extended-list-1 = Na začiatku záznamu chýba <strong> „A“ </strong> alebo <strong> „The“ </strong>.
contribution-misreadings-description-extended-list-2 = Na konci slova chýba <strong> „y“ </strong>.
contribution-misreadings-description-extended-list-3 = Čítanie krátených foriem, ktoré v skutočnosti neexistujú, napríklad „We're“ namiesto „We are“ alebo naopak.
contribution-misreadings-description-extended-list-4 = Chýbajúci koniec posledného slova príliš rýchlym prerušením záznamu.
contribution-misreadings-description-extended-list-5 = Niekoľko pokusov o prečítanie slova.
contribution-misreadings-example-1-title = Obrie dinosaury z triasu.
contribution-misreadings-example-2-title = Obrie dinosaur z triasu.
contribution-misreadings-example-2-explanation = [Mali by to byť „dinosaury“]
contribution-misreadings-example-3-title = Obrie dinosaury z triasu-.
contribution-misreadings-example-3-explanation = [Záznam je prerušený pred koncom posledného slova]
contribution-misreadings-example-4-title = Obrie dinosaury z triasu. Áno.
contribution-misreadings-example-4-explanation = [Bolo zaznamenané viac, než je požadovaný text]
contribution-misreadings-example-5-title = My ideme von na kávu.
contribution-misreadings-example-6-title = Ideme von na kávu.
contribution-misreadings-example-6-explanation = [Malo by byť „My ideme“]
contribution-misreadings-example-7-title = Ideme von na 1 kávu.
contribution-misreadings-example-7-explanation = [V pôvodnom texte nie je "1"]
contribution-varying-pronunciations-title = Rôzne výslovnosti
contribution-varying-pronunciations-description = Buďte opatrní, kým odmietnete klip z dôvodu, že čitateľ nesprávne vyslovil slovo, zdôraznil na zlom mieste alebo zjavne ignoroval otáznik. Po celom svete sa používa široká škála výslovností, z ktorých niektoré ste možno vo svojej miestnej komunite nepočuli. Poskytnite, prosím, priestor na uznanie tým, ktorí môžu hovoriť inak ako vy.
contribution-varying-pronunciations-description-extended = Na druhej strane, ak si myslíte, že sa čitateľ s týmto slovom pravdepodobne nikdy predtým nestretol a iba nesprávne odhaduje výslovnosť, odmietnite. Ak si nie ste istí, použite tlačidlo preskočiť.
contribution-varying-pronunciations-example-1-title = Na hlave mal baret.
contribution-varying-pronunciations-example-1-explanation = [V slove ‘baret’ je v poriadku aj dôraz na prvú slabiku (Spojené kráľovstvo) a takisto druhú slabiku (USA)]
contribution-varying-pronunciations-example-2-title = Jeho ruka bola zdvihnutá.
contribution-varying-pronunciations-example-2-explanation = [„zdvihnutá“ sa v angličtine vždy vyslovuje ako jedna slabika, nie ako dve.
contribution-background-noise-title = Hluk na pozadí
contribution-background-noise-description = Chceme, aby algoritmy strojového učenia zvládali rôzne hluky v pozadí a aby boli akceptované aj relatívne hlasné zvuky, za predpokladu, že vám nebránia počuť celý text. Tichá hudba na pozadí je v poriadku; hudba dostatočne hlasná, aby ste zabránili počutiu každého slova v poriadku nie je.
contribution-background-noise-description-extended = Ak je záznam prerušovaný alebo praská, a nie je počuť celý text, odmietnite ho.
contribution-background-noise-example-2-explanation = [Časť textu nie je možné počuť]
contribution-background-voices-title = Hluk na pozadí
contribution-background-voices-description = Tichá vrava na pozadí je v poriadku, ale nechceme ďalšie hlasy, ktoré môžu spôsobiť, že algoritmus stroja identifikuje slová, ktoré nie sú v písanom texte. Ak počujete odlišné slová ako tie v texte, klip by mal byť odmietnutý. Obvykle sa to stane tam, kde bol televízor zapnutý, alebo v blízkosti prebieha konverzácia.
contribution-background-voices-description-extended = Ak je záznam prerušovaný alebo praská, a nie je počuť celý text, odmietnite ho.
contribution-background-voices-example-1-title = Obrie dinosaury z triasu. <strong>[prečítané jedným tónom hlasu]</strong>
contribution-background-voices-example-1-explanation = Ideš už? <strong>[volá iný hlas]</strong>
contribution-volume-title = Hlasitosť
contribution-volume-description = Medzi príspevkami budú prirodzené odchýlky v hlasitosti. Odmietnite iba vtedy, ak je hlasitosť taká vysoká, že sa záznam rozpadne, alebo (bežnejšie) ak je taká nízka, že nemôžete počuť, čo sa na zázname hovorí bez toho, aby ste si pozreli napísaný text.
contribution-reader-effects-title = Efekty od čítajúceho
contribution-reader-effects-description = Väčšina nahrávok je od ľudí, ktorí hovoria svojim prirodzeným hlasom. Môžete prijať príležitostný neštandardný záznam, ktorý je kričaný, šepkaný alebo očividne podaný „dramatickým“ hlasom. Odmietnite spievané nahrávky a nahrávky používajúce počítačovo syntetizovaný hlas.
contribution-just-unsure-title = Len si nie ste istí?
contribution-just-unsure-description = Ak narazíte na niečo, na čo sa tieto pokyny nevzťahujú, hlasujte podľa svojho najlepšieho úsudku. Ak sa naozaj nemôžete rozhodnúť, použite tlačidlo preskočenia a pokračujte k ďalšiemu záznamu.
see-more = <chevron></chevron> Zobraziť viac
see-less = <chevron> </chevron> Zobraziť menej
