## General

yes-receive-emails = Ndio, nitumie barua pepe. Ningependa kuendelea kupokea taarifa kuhusu Mradi wa Common Voice.
stayintouch = Sisi katika Mozilla tunajenga jamii inayohusika na teknolojia ya sauti. Tungependa kuendelea kupokea visasisho, vyanzo vipya vya data na kujuzwa zaidi kuhusu jinsi unavyotumia data hii
privacy-info = Tunaahidi kushughulikia maelezo yako kwa uangalifu. Soma zaidi katika <privacyLink> sera yetu ya faragha </privacyLink>.
return-to-cv = Rudi kwa Common Voice
email-input =
    .label = Barua pepe
submit-form-action = wasilisha
loading = Kupakia…
email-opt-in-info =
    Ningependa kupokea barua pepe kama ukumbusho wa lengo, sasisho zangu za maendeleo na 
    majarida kuhusu huduma za Common Voice.
email-opt-in-info-title = Jiunge na orodha ya barua pepe ya Common Voice
email-opt-in-info-sub-with-challenge = Pokea barua pepe kama vile ukumbusho wa changamoto na malengo, visasisho vya maendeleo, na jarida kuhusu Common Voice.
email-opt-in-privacy-v2 = Kwa kuchagua kupokea ujumbe kwa njia ya barua pepe unakubaliana na  Mozilla kutunza ujumbe huu kama ilivyoelekezwa katika <privacyLink>Sera ya faragha ya Mozilla</privacyLink>
indicates-required = * Inaashiria sehemu inayohitajika
not-available-abbreviation = haihitajiki

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = Kiabkhazia
ace = Kiaceh
ady = Kiadyghe
af = Kiafrikana
am = Kiamhara
an = Kiaragoni
ar = Kiarabu
arn = Kimapuche
as = Kiasamisi
ast = Kiasturia
az = Kiazabajani
ba = Kibashkiri
bas = Kibasaa
be = Kibelarusi
bg = Kibulgeria
bm = Kibambara
bn = Kibengali
br = Kibretoni
bxr = Kiburyatia
ca = Kikatalonia
cak = Kikiiche
ckb = Kikurdi cha Kati
cnh = Kichin-Haka
co = Kikosika
cs = Kicheki
cv = Kichuvashia
cy = Kiwelisi
da = Kidani
de = Kijerumani
dsb = Kisobia ya Chini
dv = Kidivehi
el = Kigiriki
en = Kiingereza
eo = Kiesperanto
es = Kihispania
et = Kiestonia
eu = Kibaski
fa = Kiajemi
ff = Kifulfulde-Borgu
fi = Kifini
fo = Kifaroe
fr = Kifaransa
fy-NL = Kifrisia
ga-IE = Kieire
gl = Kigalisia
gn = Kiguarani
ha = Kihausa
he = Kiebrania
hi = Kihindi
hr = Kikroatia
hsb = Kisobia ya Juu
ht = Kihaiti
hu = Kihangari
hy-AM = Kiarmenia
hyw = Kiarmenia ya Magharibi
ia = Kiintalingua
id = Kiindonesia
is = Kiaislandi
it = Kiitaliano
izh = Kiizhorian
ja = Kijapani
ka = Kijojia
kaa = Kikarakalpak
kab = Kikabylia
kbd = Kikabardia
kk = Kikazaki
kmr = Kurmanji Kikurdi
ko = Kikorea
kpv = Kikomi
kw = Kikoni
ky = Kirigizistani
lg = Kiganda
lij = Kiliguria
lt = Kilithuania
lv = Kilatvia
mdf = Kimoksha
mg = Kimalagasi
mhr = Kimari ya Mashariki
mk = Kimasedonia
ml = Kimalayalamu
mn = Kimongoli
mos = Kimosi
mr = Kimarathi
mrj = Kimari ya Magharibi
ms = Kimalei
mt = Kimalta
my = Kiburma
myv = Kierzya
nb-NO = Kinorwe cha Bokmal
ne-NP = Kinepali
nl = Kiholanzi
nn-NO = Kinorwe cha Nynorsk
oc = Kiositani
or = Kiodia
pa-IN = Kipanjabi
pl = Kipoli
ps = Kipashto
pt = Kireno
rm-sursilv = Kirumi Sursilvan
rm-vallader = Kirumi Vallader
ro = Kiromania
ru = Kirusi
rw = Kinyarwanda
sah = Kisakha
sc = Kisadinia
scn = Kisisilia
si = Kisinhala
sk = Kislovakia
sl = Kislovenia
so = Kisomali
sq = Kialbania
sr = Kisebia
sv-SE = Kiswidi
sw = Kiswahili
syr = Kisiria
ta = Kitamili
te = Kitelugu
tg = Kitajiki
th = Kithai
tl = Kitagalogi
tr = Kituruki
tt = Kitatari
uby = Ubiki
udm = Kiudmurti
ug = Kiuiguri
uk = Kiukreini
ur = Kiurdu
uz = Kiuzbeki
vec = Kivenetia
vi = Kivietnamu
vot = Kivoti
yo = Kiyoruba
yue = Kikantonisi
zh-CN = Kichina (Uchina)
zh-HK = Kichina (Hong Kong)
zh-TW = Kichina (Taiwan)

# [/]


## Layout

speak = Ongea
speak-now = Ongea sasa
datasets = Daftari
languages = Lugha
about = Kuhusu
profile = Wasifu
help = Usaidizi
contact = Wasiliana
privacy = Faragha
terms = Masharti
cookies = Vidakuzi
faq = Maswali Yanayoulizwa Sana
content-license-text = Yaliyomo yapo chini ya leseni ya <licenseLink> Creative Commons </licenseLink>
share-title = Tusaidie kupata wengine kutoa sauti zao!
share-text = Saidia kufundisha mashine jinsi watu wanavyozungumza, toa mchango wa sauti yako kwa { $link }
link-copied = Kiunga kimenakiliwa
back-top = Rejea Mwanzoni
logout = Toka

## Home Page

home-title = Common Voice ni hatua ya Mozilla ya kusaidia kufunza mashine jinsi watu huzungumza.
home-cta = Zungumza, changia hapa!
wall-of-text-start = Sauti ni asili na ni ya kibinadamu. Kwa sababu hiyo, tunavutiwa na kuunda teknolojia ya sauti itakayotumika na mashine zetu. Ili kuunda mifumo ya sauti, kiwango kikubwa sana cha data ya sauti kinahitajika.
wall-of-text-more-mobile = Asilimia kubwa ya data inayotumika na makampuni makubwa haifikiki kwa urahisi na asilimia kubwa ya watu. Tunadhania kuwa hili ni pingamizi kwa uvumbuzi. Alimradi, tumeanzisha mradi wa Common Voice ili kusaidia kufanya (teknolojia ya) utambuzi wa sauti uwe wazi kwa watu wote.
wall-of-text-more-desktop = Sasa unaweza kuchangia sauti yako kwa kutusaidia kutengeneza chanzo-wazi cha hifadhi ya sauti ili mtu yeyote atumie kutengeneza programu bunifu kwa vifaa na mtandao. Soma sentensi kusaidia mashine kujifunza jinsi watu wanavyoongea. Angalia kazi za wachangiaji wengine kuendeleza ubora. Ni rahisi!
wall-of-text-first = Sauti ni asili na ni ya kibinadamu. Kwa sababu hiyo, tunavutiwa na kuunda teknolojia ya sauti itakayotumika na mashine zetu. Ili kuunda mifumo ya sauti, kiwango kikubwa sana cha data ya sauti kinahitajika.
wall-of-text-second = Kiasi kikubwa cha data kinachotumika na makampuni makubwa haipatikani kwa watu wengi. Tunafikiri kuwa hili ni pingamizi kwa uvumbuzi. Kwa hivyo tumeanzisha mradi wa Common Voice ili kusaidia kutengeneza (teknolojia ya) utambuzi wa sauti na kupatikana kwa kila mtu.
show-wall-of-text = Soma mengineyo
help-us-title = Tusaidie kuhalalisha sentensi!
help-us-explain = Bonyeza kitufe cha kucheza, sikiliza na tuambie kama walizungumza kwa usahihi sentensi iliyo chini?
no-clips-to-validate = Yaonekana kuwa hakuna vipande vya sauti vya kusikiliza katika lugha hii. Tusaidie kuchangia kwa kurekodi baadhi ya vipande hivyo sasa.
vote-yes = Ndio
vote-no = La
toggle-play-tooltip = Bonyeza { shortcut-play-toggle } kugeuza namna ya kucheza
speak-subtitle = Toa sauti yako
speak-paragraph = Kurekodi vipande vya sauti ni sehemu muhimu ya kujenga daftari letu lililo wazi kwa umma; wengine wangesema ni mchakato wa kufurahisha pia.
speak-goal-text = Vipande vilivyo rekodiwa
listen-subtitle = Tusaidie kuthibitisha sauti
listen-paragraph = Kuhalalisha vipande vya sauti vilivyochangiwa ni muhimu kwa dhamira ya Common Voice. Sikiliza na utusaidie kuunda data ya sauti ya chanzo wazi bora.
listen-goal-text = vipande vilivyo halalishwa
hours-recorded = masaa yaliyorekodiwa
hours-validated = masaa yaliyo halalishwa
voices-online = Sauti ziko mtandaoni sana
todays-progress = Maendeleo ya leo
help-reach-goal = Tusaidie kufikia { $goal }
read-terms-q = Je! Umesoma Masharti yetu?
ready-to-record = Uko tayari kutoa mchango wa sauti yako?
all-locales = Zote
today = Leo
x-weeks-short =
    { $count ->
        [one] { $count } wiki
       *[other] { $count } wk
    }
x-months-short =
    { $count ->
        [one] { $count } mo
       *[other] { $count } mo
    }
x-years-short =
    { $count ->
        [one] { $count } y
       *[other] { $count } y
    }
help-make-dataset = Tusaidie kujenga daftari la hali ya juu, iliyowazi kwa umma
sign-up-account = Jisajili kwa akaunti
email-subscription-title = jiandikishe kwa sasisho za barua pepe
email-subscription-title-new = Jisajili kwa jarida la Common Voice, ukumbusho wa malengo na visasisho vya maendeleo

## Account Benefits

benefits = Faida
rich-data = Fanya data yako iliyowasilishwa kuwa na utajiri iwezekanavyo kwa kutoa taarifa ya data inayokuhusu bila kujulikana. Tunatoa ubainisho wowote wa taarifa ya data inayokuhusu kabla kuifanya iwe ya umma.
improve-audio = Maelezo ya wasifu yanaboresha data ya sauti inayotumika katika mafunzo ya usahihi wa utambuzi wa sauti.
keep-track = Fuatilia maendeleo na vipimo vyako kwa lugha nyingi tofauti.
compare-progress = Linganisha maendeleo yako dhidi ya maendeleo ya wachangiaji wengine ulimwenguni kote.
view-goals = Linganisha maendeleo yako dhidi ya  malengo ya kibinafsi na ya mradi.
join-newsletter = Kwa hiari yako, jisajili kwenye orodha yetu ya baruapepe ili kupata visasisho na habari mpya kuhusu mradi huu

## What's public

whats-public = Yapi yafikika na umma?
email-not-public = Barua pepe yako haitakuwa wazi kwa umma.
recordings-and-locale-public = Idadi ya rekodi na lugha ambazo unachangia itakuwa wazi kwa umma.
username-optin-public = Unaweza chagua kulifanya jina lako la utumiaji liwe wazi au lisijulikane.
demographic-deidentified-clarity-2 = Taarifa ya data inayokuhusu iliyowasilishwa kwa hiari (k.v. umri, jinsia, lugha, na lafudhi) hazitawekwa wazi kwa wasifu wako wa umma, na haitaunganishwa na akaunti yako kwenye hifadhidata. Sehemu za sauti za kibinafsi zitahusishwa na taarifa ya data inyokuhusu kwa kusudi la uchambuzi sahihi zaidi - kwa mfano, mtafiti anaweza taka kulenga mfano wa mafunzo kwa sehemu maalum ya data inayokuhusu.
username-email-not-demographic = Jina lako la utumiaji na anwani ya baruapepe hazitahusishwa na data iliyochapishwa.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = P
shortcut-play-toggle-label = cheza/simamisha
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = y
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = Nasa sauti/ Acha
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = rekodi upya
request-language-text = hujaona lugha yako kwenye common voice bado?
request-language-text-learn = Jifunze jinsi ya kuiomba hapa!
request-language-button = Agiza lugha

## ProjectStatus

status-title = Maendeleo ya mradi kwa ujumla: Angalia hatua tulizopiga
status-contribute = changia sauti yako
status-hours =
    { $hours ->
        [one] Saa moja imehalalishwa hadi sasa!
       *[other] { $hours } zimehalalishwa hadi sasa!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = lengo lijalo
english = Kiingereza

## ProfileForm

profile-form-username =
    .label = Jina la Mtumiaji
profile-form-native-language =
    .label = lugha ya asili
profile-form-additional-language =
    .label = Lugha ya ziada
profile-form-accent =
    .label = Lafudhi
profile-form-age =
    .label = Umri
profile-form-gender-2 =
    .label = Jinsia
leaderboard-visibility =
    .label = Mwonekano wa Ubao wa wanaoongoza
hidden = Imefichwa
visible = inayoonekana
native-language =
    .label = Lugha asili
profile-form-submit-save = Hifadhi
profile-form-submit-saved = Imehifadhiwa
male = mwanaume
female = mwanamke
# Gender
other = mengineyo
why-profile-title = Kwa niniu kupeana wasifu?
why-profile-text = Kwa kutoa baadhi ya taarifa zako, data ya sauti unayowasilisha kwa Common Voice itakua ya umuhimu zaidi kwa injini ya utambulizi wa sauti ambayo hutumia data hii kuboresha usahihi wao.
dashboard = Dashibodi
build-profile = Kuza wasifu
avatar = Taswira ya mtumiaji
goals = malengo
settings = Mipangilio
edit-profile = Fanya mabadiliko kwenye wasifu.
profile-create-success = Umefanikiwa, wasifu umeundwa!
profile-close = Funga
profile-explanation = Tumia wasifu wako kufuatilia maendelo yako ili kusaidia data ya sauti kuwa sahihi zaidi.
thanks-for-account = Asante kwa kudhibitisha akaunti yako, sasa kuza wasifu wako.
why-demographic = kwanini ina umuhimu?
why-demographic-explanation-2 = Data ya mtumiaji isiyojulikana kama umri, jinsia, na lafudhi husaidia kuboresha data ya sauti inayotumiwa kufunza usahihhi wa injini za utambuzi wa sauti. Jina lako la mtuaji na barua pepe havita ambatanishwa na data uliyowasilisha, na unaweza kuchagua jina lako lionekane kwa umma au lisijulikane.
accept-privacy = Nakubaliana na maelekezo ya kushughulikia data hii kama mnavyoeleza kupitia <privacyLink> Sera ya faragha ya Mozilla </privacyLink>
accept-privacy-title = Sera ya Faragha
login-identity = Utambulisho wa Kuingia
login-signup = Ingia/Jisajili
edit = Hariri
email-subscriptions = Usajili wa baruapepe
download-profile = pakua data yangu
contribution-experience = Tajiriba wa Mchango
skip-submission-feedback = Ruka marejesho ya uwasilishaji
skip-submission-description = Wakati wa mchango, uwasilishaji wa maoni utarukwa baada ya kubonyeza 'Wasilisha'. Mchango utaendelea moja kwa moja na seti 5 za rekodi zinazofuata au uthibitisho.
skip-submission-note = Kumbuka: Bado utahitaji kuchagua kati ya kuzungumza au kusikiliza ili ubadilishe aina ya uchangiaji.
off = zima
on = washa

## Profile - Email

browse-file-title = Pakia faili la picha
browse-file = Buruta na ushushe au <browseWrap> Vinjari </BrowseWrap>
connect-gravatar = Ungana na Gravatar
gravatar_not_found = Hakuna taswira inayotambuliwa ulimwenguni iliyopatikana kwa barua pepe yako
file_too_large = Faili lililochaguliwa ni kubwa sana

## Profile - Email

manage-subscriptions = Dhibitisha Usajili
manage-email-subscriptions = Dhibitisha Usajili wa Baruapepe
email-already-used = Baruapepe tayari inatumika kwa akaunti tofauti
add-language = ongeza lugha
change-email-setings = Badilisha baruapepe yako kupitia Mipangilio chini ya utambulisho wa kuingia

## FAQ

faq-title = Maswali yanayoulizwa mara kwa mara
faq-what-cv-q = common voice ni nini?
faq-what-cv-a =
    Teknolojia ya utambuzi wa sauti inabadilisha jinsi tunavyoingiliana na mashine, lakini mifumo inayopatikana sasa ni ghali na ya wamiliki. Common Voice ni sehemu ya mpango wa Mozilla wa kufanya teknolojia za utambuzi wa sauti kuwa bora na kupatikana kwa kila mtu. Common Voice ni hifadhidata kubwa ulimwenguni ya sauti zilizotolewa ambazo humruhusu mtu yeyote kwa haraka na urahisi kufundisha programu zinazowezeshwa na sauti kwa uwezekano wa kila lugha.
    
    Sio tu tunakusanya sampuli za sauti katika lugha zinazozungumzwa sana lakini pia kwa zile zilizo na idadi ndogo ya wasemaji. Kuchapisha daftari anuwai ya sauti kutawezesha watengenezaji programu, wajasiriamali, na jamii kushughulikia pengo hili wenyewe. Mbali na mkusanyiko wa daftari la Common Voice, tunaunda pia injini ya chanzo wazi ya utambuzi wa sauti inayoitwa Deep Speech.
faq-why-important-q = kwanini hii ni ya umuhimu?
faq-why-important-a =
    Sauti mara nyingi ni njia ya asili zaidi ya kuwasiliana na kila mmoja na teknolojia za sauti zinaleta urahisi huo kwa kompyuta zetu na vifaa vya rununu. Tunataka kuwawezesha watengenezaji programu na uwezo wa kujenga programu za kushangaza za utambuzi wa sauti kama vile watafsiri wa wakati halisi na wasaidizi wa kidijitali wenye kuwezeshwa na sauti. Lakini sasa hivi data nyingi za sauti zinazohitajika kuunda aina hizi za programu ni ghali na ya wamiliki. Tunatumahi kuwa hifadhidata ya Common Voice itawapa watengenezaji programu kile wanachohitaji ili kubuni na kufanya teknolojia ya sauti ipatikane katika lugha yao.
    
    Ili kufanya utambuzi wa sauti uwe wa ulimwengu wote, tunakusanya sampuli za sauti katika lugha zinazozungumzwa sana na zile zilizo na idadi ndogo ya wasemaji ambazo mara nyingi hazina huduma za kibiashara za utambuzi wa sauti. Kuchapisha mkusanyiko wa hifadhidata anuwai ya sauti kutawezesha watengenezaji programu, wajasiriamali, na jamii nzima ya sauti kushughulikia pengo hili wenyewe.
faq-how-get-q = Ninawezaje kupata data ya Common Voice?
faq-how-get-a = Daftari la Common Voice linapatikana kwa kupakuliwa chini ya leseni ya <licenseLink> CC0 </licenseLink> kwenye <datasetLink> ukurasa wetu wa Takwimu</datasetLink>. Unaweza pia kupakua daftari kadhaa zinazopatikana kwa umma kutoka ukurasa huo huo.
faq-when-release2-q = Ni lini data ya Common Voice itatolewa katika lugha zingine?
faq-when-release2-a = Toleo la lugha nyingi tofauti la daftari la Common Voice kwa sasa linaendelea kukusanywa na kusafishwa na jamii inayoisaidia. Ikiwa ungetaka kutusaidia kuleta Common Voice kwa lugha mpya, nenda uangalie <sentenceCollectorLink> Zana ya Kukusanya Sentensi </sentenceCollectorLink> kwa kuongeza sentensi mpya kwenye daftari, na Mozilla <pontoonLink> Pontoon </pontoonLink> kwa kutafsiri tovuti yenyewe. Lugha mpya zinaongezwa kwa Common Voice kwa mchango wa sauti wakati sentensi 5000 zilizoidhinishwa zimekusanywa.
faq-why-mission-q = Kwa nini Common Voice ni sehemu ya misheni ya Mozilla?
faq-why-mission-a = Mozilla imejitolea kuweka tovuti wazi na kupatikana kwa kila mtu. Ili kufanya hivyo tunahitaji kuwezesha waundaji wa mtandao kwa kupitia miradi kama Common Voice. Vile teknolojia za sauti zinavyozidi kuongezeka zaidi ya programu shubaka,tunaamini lazima watumikie watumiaji wote kwa usawa. Hivyo inamaanisha kuwekeza katika lugha zaidi na kuhifadhi lafudhi tofauti na taarifa ya data inayohusu watu wakati wa kujenga na kupima teknolojia za sauti. Common Voice ni rasilimali ya umma inayopatikana kwa kila mtu na timu za Mozilla na watengenezaji wa programu ulimwenguni kote tayari wanaitumia kwenye miradi yetu pia.
faq-what-cv-and-deepspeech-q = Je! Ni tofauti gani kati ya Common Voice na Deep Speech?
faq-what-cv-and-deepspeech-a = Daftari la Common Voice linakamilisha injini ya Deep Speech ya utambuzi wa sauti ya chanzo wazi ya Mozilla. Toleo la kwanza la Deep Speech lilitolewa mnamo Novemba mwaka 2017 na limeendelea kubadilika tangu wakati huo. Pamoja na daftari la Common Voice, tunaamini teknolojia hii ya utambuzi wa sauti ya chanzo wazi inapaswa kupatikana kwa kila mtu. Ni matumaini yetu teknolojia hizi zitawezesha watengenezaji wa programu kujenga wimbi la bidhaa na huduma za ubunifu.
faq-is-goal-assistant-q = Je! Lengo la Common Voice ni kuunda msaidizi wa sauti?
faq-is-goal-assistant-a = Lengo la daftari la Common Voice ni kuwezesha mtu yeyote duniani kutengeneza programu za utambuzi wa sauti, utambuzi wa msemaji, au aina nyingine yoyote ya programu ambayo inahitaji data ya sauti. Msaidizi wa sauti ni moja ya aina nyingi za programu unazoweza kujenga kwa kutumia daftari hilo.
faq-do-want-native-q = Mimi si mzungumzaji asili na ninazungumza kwa lafudhi, bado mnataka sauti yangu?
faq-do-want-native-a = Ndio, tunataka sauti yako! Sehemu ya madhumuni ya Common Voice ni kukusanya anuwai nyingi za lafudhi iwezekanavyo ili huduma za utambuzi wa sauti zifanye kazi sawa kwa kila mtu. Hii inamaanisha michango kutoka kwa wasemaji ambao sio asilia ni muhimu sana.
faq-why-different-speakers-q = Kwa nini unahitaji wasemaji wengi tofauti kwa kila lugha?
faq-why-different-speakers-a =
    Hifadhidata nyingi za sauti zinafunzwa na uwasilishaji mkubwa wa data inayohusu watu ambayo husababisha upendeleo kuelekea <articleLink> daraja la kiume na la kati</articleLink>. Lafudhi na lahaja ambazo huwa zinawakilishwa chini ya uwasilishaji katika seti za data ya mafunzo kawaida zinahusishwa na vikundi vya watu ambao tayari wametengwa. Mashine nyingi pia zinapambana kuelewa sauti za kike.
    Hii ndio sababu katika daftari letu tunataka sauti tofauti!
faq-why-my-lang-q = Kwa nini lugha yangu bado haijajumuishwa?
faq-why-my-lang-new-a = Mozilla haichagui au kupendelea lugha yoyote kuliko nyingine. Badala yake, Common Voice ni mpango unaoendeshwa na jamii, lakini inachukua <multilangLink> hatua kadhaa kuongeza lugha mpya </multilangLink> na kuanza kukusanya michango ya sauti. Kwanza, wavuti wa Common Voice unahitaji kutafsiriwa ili wanajamii waweze kupata uzoefu wa wachangiaji katika lugha yao wenyewe. Kisha tunahitaji mkusanyiko mkubwa wa sentensi zisizo na hakimiliki kwa watu kusoma kwa sauti. Mara tu mahitaji hayo yote yanapokamilika lugha "huzinduliwa" kwa Common Voice kwa watu kuanza kurekodi sauti zao na kuhalalisha michango ya wengine. Ikiwa unataka kusaidia kuzindua lugha mpya, nenda kwenye <sentenceCollectorLink>kifaa chetu cha kukusanya sentensi </sentenceCollectorLink> ili uanze.
faq-what-quality-q = Ni kiwango gani cha ubora wa sauti kinahitajika ili kipande cha sauti kitumiwe kwenye daftari?
faq-what-quality-a = Tunataka daftari la data la Common Voice kuonesha ubora wa sauti ambayo injini ya sauti-kwa-maandishi itaelewa porini, kwa hivyo tunatafuta sauti nyingi tofauti. Mbali na jamii tofauti ya wasemaji, daftari lenye ubora wa sauti nyingi tofauti litafundisha injini ya sauti-kwa-maandishi kushughulikia hali tofauti za ulimwengu, kutoka kelele za kuongea za nyuma hadi kelele za magari. Ili mradi kipande chako cha sauti kinaeleweka, inapaswa kuwa ya kutosha kwa daftari.
faq-why-10k-hours-q = Kwa nini saa 10,000 zilizothibitishwa ndio lengo la kila lugha la kurekodi sauti?
faq-why-10k-hours-a = Hii ni takriban idadi ya saa zinazotakiwa kufundisha mfumo wa uzalishaji wa sauti kwa maandishi.
faq-how-calc-hours-q = Common voice inahesabuje masaa?
faq-how-calc-hours-a = Tunahesabu saa kwa kukadiria wastani wa urefu kwa kila rekodi, na kisha kuzidisha nambari hiyo kwa jumla ya idadi ya rekodi katika lugha zote.
faq-where-src-from-2-q = Nakala ya chanzo inatoka wapi?
faq-where-src-from-2-a =
    Nakala yetu ya maandishi yanaundwa na michango ya wafadhili asili na mazungumzo kutoka kwa maandishi ya sinema za umma kama <italic>Ni Maisha Mazuri</italic>.
    
    Unaweza kuona sentensi zetu katika hii <githubLink> Folda ya GitHub </githubLink>.
faq-why-not-ask-read-q = Kwa nini usiombe watu wasome vitabu au nakala za Wikipedia katika lugha tofauti?
faq-why-not-ask-read-a = Ili kufanya daftari la Common Voice liwe muhimu kadiri inavyowezekana tumeamua kuruhusu tu maandishi asili ambayo inapatikana chini ya leseni ya Creative Commons (CC0). Kutumia kiwango cha CC0 inamaanisha kuwa ni ngumu zaidi kupata na kukusanya maandishi ya asili, lakini inamruhusu mtu yeyote atumie data inayotokana na sauti bila vizuizi vya matumizi au idhini kutoka kwa Mozilla. Mwishowe, tunataka kuifanya daftari ya lugha tofauti iwe muhimu kwa kila mtu, pamoja na watafiti, vyuo vikuu, kampuni zinazoanza, serikali, mashirika ya kusudi za kijamii, na wapenda hobby.
faq-why-account-q = Kwa nini nijisajili kupata akaunti?
faq-is-account-public-q = Je! Habari za akaunti yangu zinawekwa kwa umma?
faq-how-privacy-q = Je! Unahakikishaje kutojulikana na faragha ya watu waliotoa sauti zao?
faq-how-privacy-a = Vipande vyote vya sauti kwenye daftari zimeondolewa habari za kutambulisha watu. Wakati mchangiaji hutoa data inayomhusu kupitia wasifu wao, habari hizo huondolewa kutoka kwa sehemu za sauti zao kabla ya kuwekwa kwenye kifurushi cha kupakuliwa kwenye daftari na kamwe haitangazwi kwa umma kwenye ukurasa wa wasifu wao.
faq-what-determine-identity-q = Inamaanisha nini kuwa siwezi "kutambua utambulisho" wa wasemaji kwenye daftari la Common Voice?
faq-what-determine-identity-a =
    Daftari la Common Voice ni rasilimali wazi na inayopatikana kwa umma ambayo inaweza kutumika kufundisha programu tofauti zenye uwezo wa kutambua sauti. Ili kulinda usalama wa wachangiaji wetu, tunaomba kila mtu anayepakua daftari la Common Voice kuheshimu faragha ya wachangiaji. 
    
    Vipande vyote vya sauti kwenye hifadhidata zinatolewa taarifa binafsi za utambuzi. Unapopakua daftari hili, unakubali kutojaribu kubaini kumtambua mchangiaji yeyote. Hivyo inamaanisha kuwa huwezi kujaribu kuunganisha taarifa kwenye daftari la Common Voice na maelezo binafsi ya mchangiaji. Hata hivyo, unaweza kutumia daftari hili kutoa mafunzo kwa programu za utambuzi wa sauti, utambuzi wa msemaji, au programu zingine, kwa mfano, kuunganisha taarifa kwenye daftari na habari zingine zilizo tayari kwenye daftari
faq-what-is-cv = Common voice ni nini?
faq-using-cv = kutumia common voice
faq-description = Common Voice ni sehemu ya mpango wa Mozilla kusaidia kufundisha mashine jinsi watu wanavyozungumza
faq-search-for-answers =
    .label = tafuta majibu

## ABOUT US

about-title = Kwanini Common Voice?
about-subtitle = Common Voice ni hatua ya Mozilla ya kusaidia kufunza mashine jinsi watu wanavyozungumza. Mbali na daftari la Common Voice, pia tunaunda injini ya utambuzi wa sauti ya chanzo wazi inayoitwa Deep Speech.
about-header-description =
    Miradi hii yote ni sehemu ya juhudi zetu za kupunguza mgawanyiko wa sauti ya kidigitali. Teknolojia za utambuzi wa sauti huleta mwelekeo wa kibinadamu kwenye vifaa vyetu, lakini watengenezaji programu wanahitaji idadi kubwa ya data ya sauti ili kuzijenga. Hivi sasa, data nyingi ni ghali na ya wamiliki.
    Tunataka kufanya data ya sauti kupatikana kwa uhuru na kwa umma, na kuhakikisha data inawakilisha utofauti wa watu. Pamoja tunaweza kufanya utambuzi wa sauti kuwa bora kwa kila mtu.
how-does-it-work-title = inafanyaje kazi
how-does-it-work-text = Tunachangisha chanzo wazi la daftari la sauti. Toa sauti yako, halalisha usahihi wa vipande vya sauti vya watu wengine, fanya daftari liwe bora kwa kila mtu.
about-speak = Zungumza
about-speak-text = Wachangiaji hurekodi vipande vya sauti kwa kusoma kutoka kwa benki ya sentensi zilizotolewa.
about-listen-queue = Foleni ya kusikiliza
about-listen-queue-text = Vipande vya sauti huingizwa kwenye foleni ya uwasilishaji inayovitayarisha kwa kusikilizwa.
about-listen = sikiliza
about-listen-text = Watumiaji wanahalalisha usahihi wa vipande vya sauti zilizotolewa, wakiangalia kwamba msemaji alisoma sentensi kwa usahihi.
about-is-it-valid = Je! Kipande cha sauti ni halali?
about-is-it-valid-text = Kipande cha sauti kinawekewa alama "halali" wakati mtumiaji anaweka kura ya Ndio.
about-yes-votes = ≥ 2 Kura za ndio
about-yes-votes-text = Ili kuifanya iwekwe kwenye daftari la Common Voice, kipande cha sauti lazima kihalalishwe na watumiaji wawili tofauti.
about-no-votes = ≥ 2 Kura za hapana
about-no-votes-text = Mtumiaji akikataa kipande cha sauti hurejea kwenye foleni. Ikiwa imekataliwa mara ya pili, hicho kipande cha sauti kinahamishwa kwenye maziara ya vipande vya sauti.
about-dataset-new = Daftari la Common Voice
about-dataset-new-text = Daftari la Common Voice ina mamia ya maelfu ya sampuli za sauti ambazo husaidia wasanidi kuunda zana za utambuzi wa sauti.
about-clip-graveyard = Maziara ya vipande vya sauti.
about-clip-graveyard-text = Maziara ya vipande vya sauti vina sehemu za sauti ambazo hazikuweza kuwekwa kwenye daftari la Common Voice. Kama daftari tu, maziara ya vipande vya sauti vinapatikana kwa kupakuliwa.
about-partners = Washiriki
about-become-a-partner = Kuwa mshiriki
about-partnership =
    Common Voice ni mradi wa kushirikiana, na tunategemea jamii yetu ya washirika na wachangiaji wa kutengeneza chanzo wazi cha daftari kubwa la sauti.
    
    Tungependa kuwashukuru watu na mashirika yafuatayo kwa msaada wao kwenye huu mradi:
about-get-involved = Jihusishe
about-get-involved-text-2 =
    Je! Unataka kusaidia kufanya Common Voice kuwa bora zaidi?
    Vizuri! Wasiliana kupitia barua pepe au idhaa ya <discourseLink> Discourse </discourseLink>
    ,wasilisha maswala ya tovuti kupitia <githubLink> GitHub </githubLink>, au ujiunge na mazungumzo ya jamii ya <matrixLink> Matrix </matrixLink>.
about-nav-why-common-voice = Kwanini?
about-nav-how-it-works = kivipi?
about-nav-partners = Washiriki
about-nav-get-involved = Jihusishe
mycroft-title = Mycroft Ai
mycroft-subtitle = Intelijensia bandia
mycroft-description =
    Mycroft ni msaidizi wa kwanza wa chanzo wazi ulimwenguni.
    Mycroft inatumika popote - kwenye tarakilishi, ndani ya gari, au kwenye Raspberry Pi.
mycroft-secondary-description = Hii ni programu ya chanzo wazi ambayo inaweza kurekebishwa kwa uhuru na kuboreshwa. Mycroft inaweza kutumika katika kitu chochote kutoka kwa mradi wa sayansi hadi programu ya wamiliki.

## Glossary

glossary = Faharasa
localization = Ujanibishaji
localization-explanation = Huu ni mchakato wetu wa kutafsiri na kurekebisha yaliyomo katika nyanja nyingi (lugha).
sentence-collection = Mkusanyiko wa sentensi
sentence-collection-explanation = Kukusanya sentensi kutoka kwa uwanja wa umma, au kuandika sentensi mpya kwa uwanja wa umma.
hours-recorded-explanation = Idadi ya saa za kurekodi sauti ambazo tumekusanya hadi sasa.
hours-validated-explanation = Idadi ya saa za kurekodi sauti ambazo zimehalalishwa na watumiaji 2 kati ya 3 na kura ya "Ndio". Hii ni alama ya maendeleo ya kuelekea lengo la mradi wa jumla ya saa elfu kumi.
sst = Sauti kwa maandishi (SKM)
sst-explanation = Teknolojia ya sauti kwa maandishi (SKM) hubadilisha data ya sauti kuwa maandishi.
de-identified = kutodhihirisha
de-identified-explanation = Mchakato ambao maelezo ya wasifu wa mchangiaji hufungiwa kutoka kwa vipande vyao vya sauti vilivyotolewa wakati wa kukusanywa na kupakuliwa kama sehemu ya daftari.

## Error pages

error-title-404 = Hatukuweza kukupata ukurasa huo
error-content-404 = Labda <homepageLink> ukurasa wetu wa kwanza</homepageLink> utasaidia? Ili kuuliza swali, tafadhali jiunge na <matrixLink>mazungumzo ya jamii ya Matrix</matrixLink>, fuatilia maswala ya tovuti kupitia <githubLink> GitHub </githubLink> au tembelea <discourseLink> idhaa yetu ya Discourse</discourseLink>.
error-title-503 = Tunapata hitilafu isiyotarajiwa
error-content-503 = Wavuti utarudishwa haraka iwezekanavyo. Kwa habari ya hivi karibuni, tafadhali jiunge na<matrixLink> mazungumzo ya jamii ya Matrix</matrixLink>  au tembelea <githubLink>GitHub</githubLink> au <discourseLink>idhaa yetu ya Discourse </discourseLink> ili kutuma na kufatilia maswala ya uzoefu wa tovuti.
error-code = Kosa { $code }

## Data

data-download-button = Pakua data ya Common Voice
data-download-yes = Ndio
data-download-deny = Hapana
data-download-license = Leseni: <licenseLink> CC-0 </licenseLink>
data-download-modal = Unakaribia kuanzisha upakuaji wa <size>{ $size }GB</size> , endelea?
data-subtitle = Tunaunda daftari la data ya sauti inayopatikana wazi na kwa umma ambayo kila mtu anaweza kutumia kufudhisha programu ambazo zina uwezo wa kutambua sauti.
data-explanatory-text = Tunaamini kuwa daftari kubwa la sauti na linalopatikana kwa umma linakuza uvumbuzi na ushindani mzuri wa kibiashara katika teknolojia ya sauti inayotegemea mafunzo ya mashine. Hii ni juhudi ya ulimwengu na tunakaribisha kila mtu kushiriki. Lengo letu ni kusaidia teknolojia ya sauti iwe kuunganisha zaidi, ikionyesha utofauti wa sauti kutoka kote ulimwenguni.
data-get-started = <speechBlogLink> Anza na Utambuzi wa sauti </speechBlogLink>
data-other-title = Daftari zingine za sauti
data-other-goto = Nenda kwa { $name }
data-other-download = Pakua data
data-bundle-button = Pakua kifurushi cha daftari
data-bundle-description = Data ya Common Voice pamoja na hifadhisauti zingine hapo juu.
release-version = Toleo
dataset-date = Tarehe
license = Leseni: <licenseLink> { $leseni } </licenseLink>
license-mixed = Mchanganyiko
data-download-singleword-title = Pakua Sehemu ya Lengo la Neno Moja
data-download-singleword-callout-v2 = Hii ni sehemu ya kesi inayotumiwa na data iliyo na uwezo wa kutambua tarakimu ya sauti na ugunduzi wa ndio / hapana
review-terms = Kwa kutumia Common Voice, unakubaliana na <termsLink>Masharti</termsLink> yetu na <privacyLink> Ilani ya Faragha</privacyLink>
terms-agree = nakubali
terms-disagree = Sikubali
review-aborted = Kupakia kumekomeshwa. Je! Unataka kufuta rekodi zako?
review-submit-title = Hakiki kisha utume
review-submit-msg = Asante kwa kurekodi!<lineBreak></lineBreak> Sasa hakiki kisha utume hivyo vipande
review-recording = Thibitisha
review-rerecord = Rekodi tena
review-cancel = Ghairi uwasilishaji
review-keep-recordings = Hifadhi rekodi
review-delete-recordings = Futa rekodi zangu

## Datasets Page

datasets-headline = Tunaunda chanzo wazi la hifadhidata ya sauti yenye lugha nyingi tofauti ambayo kila mtu anaweza kutumia kufudhisha programu ambazo zina uwezo wa kutambua sauti.
datasets-positioning =
    Tunaamini kuwa hifadhidata kubwa ya sauti, inayopatikana kwa umma itakuza uvumbuzi na ushindani mzuri wa kibiashara katika kufunza mashine inayotegemea teknojia ya sauti.
    
    Common Voice ni hifadhidata ya lugha nyingi ya sauti inayopatikana kwa umma ambayo tayari ni hihafidata kubwa zaidi ya aina yake, lakini sio ya kipekee.
    
    Angalia ukurasa huu kama kitovu cha kumbukumbu la hifadhidata ya sauti vya vyanzo wazi, na Common Voice inavyoendelea kukua, ni sehemu yetu ya kutolea sasisho.
language = lugha
# File size in gigabytes
size = Ukubwa
validated-hr-total = Jumla ya saa zilizo halalishwa
overall-hr-total = Saa kwa ujumla
cv-license = Leseni
audio-format = Muundo wa sauti
number-of-voices = idadi ya sauti
splits = Migawanyiko
email-to-download = Weka barua pepe kupakua
why-email = <b>Kwa nini barua pepe?</b> Tunaweza kuhitaji kuwasiliana nawe katika siku zijazo juu ya mabadiliko kwenye daftari, barua pepe inatupa uhakika.
confirm-size = Uko tayari kuanzisha upakuaji wa <b>{ $size }</b>
size-gigabyte = GB
size-megabyte = MB
confirm-no-identify = <b>Unakubali</b> kutojaribu kubaini utambulisho wa wasemaji kwenye daftari ya Common Voice
download-language = Pakua { $language }
validated-hours = Masaa yaliyo halalishwa
recorded-hours = masaa yaliyorekodiwa
whats-inside = Nini kipo ndani ya daftari la Common Voice?
dataset-description-hours =
    Kila ingizo kwenye hifadhidata ina MP3 ya kipekee sambamba na faili la maandishi. Saa nyingi za <b>{ $total }</b> zilizorekodiwa kwenye hifadhidata pia zinahusisha metadata ya data zinazohusu watu kama vile umri, jinsia, na lafudhi ambayo inaweza kusaidia kufundisha usahihi wa injini za utambuzi wa sauti.
    
    Kwa sasa hifadhidata ina masaa <b>{ $valid }</b> yaliyohalalishwa kwenye lugha <b>{ $languages }</b>, lakini kila wakati tunaongeza sauti na lugha zingine. Angalia ukurasa wetu wa <languagesLink>Lugha</languagesLink> ili kuomba lugha au kuanza kuchangia.
want-dataset-update = Unahitaji visasisho pindi tunapotoa toleo jipya la hifadhi ya Common Voice? Jiandikishe kwa jarida letu.
subscribe = Jiandikishe
get-started-speech = Pata kuanza na utambulizi wa sauti
other-datasets = Daftari zingine za sauti
feedback-q = Una Maoni?
data-other-librispeech-description = LibriSpeech ni daftari la takriban saa 1000 za 16Khz za sauti ya Kiingereza ziliyosomwa kutoka vitabu vya sauti vya mradi wa LibriVox.
data-other-ted-name = Daftari la TED-LIUM
data-other-ted-description = Daftari la TED-LIUM liliundawa kutoka kwa mazungumzo ya sauti na nakala zao zinapatikana kwenye wavuti wa TED.
data-other-voxforge-description = VoxForge ilianzishwa ili kukusanya sauti zilizonukuliwa kwa matumizi ya Injini za Utambuzi wa sauti zilizo bure na wazi kwa umma.
data-other-tatoeba-description = Tatoeba ni hifadhidata kubwa ya sentensi, tafsiri, na sauti iliyotamkwa kwa matumizi ya ujifunzaji wa lugha. Upakuaji huu una mazungumzo ya Kiingereza yaliyorekodiwa na jamii yao.
your-feedback = Je! Una maoni juu ya jinsi tunaweza kuboresha dafari la Common Voice? Tujulishe kwenye Discourse
go-discourse = Nenda kwenye Discourse
missing-language = Je! Huoni lugha yako ikijitokeza kwenye daftari? Kuomba lugha, elekea kwenye ukurasa wetu wa Lugha.
go-languages-page = Nenda kwenye kurasa za lugha
ready-to-validate = Uko tayari kusaidia kuhalalisha sentensi?
more = Zaidi
close = Funga
download = Pakua
dataset-version = Toleo

## Download Modal

download-title = Upakuaji umeanza
download-helpus = Tusaidie kujenga jamii kwenye eneo la teknolojia ya sauti, tuwasiliane kupitia ujumbe wa barua pepe.
download-form-email =
    .label = Weka barua pepe yako
    .value = Asante, tutawasiliana
download-back = Rudi kwa daftari ya Common Voice
download-no = Hapana, Asante

## Contact Modal

contact-title = Fomu ya Mawasiliano
contact-form-name =
    .label = Jina
contact-form-message =
    .label = Ujumbe
contact-required = * inahitajika

## Request Language Modal

request-language-title = Ombi la Lugha
request-language-form-language =
    .label = Lugha
request-language-success-title = Ombi la lugha limefanikiwa kuwasilishwa , asante.
request-language-success-content = Tutawasiliana na habari zaidi juu ya jinsi ya kuongeza lugha yako kwa Common Voice hivi karibuni.
select-language = Chagua lugha ...
other-language = Lugha Nyingine

## Languages Overview

language-section-in-progress = Inaendelea
language-section-in-progress-new-description = Lugha hizi kwa sasa ziko chini ya maendeleo ya jamii. Chati za maendeleo zinaonyesha umbali gani kila lugha iko katika mchakato wa <localizationGlossaryLink> ujanibishaji wa wavuti </localizationGlossaryLink> na <sentenceCollectionGlossaryLink> ukusanyaji wa sentensi </sentenceCollectionGlossaryLink>.
language-section-launched = Imeanzishwa
language-section-launched-description = Kwa lugha hizi zilizozinduliwa, wavuti umefanikiwa <localizationGlossaryLink>kujabinishwa</localizationGlossaryLink>, na ina <sentenceCollectionGlossaryLink>sentensi za kutosha zilizokusanywa</sentenceCollectionGlossaryLink> ili kuruhusu michango ya <speakLink>kuongea</speakLink> na <listenLink>kusikiliza</listenLink> iendelee
languages-show-more = Tazama Yaliyofichika
languages-show-less = Punguza Yanayoonekana
language-meter-in-progress = Maendeleo
language-total-progress = Jumla
language-search-input =
    .placeholder = Tafuta
language-speakers = Wasemaji
localized = Ujanibishaji
sentences = Masentensi
total-hours = Masaa yaliyo halalishwa

## Contribution

action-click = Bonyeza
action-tap = Gonga
contribute = Changia
listen = Sikiliza
skip = ruka
shortcuts = Njia za mkato
clips-with-count-pluralized =
    { $count ->
        [one] kipande <bold>{ $count }</bold> cha sauti
       *[other] Vipande <bold>{ $count }</bold> vya sauti
    }
goal-help-recording = Umesaidia Common Voice kufikia <goalPercentage></goalPercentage> ya malengo yetu ya kila siku ya { $goalValue } ya kurekodi!
goal-help-validation = Umesaidia Common Voice kufikia <goalPercentage></goalPercentage> ya lengo letu la uthibitisho la { $goalValue } la kila siku!
contribute-more =
    { $count ->
        [one] Uko tayari kufanya { $count } zaidi?
       *[other] Uko tayari kufanya { $count } zaidi?
    }
record-cta = anza kurekodi
record-platform-not-supported = Samahani, jukwaa la programu yako halitumiki kwa sasa.
record-platform-not-supported-desktop = Kwenye vifaa vya tarakilishi unaweza kuchangia kwa kupakua…
record-platform-not-supported-ios-non-safari = Kwenye iOS tafadhali endelea na jukwaa la Safari ili kuwezesha kurekodi…
record-must-allow-microphone = Lazima uruhusu kinasa sauti kutumiwa
record-no-mic-found = Hakuna kinasa sauti kilichopatikana
record-error-too-short = Rekodi ilikua ya mda mfupi sana.
record-error-too-long = Rekodi ilikua ya mda mrefu sana
record-error-too-quiet = Rekodi ilikua ya kimya sana
record-cancel = Ghairi Kurekodi tena
record-instruction = { $actionType } <recordIcon> </recordIcon> kisha soma sentensi hiyo kwa sauti
record-stop-instruction = { $actionType } <stopIcon> </stopIcon> ukimaliza
record-three-more-instruction = Tatu kumaliza!
record-again-instruction = Vizuri!<recordIcon></recordIcon>Rekodi kipande kinachofata.
record-again-instruction2 = Jitahidi, rekodi tena <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> ya mwisho!
review-tooltip = Pitia na rekodi upya vipande vya sauti unapoendelea
share-clip = Sambaza kipande chako cha sauti
share-common-voice = Sambaza Common Voice
review-instruction = Pitia na rekodi tena vipande vya sauti ikiwa inahitajika.
record-submit-tooltip = { $actionType } wasilisha ikiwa tayari
clips-uploaded = Vipande vilivyo pakiwa
record-abort-title = Maliza kurekodi kwanza?
record-abort-text = Kuondoka sasa inamaanisha utapoteza maendeleo yako
record-abort-submit = Tuma vipande
record-abort-continue = Maliza kurekodi
record-abort-delete = Toka na futa vipande vya sauti
listen-instruction = { $actionType }<playIcon></playIcon>Wameongea sentensi kwa usahihi?
listen-again-instruction = Kazi nzuri!<playIcon></playIcon>Sikiliza tena ukiwa tayari
listen-3rd-time-instruction = 2 tayari, endelea kujitahidi!<playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon>ya mwisho!
listen-empty-state = Tumeishiwa na vipande vya sauti vya kuhalalishwa kwenye hii lugha
speak-empty-state = Tumeishiwa na sentensi za kurekodi katika lugha hii...
speak-empty-state-cta = Changia sentensi
record-button-label = Rekodi sauti yako
share-title-new = <bold>Tusaidie</bold> kupata sauti zaidi
keep-track-profile = Fuatilia maendeleo yako na wasifu
login-to-get-started = Ingia au jisajili ili uanze
target-segment-first-card = Unachangia sehemu yetu ya kwanza ya lengo
target-segment-generic-card = Unachangia kwenye sehemu iliyolengwa
target-segment-first-banner = Saidia kuunda sehemu ya kwanza ya lengo la Common Voice katika { $locale }
target-segment-add-voice = Ongeza Sauti yako
target-segment-learn-more = Jifunze zaidi

## Reporting

report = Ripoti
report-title = Wasilisha ripoti
report-ask = Unakutana na shida gani kwenye hii sentensi?
report-offensive-language = Lugha ya makuruhi
report-offensive-language-detail = Sentensi hiyo ina dharau au lugha ya makuruhi.
report-grammar-or-spelling = Kosa la kisarufi / tahajia
report-grammar-or-spelling-detail = Sentensi hiyo ina kosa la kisarufi au tahajia.
report-different-language = Lugha tofauti
report-different-language-detail = Imeandikwa kwa lugha ambayo ni tofauti na ninayoongea.
report-difficult-pronounce = Vigumu kutamka
report-difficult-pronounce-detail = Inayo maneno au misemo ambayo ni magumu kusoma au kutamka.
report-offensive-speech = Lugha ya makuruhi
report-offensive-speech-detail = Sehemu ya sauti ina lugha ya dharau au ya makuruhi
report-other-comment =
    .placeholder = Toa maoni
success = Imefanikiwa
continue = Endelea
report-success = Ripoti ilipitishwa kwa mafanikio

## Goals

streaks = Mistari
days =
    { $count ->
        [one] Siku
       *[other] Siku
    }
recordings =
    { $count ->
        [one] Rekodi
       *[other] Rekodi
    }
validations =
    { $count ->
        [one] Uthibitishaji
       *[other] Uthibitishaji
    }

## Dashboard

your-languages = Lugha zako
toward-next-goal = Kuelekea lengo linalofuata
goal-reached = Lengo limefikiwa
clips-you-recorded = Vipande vya sauti ulivyo rekodi
clips-you-validated = Vipande vya sauti ulivyohalalisha
todays-recorded-progress = Maendeleo ya Common Voice kwenye vipande vya sauti vilivyorekodiwa leo
todays-validated-progress = Maendeleo ya leo ya Common Voice ya vipande vya sauti vilivyohalishwa
stats = Takwimu
awards = Tuzo
you = Wewe
everyone = Kila mtu
contribution-activity = Shughuli ya uchangiaji
top-contributors = Wachangiaji wakuu
recorded-clips = Vipande vya sauti zilizorekodiwa
validated-clips = Vipande vya sauti vilivyohalalishwa
total-approved = Jumla ya zilizoidhinishwa
overall-accuracy = Usahihi kwa ujumla
set-visibility = Weka kuonekana kwangu
visibility-explainer = Mpangilio huu unadhibiti mwonekano wako wa ubao wa wanaoongoza. Unapoficha, maendeleo yako yatakua ya kibinafsi. Hii inamaanisha picha yako, jina la mtumiaji na maendeleo havitaonekana kwenye ubao wa wanaoongoza. Kumbuka kuwa kuonyeshwa upya kwa ubao wa wanaoongoza huchukua dakika ~{ $minutes } ili kuonyesha mabadiliko.
visibility-overlay-note = Kumbuka: Ikiwa wasifu umewekwa kuwa 'unaonekana', mpangilio huu unaweza kubadilishwa kutoka kwenye ukurasa wa <profileLink> Wasifu</profileLink>
show-ranking = Onesha nafasi yangu

## Custom Goals

get-started-goals = Anza na malengo
create-custom-goal = Unda lengo linaloweza kubadilishwa
goal-type = Unataka kujenga lengo la aina gani?
both-speak-and-listen = Zote mbili
both-speak-and-listen-long = Zote mbili (kuongea na kusikiliza)
daily-goal = Lengo la kila siku.
weekly-goal = Lengo la kila wiki
easy-difficulty = Rahisi
average-difficulty = Wastani
difficult-difficulty = Ngumu
pro-difficulty = Pro
lose-goal-progress-warning = Kwa kuhariri lengo lako, unaweza kupoteza maendeleo yako yaliyopo.
want-to-continue = Unataka kuendelea?
finish-editing = Maaliza kuhariri kwanza?
lose-changes-warning = Kuondoka sasa inamaanisha utapoteza mabadiliko yako
build-custom-goal = Jenga lengo linaloweza kubadilika
help-reach-hours-pluralized =
    Saidia kufikia{ NUMBER($hours) ->
        [one] saa { $hours }
       *[other] saa { $hours }
    }katika { $language } na lengo binafsi
help-reach-hours-general-pluralized =
    Saidia Common Voice kufikia{ NUMBER($hours) ->
        [one] saa { $hours }
       *[other] saa { $hours }
    }katika lugha yenye lengo binafsi
set-a-goal = Weka lengo
cant-decide = Huwezi kuamua?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] saa { $totalHours }
       *[other] saa { $totalHours }
    }inafanikiwa kwa muda wa{ NUMBER($periodMonths) ->
        [one] mwezi { $periodMonths }
       *[other] miezi { $periodMonths }
    }ikiwa{ NUMBER($people) ->
        [one] mtu { $people }
       *[other] watu { $people }
    }wamerokodi{ NUMBER($clipsPerDay) ->
        [one] kipande { $clipsPerDay } cha sauti
       *[other] vipande { $clipsPerDay } vya sauti
    }kwa siku.
how-many-per-day = Vizuri! Vipande vingapi vya sauti kwa siku?
how-many-a-week = Vizuri! Vipande vingapi vya sauti kwa wiki?
which-goal-type = Unataka kuongea, usikiliza au zote mbili?
receiving-emails-info =
    Kwa sasa umepangwa kupokea ujumbe wa barua pepe kama vile ukumbusho wa lengo, sasisho zangu za maendeleo
    na majarida kuhusu Common Voice
not-receiving-emails-info =
    Kwa sasa umepangwa <bold>KUTOPOKEA</bold> ujumbe wa barua pepe kama vile ukumbusho wa lengo, sasisho zangu za maendeleo
    na majarida kuhusu Common Voice
n-clips-pluralized =
    { NUMBER($count) ->
        [one] Kipande { $count } cha sauti
       *[other] Vipande { $count } vya sauti
    }
help-share-goal = Tusaidie kupata sauti zaidi, sambaza lengo lako
confirm-goal = Thibitisha lengo
goal-interval-weekly = Kila wiki
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Sambaza vipande { $count } vya sauti kwa lengo lako la { $type } la kila siku
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Sambaza vipande { $count } vya sauti kwa lengo lako la { $type } la kila wiki
share-goal-type-speak = Kuongea
share-goal-type-listen = Kusikiliza
share-goal-type-both = Kuongea na kusikiliza
# LINK will be replaced with the current URL
goal-share-text = Nimeunda lengo binafsi la mchango wa sauti kwa #CommonVoice -- ungana nami kusaidia kufundisha mashine jinsi watu wanavyoongea { $link }
weekly-goal-created = Lengo lako la kila wiki limeundwa
daily-goal-created = Lengo lako la kila siku limeundwa
track-progress = Fuatilia maendeleo hapa na kwenye ukurasa wako wa takwimu.
return-to-edit-goal = Rudi hapa kuhariri lengo lako wakati wowote.
share-goal = Sambaza lengo langu

## Profile Delete

delete-q = Je! Ungependa kuomba rekodi zako za sauti zifutwe pia, ama unangependelea kuzihifadhi kwenye daftari la Common Voice?
keep = Hifadhi
remove = Ondoa
keep-info = Rekodi zako za sauti zisizojulikana zitabaki katika daftari la Common Voice. Mara tu utakapofuta wasifu wako, hautaweza tena kutuma ombi la kuondoa rekodi zako kwenye daftari.
remove-info = Tutakagua ombi lako la kuondoa rekodi zako za sauti kutoka kwenye daftari. Ikiwa ombi lako limeidhinishwa, tutawasiliana na wale ambao walishapakua daftari na tutaomba waondoe rekodi zako za sauti pia.
why-delete-recordings =
    Rekodi za Common Voice hutumiwa na wasomi, biashara ndogo ndogo, na wapenda utambuzi wa sauti kusaidia kufundisha na kukuza rasilimali zinazopatikana hadharani kama mifano ya sauti.
    
    Je! Unaweza kutujulisha kwa nini ungependa rekodi zako zifutwe?
profile-form-delete = Futa wasifu

## Profile Download


## Landing

welcome-staff = Karibu wafanyikazi wa { $company }!
help-contribute = Unaweza kusaidia kujenga daftari anuwai la chanzo wazi kwa kuunda wasifu wa Common Voice na kuchangia sauti yako.
login-company = Ingia / Jisajili na barua pepe ya { $company }
profile-not-required = Kuwa na wasifu hauhitajiki kuchangia ingawa inasaidia, tazama kwa nini hapa chini.
read-more-about = Soma zaidi kwenye ukurasa wa kutuhusu

## DemoLayout

demo-get-started = Tuanze
demo-welcome = Karibu Common Voice
demo-welcome-subheader = Je! Umevutiwa na kujifunza zaidi na kuchangia kwenye mradi huu?

## Demo Datasets

demo-language-select-card-header = Common Voice ni daftari kubwa zaidi la sauti ulimwenguni linayopatikana kwa umma, lenye lugha tofauti.
demo-language-select-card-body = Shukrani kwa michango ya watu takribani laki mbili na elfu hamsini na tisa  katika lugha zaidi ya hamsini(50), data hii inatumika kusaidia kufundisha programu ambazo zinauweza wa kutambua sauti ili kuweza kujibu vizuri sauti ya mwanadamu
card-button-next = Mbele
card-button-back = Nyuma
demo-language-select-label = Vinjari Lugha
demo-eofy-header = Toleo la mwisho la mwaka wa 2019
demo-eofy-sub_header = Hifadhidata ya sauti ipo tayari kupakuliwa
demo-account = Akaunti

## Demo Account

demo-account-card-header = Kuwa na akaunti haihitajiki kuchangia, ingawa inasaidia.
demo-account-card-body = Upande wa kulia tumeoredhesha faida na ufafanuzi wa habari gani tunaweka kwa umma. Tumia viunga hapa chini kuanza na akaunti ya Common Voice kwenye kifaa chako mwenyewe.
demo-account-enter-email =
    .label = Ingiza barua pepe kupata kiunga cha kujisajili
demo-account-sign-up = Tuma kiunga cha kujisajili

## Demo Contribute

demo-contribute-card-header = Uko tayari kuongeza sauti yako au kusikiliza?
demo-contribute-card-body-v2 = Sasa kwa kuwa unajua kidogo zaidi kuhusu Common Voice, kwa nini usijaribu? Bonyeza kitufe cha kipaza sauti ili kuanza kusoma sentensi kwa sauti. <br/><br/>Ikiwa unapendelea kuhakiki michango ya sauti ya watu wengine, bonyeza kitufe cha kucheza. Utasaidia kuthibitisha kuwa rekodi zinalingana na sentensi zilizoandikwa kwenye skrini.
demo-listen-subtitle = Uko tayari kuchangia?

## Demo Dashboard

demo-dashboard-card-header = Dashbodi za kibinafsi zinakupasha juu ya maendeleo ya kibinafsi na ya jamii.
demo-dashboard-card-body = Kwa kila kipande cha sauti kilicho changiwa, na kwa kila kipande cha sauti kilichothibitishwa, dashbodi zako za akaunti zimesasishwa ili kuonesha maendeleo yako ya hivi karibuni katika kila lugha unayochangia. Ndio, unaweza kuchangia zaidi ya moja!<br/><br/> Tumia dashbodi kufuatilia takwimu zako, angalia jinsi unavyoendelea pamoja na wengine katika jamii, na weka lengo la mchango la kila siku au kila wiki.

## Validation criteria

contribution-criteria-nav = Vigezo
contribution-criteria-link = Elewa vigezo vya michango
contribution-criteria-page-title = Vigezo vya Mchango
contribution-for-example = Kwa mfano
