## General

yes-receive-emails = Jes, bonvolu sendi retpoŝtajn mesaĝojn al mi. Mi ŝatus havi aktualajn informojn pri la projekto Common Voice
stayintouch = Ĉe Mozilla ni konstruas komunumon pri voĉaj teknologioj. Ni ŝatus resti en kontakto kun vi pri ĝisdatigoj, novaj fontoj kaj ankaŭ por scii pli pri  via uzo de tiuj ĉi datumoj.
privacy-info = Ni promesas zorge pritrakti viajn informojn. Pli da informo troveblas en nia <privacyLink>politiko pri privateco</privacyLink>.
return-to-cv = Reiri al Common Voice
email-input =
    .label = Retpoŝto
submit-form-action = Sendi
loading = Ŝargado…
email-opt-in-info = Mi ŝatus ricevi retpoŝtajn mesaĝojn, ekzemple memorigojn pri celoj, raportojn pri mia progreso kaj bultenojn pri Common Voice.
email-opt-in-info-title = Aliĝi al la dissendolisto de Common Voice
email-opt-in-info-sub-with-challenge = Ricevi retpoŝtmesaĝojn, kiel ekzemple memorigilojn pri defioj kaj celoj, progresajn ĝisdatigojn, kaj informilojn pri Common Voice.
email-opt-in-privacy-v2 = Se vi abonas dissendoliston, vi konsentas kun la pritrakto de tiu ĉi informo, laŭ la priskribo de la <privacyLink>privateca politiko</privacyLink> de Mozilla.
indicates-required = * signas devigan kampon
not-available-abbreviation = Nedisponebla

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = Abĥaza
ace = Aĉea
ady = Adigea
af = Afrikansa
am = Amhara
an = Aragona
ar = Araba
arn = Mapuĉa
as = Asama
ast = Astura
az = Azerbajĝana
ba = Baŝkira
bas = Basaa
be = Bjelorusa
bg = Bulgara
bm = Bambara
bn = Bengala
br = Bretona
bxr = Burjata
ca = Kataluna
cak = Kakĉikela
ckb = Centra kurda
cnh = Hakaĉina
co = Korsika
cs = Ĉeĥa
cv = Ĉuvaŝa
cy = Kimra
da = Dana
de = Germana
dsb = Malsuprasoraba
dv = Maldiva
el = Greka
en = Angla
eo = Esperanto
es = Hispana
et = Estona
eu = Eŭska
fa = Persa
ff = Fula
fi = Finna
fo = Feroa
fr = Franca
fy-NL = Frisa
ga-IE = Irlanda
gl = Galega
gn = Gvarania
ha = Haŭsa
he = Hebrea
hi = Hinda
hr = Kroata
hsb = Suprasoraba
ht = Haitia kreola
hu = Hungara
hy-AM = Armena
hyw = Okcidenta armena
ia = Interlingvao
id = Indonezia
is = Islanda
it = Itala
izh = Iĵora
ja = Japana
ka = Kartvela
kaa = Karakalpaka
kab = Kabila
kbd = Kabarda
kk = Kazaĥa
kmr = Kurmanĉa kurda
ko = Korea
kpv = Komiziriana
kw = Korniŝa
ky = Kirgiza
lg = Ganda
lij = Ligura
lt = Litova
lv = Latva
mai = Maitila
mdf = Mokŝa
mg = Malagasa
mhr = Orientmaria
mk = Makedona
ml = Malajalama
mn = Mongola
mos = Mosia
mr = Marata
mrj = Okcidentmaria
ms = Malaja
mt = Malta
my = Birma
myv = Erzja
nb-NO = Norvega Bokmål
ne-NP = Nepala
nia = Niasa
nl = Nederlanda
nn-NO = Norvega ninorsk
oc = Okcitana
or = Odia
pa-IN = Panĝaba
pap-AW = Papiamento (Arubo)
pl = Pola
ps = Paŝtuna
pt = Portugala
rm-sursilv = Romanĉa surselva
rm-vallader = Valadera romanĉa
ro = Rumana
ru = Rusa
rw = Ruanda
sah = Jakuta
sc = Sarda
scn = Sicilia
shi = Ŝelha
si = Sinhala
sk = Slovaka
sl = Slovena
so = Somala
sq = Albana
sr = Serba
sv-SE = Sveda
sw = Svahila
syr = Siria
ta = Tamila
te = Telugua
tg = Taĝika
th = Taja
tl = Tagaloga
tr = Turka
tt = Tatara
tw = Tivia
uby = Ubiĥa
udm = Udmurta
ug = Ujgura
uk = Ukraina
ur = Urdua
uz = Uzbeka
vec = Venecia
vi = Vjetnama
vot = Vota
yo = Joruba
yue = Kantona
zh-CN = Ĉina (Ĉinio)
zh-HK = Ĉina (Honkongo)
zh-TW = Ĉina (Tajvano)

# [/]


## Layout

speak = Paroli
speak-now = Paroli nun
datasets = Datumaroj
languages = Lingvoj
about = Pri ni
profile = Profilo
help = Helpo
contact = Kontakto
privacy = Privateco
terms = Kondiĉoj
cookies = Kuketoj
faq = Oftaj demandoj
content-license-text = Enhavo disponebla sub <licenseLink>permesilo Creative Commons</licenseLink>
share-title = Helpu nin trovi aliajn, kiuj volos donaci siajn voĉojn!
share-text = Helpu instrui al maŝinoj kiel veraj homoj parolas, donacu vian voĉon ĉe { $link }
link-copied = Ligilo kopiita
back-top = Reen al la supro
logout = Fini seancon

## Home Page

home-title = La projekto Common Voice estas iniciato de Mozilla por helpi instrui al maŝinoj kiel veraj homoj parolas.
home-cta = Donacu vian voĉon, kontribuu ĉi tie!
wall-of-text-start = Voĉo estas natura, voĉo estas homa. Tial ni volegas krei uzeblajn voĉajn teknikologiojn por niaj maŝinoj. Sed por krei voĉajn sistemojn, tre granda kvanto da voĉaj registroj estas postulata.
wall-of-text-more-mobile = La plimulto de la datumoj uzataj de grandaj kompanioj ne estas uzeblaj de iu ajn. Ni pensas ke tio sufokas novaĵkreemon. Tial ni lanĉis la projekton Common Voice, kiu helpas malfermi la pordojn de parolrekono al ĉiuj.
wall-of-text-more-desktop = Nun vi povas donaci vian voĉon por helpi nin konstrui malfermitkodan voĉan datumbazo, kiun iu ajn rajtas uzi por krei novajn programojn por aparatoj kaj por la reto.<lineBreak></lineBreak>Legu frazon por helpi maŝinojn kompreni kiel parolas veraj personoj. Kontrolu la laboron de aliaj kontribuantoj por plibonigi la kvaliton. Estas tiel simple!
wall-of-text-first = Voĉo estas natura, voĉo estas homa. Tial ni volegas krei uzeblajn voĉajn teknologiojn por niaj maŝinoj. Sed por krei voĉajn sistemojn, programistoj bezonas tre grandan kvanton da voĉaj datumoj.
wall-of-text-second = La plimulto de la datumoj uzataj de grandaj kompanioj ne estas uzeblaj de iu ajn. Ni pensas ke tio sufokas novaĵkreemon. Tial ni lanĉis la projekton Common Voice, kiu helpas igi parolrekonon malfermita kaj alirebla por ĉiuj.
show-wall-of-text = Pli da informo
help-us-title = Helpu nin validigi frazojn!
help-us-explain = Premu "ludi", aŭskultu kaj diru al ni: ĉu ili bone diris la suban frazon?
no-clips-to-validate = Ŝajne estas neniu aŭskultebla voĉregistro en tiu ĉi lingvo. Helpu nin aldoni kelkajn nun, per registro de via voĉo.
vote-yes = Jes
vote-no = Ne
toggle-play-tooltip = Premu { shortcut-play-toggle } por ludi/haltigi
speak-subtitle = Donacu vian voĉon
speak-paragraph = Fari voĉregistrojn estas kerna parto de la konstruo de nia malfermita datumaro; kelkaj dirus ke ĝi ankaŭ estas la amuza parto.
speak-goal-text = Nombro de voĉregistroj
listen-subtitle = Helpu nin validigi voĉojn
listen-paragraph = Validigi voĉregistrojn estas same grava por la misio de Common Voice. Aŭskultu do, kaj helpu nin krei altkvalitan malfermitkodan voĉan datumaron.
listen-goal-text = Validigitaj voĉregistrojn
hours-recorded = Horoj registritaj
hours-validated = Horoj validigitaj
voices-online = Voĉoj nune disponeblaj
todays-progress = Hodiaŭa progreso
help-reach-goal = Helpu nin atingi { $goal }
read-terms-q = Ĉu vi legis niajn kondiĉojn?
ready-to-record = Ĉu vi pretas donaci vian voĉon?
all-locales = Ĉiuj
today = Hodiaŭ
x-weeks-short =
    { $count ->
        [one] Semajno
       *[other] { $count } semajnoj
    }
x-months-short =
    { $count ->
        [one] Monato
       *[other] { $count } monatoj
    }
x-years-short =
    { $count ->
        [one] Jaro
       *[other] { $count } jaroj
    }
help-make-dataset = Helpu nin krei altkvalitan, publikan kaj liberan datumaron
sign-up-account = Krei konton
email-subscription-title = Abonu retpoŝtajn novaĵojn
email-subscription-title-new = Abonu la bultenojn de Common Voice, la memorigojn de celoj kaj la progresraportojn

## Account Benefits

benefits = Avantaĝoj
rich-data = Igu viajn senditajn datumojn kiel eble plej informriĉaj  per provizo de anonimaj demografiaj informoj. Ni anonimigas ĉiujn demografiajn datumojn antaŭ ol publikigi ilin.
improve-audio = La informoj de profilo plibonigas la aŭdajn datumojn, kiujn oni uzas por trejni parolrekonilojn kaj plibonigi ilian precizecon.
keep-track = Sekvu vian progreson per mezurindikiloj por ĉiuj lingvoj.
compare-progress = Vidu vian progreson, komparita kun tiu de aliaj kontribuantoj en la tuta mondo.
view-goals = Vidu vian progreson rilate al personaj kaj projektaj celoj.
join-newsletter = Se vi volas, abonu nian repoŝtan liston por ricevi ĝisdatigojn kaj novaĵon de la projekto.

## What's public

whats-public = Kiuj informoj estas publikaj?
email-not-public = Ni ne publikigos vian retpoŝtadreson.
recordings-and-locale-public = La nombro de voĉregistroj kaj la lingvoj, kun kiuj vi kunlaboras, estos publikaj.
username-optin-public = Vi povas elekti ĉu publikigi aŭ anonimigi vian nomon de uzanto.
demographic-deidentified-clarity-2 = Laŭvole senditaj demografiaj informoj (ekzemple aĝo, genro, lingvo kaj akĉento) neniam estos publikaj en via profilo, kaj ili ne estos ligitaj al via konto en la datumaro. Unuopaj voĉregistroj estos asociitaj kun demografiaj datumoj, por analizi pri precize. Ekzemplo: esploristo povus voli alĝustigi sian trejnmodelon al specifa demografia segmento.
username-email-not-demographic = Via nomo de uzanto kaj retpoŝta adreso ne esos asociitaj kun la publikigitaj datumoj.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = I

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = l
shortcut-play-toggle-label = Ludi / Haltigi
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = j
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = Registri / Haltigi
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = Refari voĉregistron
shortcut-submit = Enigi
shortcut-submit-label = Sendi registraĵojn
request-language-text = Ĉu vi ne vidas vian lingvon en Common Voice?
request-language-text-learn = Jen pli da informo pri tiu peto!
request-language-button = Peti lingvon

## ProjectStatus

status-title = Superrigarda stato de la projekto: vidu nian progreson!
status-contribute = Kontribu per via voĉo
status-hours =
    { $hours ->
        [one] Jam unu horo validigita!
       *[other] Jam { $hours } horoj validigitaj!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Venonta celo: { $goal }
english = Angla

## ProfileForm

profile-form-username =
    .label = Nomo de uzanto
profile-form-native-language =
    .label = Denaska lingvo
profile-form-additional-language =
    .label = Aldona lingvo
profile-form-accent =
    .label = Akĉento
profile-form-age =
    .label = Aĝo
profile-form-gender-2 =
    .label = Genro
leaderboard-visibility =
    .label = Publika montro
hidden = Kaŝita
visible = Videbla
native-language =
    .label = Denaska lingvo
profile-form-submit-save = Konservi
profile-form-submit-saved = Konservita
male = Vira
female = Ina
# Gender
other = Alia
why-profile-title = Kial krei profilon?
why-profile-text = Se vi donas al ni kelkajn informojn pri vi, viaj sonregistraĵoj en Common Voice, estos pli utilaj por parolrekoniloj kiuj uzas tiujn informojn por plibonigi la precizecon.
dashboard = Panelo
build-profile = Krei profilon
avatar = Avataro
goals = Celoj
settings = Agordoj
edit-profile = Modifi profilon
profile-create-success = Sukceso, profilo kreita!
profile-close = Fermi
profile-explanation = Sekvu vian progreson per profilo, kaj helpu niajn voĉajn datumojn iĝi pli precizaj.
thanks-for-account = Dankon pro la konfirmo de via konto, nun kreu ni vian profilon.
why-demographic = Kial tio ĉi gravas?
why-demographic-explanation-2 = Anonimigitaj datumoj de uzanto kiel aĝo, genro kaj akĉento helpas plibonigi la voĉajn datumojn, kiujn oni uzas por trejni la precizecon de la voĉrekoniloj. Via nomo de uzanto kaj via retpoŝto neniam estos asociitaj kun la datumoj, kiujn vi sendas, kaj vi povas elekti ĉu igi vian nomon de uzanto publika aŭ anonima.
accept-privacy = Mi konsentas kun via pritrakto de tiu ĉi informo, laŭ via priskribo en la <privacyLink>privateca politiko</privacyLink> de Mozilla
accept-privacy-title = Politiko pri privateco
login-identity = Idento de seanco
login-signup = Komenci seancon / Krei konton
edit = Redakti
email-subscriptions = Retpoŝtaj abonoj
download-profile = Elŝuti miajn datumojn
contribution-experience = Kontribua sperto
skip-submission-feedback = Ignori la sendon de opinio
skip-submission-description = Dum la sendo de kontribuoj, komentoj estos malaktivaj post premo de 'Sendi'. La kontribuo pluiros al la venonta grupo de kvin registroj aŭ validigoj.
skip-submission-note = Notu: vi ankoraŭ devos elekti inter Paroli aŭ Aŭskulti por ŝanĝi la tipon de kontribuo.
off = Malŝaltita
on = Ŝaltita

## Profile - Email

browse-file-title = Alŝuti bildon
browse-file = Trenu kaj delasu aŭ <browseWrap>esploru</browseWrap>
connect-gravatar = Konekti Gravatar
gravatar_not_found = Via retpoŝta adreso ne estas asociita al Gravatar
file_too_large = La elektita dosiero estas tro granda
avatar-uploaded = Avataro alŝutita
max-file-size = Maksimume { $kb } ko

## Profile - Email

manage-subscriptions = Administri abonojn
manage-email-subscriptions = Administri retpoŝtajn abonojn
email-already-used = La retpoŝta adreso jam estas uzata de alia konto
add-language = Aldoni lingvon
change-email-setings = Ŝanĝu vian retpoŝton en Agordoj, Idento de seanco

## FAQ

faq-title = Oftaj demandoj
faq-what-cv-q = Kio estas Common Voice?
faq-what-cv-a =
    Voĉrekonaj teknologioj revolucie ŝanĝas nian manieron interagi kun maŝinoj, sed la nune haveblaj sistemoj estas multekostaj kaj malliberaj. Common Voice estas parto de iniciato de Mozilla, kiu celas plibonigi parolrekonajn teknologiojn kaj igi ilin alireblaj por ĉiuj. Common Voice estas grandega datumbazo de donacitaj voĉregistroj, kaj ĝi permesas al iu ajn rapide kaj facile trejni parolrekonajn programojn en, eventuale, ĉiuj lingvoj.
    
    Ni ne nur kolektas voĉajn specimenojn en vaste parolataj lingvoj, sed ankaŭ en tiuj, kiuj havas pli etajn komunumojn de parolantoj. Publikigo de diversa datumaro de voĉoj helpos programistojn, entreprenistojn kaj komunumojn mem etigi la breĉon. Kune kun la datumaro de Common Voice ni ankaŭ konstruas malfermitkodan parolrekonilon nomita Deep Speech.
faq-why-important-q = Kial ĝi gravas?
faq-why-important-a =
    Parolado estas ofte la plej natura maniero komunikiĝi kun la aliaj, kaj voĉaj teknologioj alportas tiun konvenecon al niaj komputiloj kaj poŝaparatoj. Ni volas doni al programistoj la rimedojn kontrui ravajn parorekonajn programojn, kiel samtempajn tradukantojn kaj parolkapablajn helpantojn. Tamen, nuntempe la plimulto de la voĉaj datumoj bezonataj por krei tiajn programojn estas multekosta kaj mallibera. Ni esperas ke la datumaro de Common Voice donos al la programistoj tion, kion ili bezonas por novaĵkrei kaj igi parolajn tekcnologiojn haveblaj en siaj propraj lingvoj.
    
    Por igi parolrekonon eĉ pli universala, ni kolektas specimenojn kaj de vaste parolataj lingvoj kaj de tiuj kun malpli da parolantoj, kiuj kutime ne estas tiel bone servitaj de komercaj parolrekonaj servoj. La publikigo de plurlingva datumaro de voĉoj helpos programistojn, entreprenistojn kaj tutajn komunumojn alfronti tion.
faq-how-get-q = Kiel mi povas ricevi la datumojn de Common Voice?
faq-how-get-a = La datumaro de Common Voice estas disponeblaj kaj elŝuteblaj laŭ la kondiĉoj de la permesilo <licenseLink>CC0</licenseLink> en <datasetLink>la paĝo pri niaj datumaroj</datasetLink>. Vi povas elŝuti ankaŭ plurajn aliajn publike haveblajn datumarojn el la sama paĝo.
faq-when-release2-q = Kiam vi liberigos datumojn de Common Voice en aliaj lingvoj?
faq-when-release2-a = La plurlingva versio de la datumaro de Common Voice estas nuntempe flegata kaj polurata de la komununmo. Se vi ŝatus helpi nin porti Common Voice al novaj lingvoj, bonvolu kontroli la <sentenceCollectorLink>ilon por kolekti frazojn</sentenceCollectorLink> por aldoni novajn frazojn al la datumaro, kaj Mozilla <pontoonLink>Pontoon</pontoonLink> por traduki la retejon. Novaj lingvoj estos aldonitaj al Common Voice kiam 5000 aprobitaj frazoj estos kolektitaj.
faq-why-mission-q = Kial Common Voice estas parto de la misio de Mozilla?
faq-why-mission-a = Mozilla dediĉas sin al la tasko teni la teksaĵon malfermita kaj alirebla por ĉiuj. Por atingi tiun celon ni bezonas provizi al kreemuloj ilojn kaj rimedojn kiel Common Voice. La parolrekonaj teknologioj muliĝas en multaj tipoj de programoj kaj ni pensas ke ni devas same bone servi ĉiujn uzantojn. Tio por ni signifas akcepti pli da lingvoj kaj diversajn elparolmanierojn kaj regionojn dum la konstruo kaj testo de parolrekonaj teknologioj. Common Voice estas publika rimedo havebla de ĉiu kaj la teamon kaj programistoj de Mozilla en la tuta mondo jam uzas ĝin ankaŭ en nia propraj projektoj.
faq-what-cv-and-deepspeech-q = Kiu estas la malsamo inter Common Voice kaj Deep Speech?
faq-what-cv-and-deepspeech-a = La datumaro de Common Voice kompletigas la malfermitkodan parolrekonilon de Mozilla: Deep Speech. La unua versio de Deep Speech estis eldonita en novembro de 2017 kaj ĝi progresas senhalte ekde tiam. Kune kun la datumaro de Common Voice ni pensas ke malfermitkodaj parolrekonaj teknologio devus esti haveblaj de ĉiuj. Ni esperas ke tiuj ĉi teknologio permesos al programistoj konstrui ondon de novaj produktoj kaj servoj.
faq-is-goal-assistant-q = Ĉu la celo de Common Voice estas konstrui parolkapablan helpanton?
faq-is-goal-assistant-a = La celo de la datumaro de Common Voice estas permesi al iu ajn en la mondo konstrui parolrekonilon, parolantkrekonilon aŭ iun ajn tipo de programo, kiu bezonas voĉajn datumojn. Parolkapabla helpanto estas unu el tiuj pluraj tipo de programoj, kiujn vi povus konstrui per la datumaro.
faq-do-want-native-q = Mi ne estas denaska parolanto kaj mi parolas kun akĉento, ĉu vi tamen volas mian voĉon?
faq-do-want-native-a = Jes, ni speciale volas vian voĉon! Parto de la celo de Common Voice estas kolekti kiel eble plej multe da malsamaj akĉentoj, por ke voĉrekono funkciu same bone por ĉiuj. Ĉi tio signifas, ke kontribuoj de nedenaskaj parolantoj estas aparte gravaj.
faq-why-different-speakers-q = Kial vi bezonas tiom da malsamaj parolantoj por ĉiu lingvo?
faq-why-different-speakers-a =
    La plejmulto da voĉaj datumbazoj estas konstruitaj kun superreprezento de kelkaj demografiaj grupoj, kiu favoras  <articleLink>virojn kaj mezan klason</articleLink>. Normale subreprezentitaj akĉentoj kaj dialektoj en trejnaj datumaroj estas kutime asociitaj kun homgrupoj, kiuj jam estas eksterigitaj. Cetere, multaj maŝinoj penas kompeni virinajn voĉojn.
    Tial en nia voĉa datumbazo ni volas diversecon!
faq-why-my-lang-q = Kial mia lingvo ne estas ankoraŭ inkluzivita?
faq-why-my-lang-new-a = Mozilla ne elektas aŭ favoras iun ajn lingvon super alia. Male, Common Voice estas nur pelata de komunumoj, sed bezonatas <multilangLink>pluraj paŝoj por aldoni novan lingvon</ multilangLink> kaj komenci kolekti voĉregistrojn. Unue, la retejo de Common devas esti tradukita, por permesi al la membroj de la komunumoj sperti la kontribuadon en siaj propraj lingvoj. Poste, ni bezonas grandan kolekton de frazoj liberaj je kopirajto, kiuj estos laŭtlegitaj.  Kiam tiuj du kondiĉoj estos plenumitaj, la lingvoj estos "lanĉitaj" en Common Voice por ke homoj komencu registri siajn voĉojn kaj validigi la voĉregistrojn de aliaj. Se vi volas helpi lanĉi novan lingvon, iru al nia <sentenceCollectorLink>iloj por kolekti frazojn</ phraseCollectorLink> por komenci.
faq-what-quality-q = Kiu nivelo de sonkvalito estas postulata por la voĉaregistroj en la datumaro?
faq-what-quality-a = Ni volas ke la datumaro de Common Voice reflektu la sonkvaliton de la ĉiutaga vivo, do ni serĉas diversecon. Krom diversa komunumo de parolantoj, datumaro kun varianta sonkvalito permesos al voĉrekoniloj trakti diversajn realajn situaciojn, ĉu fona parolado ĉu aŭta bruo. Se via voĉregistro kompreneblas, ĝi devus esti sufiĉe bona por la datumaro.
faq-why-10k-hours-q = Kial la celo estas 10.000 validigitaj horoj de sono?
faq-why-10k-hours-a = Tiu tempo estas proksimume la nombro de horoj bezonataj por trejni bonkvalitan voĉrekonan sistemon.
faq-how-calc-hours-q = Kiel Common Voice kalkulas horojn?
faq-how-calc-hours-a = Ni kalkulas horojn surbaze de taksado de mezuma daŭro por ĉiu voĉregistro, obligita per la tuta kvanto de voĉregistroj en ĉiuj lingvoj.
faq-where-src-from-2-q = El kie venas la fonta teksto?
faq-where-src-from-2-a =
    Nia fonta teksto estas miksaĵo de individuaj kontribuoj, kaj fontoj el publike haveblaj tekstoj.
    
    Vi povas vidi niajn originalajn frazojn en tiu ĉi <githubLink>dosierujo de GitHub</githubLink>.
faq-why-not-ask-read-q = Kial vi ne petas al homoj legi librojn aŭ Vikipediajn artikolojn en malsamaj lingvoj?
faq-why-not-ask-read-a = Por igi la datumaron de Common Voice kiel eble plej utila ni decidis akcepti nur tekstojn regataj de pemesiloj de Creative Commons (CC0). Uzo de la normo CC0 igas la serĉon kaj kolekton de tekstoj pli malfacila, sed permesas al iu ajn uzi la voĉregistrojn en la datumaro sen ia ajn limigo aŭ permeso de Mozilla. Nia celo estas havi kiel eble plej utilan datumaron por ĉiuj, kiun povos uzi esploristoj, universitatoj, novaj entrepenoj, estraroj, socicelaj organizoj kaj neprofesiuloj.
faq-why-account-q = Kial mi devus krei konton?
faq-is-account-public-q = Ĉu la informoj de mia konto estas publikaj?
faq-how-privacy-q = Kiel vi certigas anonimecon kaj privatecon de la personoj, kiuj donacis siajn voĉojn?
faq-how-privacy-a = Ĉiuj informoj, kiuj povus identigi personon, estas forigitaj el la datumaro. Kiam kontribuanto provizas demografiajn tadumojn en sia profilo, tiu informo estas disigita de la voĉregistroj antaŭ ol arigi ilin en la datumaro, kaj ĝi neniam estos publika en la profila paĝo.
faq-what-determine-identity-q = Kion signifas ke mi ne povas "identigi" parolantojn en la datumaro de Common Voice?
faq-what-determine-identity-a =
    La datumaro de Common Voice estas malfermita kaj publike havebla rimedo, kiu povas esti uzata por trejni plurajn tipoj de programoj, kiuj uzas voĉon. Por protekti la sekurecon de ĉiuj kontribuantoj, ni petas al ĉiu, kiu elŝutas la datumaron de Common Voice, respekti la privatecon de la kontribuantoj.
    
    Informoj, kiuj povus identigi personon, estis forigitaj el la datumaro. Kiam vi elŝutas ĝin, vi akceptas ne klpodi eltiri la identecon de iu ajn kontribuanto. Tio signifas ke vi ne povas klopodi ligi informojn en la datumaro kun personaj informoj de la kontribuanto. Vi povas, tamen, ligi informojn en la datumaro kun aliaj informoj en la datumaro por trejni parolrekonajn, voĉrekonajn aŭ aliajn programojn.
faq-what-is-cv = Kio estas Common Voice?
faq-using-cv = Kiel uzi Common Voice
faq-description = Common Voice estas parto de iniciato de Mozilla helpi instrui al komputilojn la manieron, kiel homoj fakte parolas.
faq-search-for-answers =
    .label = Serĉi respondojn

## ABOUT US

about-title = Kial Common Voice?
about-subtitle = Common Voice estas parto de iniciato de Mozilla por helpi instrui al maŝinoj, kiel homoj fakte parolas. Kune kun la datumaro de Common Voice ni ankaŭ konstruas malfermitkodan parolrekonilon nomita Deep Speech.
about-header-description =
    Ambaŭ projektoj estas parto de nia strebo fermi la ciferecan breĉon inter lingvoj . Parolrekonaj teknologioj alportas homan dimension al niaj aparatoj, sed programistoj bezonas grandengan kvanto da voĉaj datumoj por konstrui iln. Nuntempe, la plejmulto de tiuj datumoj estas multekosta kaj privataj.
    Ni volas igi voĉajn datumojn liberaj kaj publike haveblaj kaj certi ke tiuj datumoj reprezentas la diversecon de realaj personoj. Kune ni povas plibonigi parolrekonon por ĉiuj.
how-does-it-work-title = Kiel ĝi funkcias?
how-does-it-work-text = Ni kalkulas je kolektiva patropreno por konstrui malfermitkodan voĉan datumaron. Donacu vian voĉon, validigu la precizecon de la voĉregistroj de aliaj personoj, plibonigu la datumaron por ĉiuj.
about-speak = Paroli
about-speak-text = Kontribuantoj laŭtlegas el kolekto de donacitaj frazoj kaj registras siajn voĉojn.
about-listen-queue = Vico de aŭskulto
about-listen-queue-text = Voĉregistroj eniras vicon, kiu pretigas ilin por aŭskultado.
about-listen = Aŭskulti
about-listen-text = Uzantoj validigas la precizecon de la voĉregistroj, kontrolante ĉu la parolanto legis la frazon korekte.
about-is-it-valid = Ĉu la voĉregistro validas?
about-is-it-valid-text = Voĉregistro estas markita kiel "valida" kiam uzanto voĉdonas jese por ĝi.
about-yes-votes = ≥ 2 jesaj voĉdonoj
about-yes-votes-text = Por eniri la datumaron de Common Voice, voĉregistro devas esti validigita de almenaŭ du malsamaj uzantoj.
about-no-votes = ≥ 2 neaj voĉdonoj
about-no-votes-text = Kiam uzanto rifuzas voĉregistron, ĝi reiras al la vico. Se ĝi estas rifuzita duan fojon, la voĉregistro iras al la tombejo de voĉregistroj.
about-dataset-new = Datumaro de Common Voice
about-dataset-new-text = La datumaro de Common Voice enhavas centojn da miloj da voĉregistroj, kiuj helpas programistojn konstrui parolrekonajn ilojn.
about-clip-graveyard = Tombejo de voĉregistroj
about-clip-graveyard-text = La tombejo de voĉregistroj konsistas el voĉregistroj kiuj ne sukcesis eniri la datumaron de Common Voice. Same kiel la datumaro, la tombejo de voĉregistroj estas elŝutebla.
about-partners = Asociitoj
about-become-a-partner = Iĝi asociito
about-partnership =
    Common Voice estas kunlabora projekto, kaj ni dependas de nian komunumo de partoprenantoj kaj kontribuantoj por konstrui la plej grandan malfermitkodan datumaron de voĉoj.
    
    Ni ŝatus danki la jenaj personojn kaj organizojn pro ilia helpo kun la projekto:
about-get-involved = Partopreni
about-get-involved-text-2 =
    Ĉu vi volas igi Common Voice eĉ pli bona?
    Bonege! Kontaktu nin per retpoŝto aŭ en forumoj de
    <discourseLink>Discourse</discourseLink>, raportu
    retejajn problemojn per <githubLink>GitHub</githubLink>
    aŭ aliĝu al la komunuma retbabilejo en la <matrixLink>Matrix</matrixLink>.
about-nav-why-common-voice = Kial?
about-nav-how-it-works = Kiel?
about-nav-partners = Asociitoj
about-nav-get-involved = Partopreni
mycroft-title = Mycroft Ai
mycroft-subtitle = Artefarita intelekto
mycroft-description = Mycroft estas la unua malfermitkoda asistanto en la mondo. Mycroft funkcias ĉie: en komputilo, en aŭto aŭ en Raspberry Pi.
mycroft-secondary-description = Tiu ĉi estas malfermitkoda programo kiu povas estis libere rearanĝita, etendita kaj plibonigita. Mycroft povas esti uzata en io ajn, ĉu sciencia projekto ĉu entreprena sistemo.

## Glossary

glossary = Glosaro
localization = Traduko
localization-explanation = Temas pri nia procezo traduki kaj adapti la enhavon al pluraj lingvoj.
sentence-collection = Kolekto de frazoj
sentence-collection-explanation = Kolekti frazojn el la publika havaĵo, aŭ skribi novajn, kiuj apartenos al ĝi.
hours-recorded-explanation = La nombro de voĉregistroj, kiujn ni kolektis ĝin nun.
hours-validated-explanation = La nombro de horoj de voĉregistroj kiuj estis validigitaj de almenaŭ 2 el 3 uzantoj per voĉdono "jes". Tiuj ĉi montras la progreson al la projekta celo de 10.000 horoj.
sst = Voĉrekono (Speech-to-text, STT)
sst-explanation = Voĉrekoniloj (STT) transformas voĉon en tekston.
de-identified = Anonimigita
de-identified-explanation = La procezo kiu permesas apartigi la personajn informojn de la kontribuantoj kaj iliajn kontribuojn, dum oni pakas la voĉregistrojn en la datumbazo por elŝuto.

## Error pages

error-title-404 = Ni ne povis trovi tiun paĝon
error-content-404 = Nia <homepageLink>hejmpaĝo</homepageLink> povus eble helpi. Por demandi ion, bonvolu aliĝi al la <matrixLink>retbabilejo de la komunumo Matrix</matrixLink>, vi ankaŭ povas vidi raportitajn problemojn en la retejo per <githubLink>GitHub</githubLink> aŭ viziti <discourseLink>niajn forumojn Discourse</discourseLink>.
error-title-503 = La retejo estas provizore nedisponebla
error-content-503 = La retejo estos restarigita kiel eble plej rapide. Por pli da informo bonvolu aliĝi al la <matrixLink>retbabilejo de la komunumo Matrix</matrixLink> au viziti <githubLink>GitHub</githubLink> aŭ <discourseLink>niajn forumojn Discourse</discourseLink> por raporti kaj informiĝi pri problemoj en la retejo.
error-code = Eraro { $code }

## Data

data-download-button = Elŝuti datumojn de Common Voice
data-download-yes = Jes
data-download-deny = Ne
data-download-license = Permesilo: <licenseLink>CC-0</licenseLink>
data-download-modal = Vi pretas komenci elŝuton de <size>{ $size }GO</size>, ĉu vi volas daŭrigi?
data-subtitle = Ni konstruas malfermitan kaj publike disponeblan datumaron de vocoj, kiujn iu ajn povas uzi por trejni voĉakceptajn programojn.
data-explanatory-text = Ni kredas ke grandaj kaj publike disponeblaj voĉaj datumaroj favoras novaĵkreemon kaj sanan komercan konkuron en voĉaj teknikologioj bazitaj sur maŝininstruado. Tiu ĉi estas tutmonda strebo, kaj ni invitas ĉiujn partopreni. Nia celo estas helpi voĉajn teknikologiojn iĝi pli inkluzivemaj, spegulante la diversecon de voĉoj el la tuta mondo.
data-get-started = <speechBlogLink>Unuaj paŝoj en parolrekono</speechBlogLink>
data-other-title = Aliaj voĉaj datumaroj…
data-other-goto = Iri al { $name }
data-other-download = Elŝuti datumojn
data-bundle-button = Elŝuti kolekto da datumaroj
data-bundle-description = Datumoj de Common Voice kaj ĉiuj aliaj supraj voĉaj datumaroj.
release-version = Versio
dataset-date = Date
license = Permesilo: <licenseLink>{ $license }</licenseLink>
license-mixed = Miksita
data-download-singleword-title = Elŝuti la celan segmenton de unikaj vortoj
data-download-singleword-callout-v2 = Tiu ĉi estas segmento por aparta uzo; ĝu enhavas datumojn por povi rekoni parolitajn ciferojn kaj respondojn jes/ne.
review-terms = Per la uzo de Common Voice vi akceptas niajn <termsLink>kondiĉojn</termsLink> kaj <privacyLink>privatecan rimarkon</privacyLink>
terms-agree = Mi akceptas
terms-disagree = Mi ne akceptas
review-aborted = Alŝuto nuligita. Ĉu vi volas forigi viajn registrojn?
review-submit-title = Revizii kaj sendi
review-submit-msg = Dankon pro via registro!<lineBreak></lineBreak>Vi povas nun revizii kaj sendi viajn subajn registrojn.
review-recording = Revizii
review-rerecord = Registri denove
review-cancel = Nuligi sendon
review-keep-recordings = Gardi la registrojn
review-delete-recordings = Forigi miajn registrojn

## Datasets Page

datasets-headline = Ni konstruas malfermitkodan, plurlingvan datumaron de voĉoj, kiun iu ajn povas uzi por trejni parolkapablajn programojn.
datasets-positioning =
    Ni pensas ke grandaj kaj publike haveblaj datumaroj de voĉoj favoros novaĵkreemon kaj sanan komercan konkurecon en la parolaj teknologioj bazitaj sur automata lernado.
    
    La plurlingva datumaro de Common Voice estas jam la plej granda publike havebla voĉa datumaro, sed ne la ununura.
    
    Tiu ĉi paĝo listigas aliajn malfermitkodajn voĉajn datumarojn kaj, dum la evoluo de Common Voice, ankaŭ niajn estontajn ĝisdatigojn.
language = Lingvo
# File size in gigabytes
size = Grando
validated-hr-total = Validigitaj entutaj horoj
overall-hr-total = Entutaj horoj
cv-license = Permesilo
audio-format = Formo de sono
number-of-voices = Nombro de voĉoj
splits = Dividoj
email-to-download = Tajpu retpoŝton por elŝuti
why-email = <b>Kial ni petas retpoŝton</b> Ni povus bezoni kontakti vin en la estonteco, pro ŝanĝoj al la datumaro kaj via retpoŝto permesos al ni tion fari.
confirm-size = Vi pretas komenci la elŝuton de <b>{ $size }</b>
size-gigabyte = GO
size-megabyte = MO
confirm-no-identify = <b>Vi akceptas</b> ne klopodi eltiri la identecon de parolantoj en la datumaro de Common Voice
download-language = Elŝuti { $language }
validated-hours = Validigitaj horoj
recorded-hours = Registritaj horoj
whats-inside = Kio estas ene de la datumbazo de Common Voice?
dataset-description-hours =
    Ĉiu elemento en la datumaro konsistas el dosiero MP3 kaj la respektivan tekstan dosieron. Multaj el la <b>{ $total }</b> registritaj horoj en la datumaro ankaŭ inkluzivas demografiajn datumojn, kiel aĝon, sekson kaj akcenton, kiuj povus helpi trejni la precizecon de parolrekoniloj.
    
    La datumaro nunteme konsistas el <b>{ $valid }</b> validigitaj horoj en <b>{ $languages }</b> lingvoj, sed ni daŭre aldonas pli da voĉoj kaj lingvoj. Rigardu nian <languagesLink>paĝon pri ligvoj</languagesLink> por peti novan lingvon aŭ komenci kontribui.
want-dataset-update = Ĉu vi ŝatus scii kiam ni liveras novan version de la datumaro de Common Voice? Abonu nian novaĵleteron.
subscribe = Aboni
get-started-speech = Unua paŝoj en parolrekono
other-datasets = Aliaj voĉaj datumaroj
feedback-q = Ĉu vi ŝatus komenti?
data-other-librispeech-description = LibriSpeech estas kolekto de proksimume 1000 horoj de legado en la angla, registrita je 16Khz, kiu venas el aŭdlibroj de la projekto LibriVox.
data-other-ted-name = Kolekto TED-LIUM
data-other-ted-description = La kolekto TED-LIUM estis farita el prelegoj kaj ĝiaj transskriboj, disponeblaj en la retejo de TED.
data-other-voxforge-description = VoxForge estis kreita kun la celo kolekti transskribitaj paroladoj, tiel ke ili estos uzeblaj de liberaj kaj malfermitkodaj parolrekoniloj.
data-other-tatoeba-description = Tatoeba estas granda datumbazo de frazoj, tradukoj kaj voĉaj registroj, por esti uzata dum lernado de lingvoj. Tiu ĉi elŝuto enhavas parolatan anglan, kiun registris ilia komunumo.
your-feedback = Ĉu vi havas ideojn, kiel plibonigi la datumaron de Common Voice? Rankontu al ni en Discourse
go-discourse = Iri al Discourse
missing-language = Ĉu via lingvo ne aperas en la datumaro? Por peti novan lingvon iru al la paĝo pri lingvoj.
go-languages-page = Iri al la paĝo pri lingvoj
ready-to-validate = Ĉu vi pretas validigi frazojn?
more = Pli
close = Fermi
download = Elŝuti
dataset-version = Versio

## Download Modal

download-title = Via elŝuto komenciĝis.
download-helpus = Helpu nin konstrui komunumon ĉirkaŭ voĉa teknikologio, ni restu en kontakto per retpoŝto.
download-form-email =
    .label = Tajpu vian retpoŝtan adreson
    .value = Dankon, ni restos en kontakto.
download-back = Reiri al la datumaroj de Common Voice
download-no = Ne, dankon

## Contact Modal

contact-title = Formularo de kontakto
contact-form-name =
    .label = Nomo
contact-form-message =
    .label = Mesaĝo
contact-required = *postulata

## Request Language Modal

request-language-title = Propono de lingvo
request-language-form-language =
    .label = Lingvo
request-language-success-title = La propono de lingvo estis sukcese sendita, dankon.
request-language-success-content = Ni baldaŭ skribos al vi kun pli da informo pri la aldono de via lingvo al Common Voice.
select-language = Elektu lingvon...
other-language = Alia lingvo

## Languages Overview

language-section-in-progress = Progresanta
language-section-in-progress-new-description = Tiu ĉi lingvoj estas nuntempe preparataj de iliaj komunumoj. La progresindikiloj montras la nunan staton  de <localizationGlossaryLink>traduko de la retejo</localizationGlossaryLink> kaj <sentenceCollectionGlossaryLink>kolekto da frazoj</sentenceCollectionGlossaryLink>.
language-section-launched = Lanĉita
language-section-launched-description = Por ĉi tiuj lanĉitaj lingvoj la retejo estis sukcese <localizationGlossaryLink>tradukita</localizationGlossaryLink>, kaj la lingvo havas sufiĉe da <sentenceCollectionGlossaryLink>frazoj kolektitaj</sentenceCollectionGlossaryLink> kiu permesas daŭrajn <speakLink>parolajn</speakLink> kaj <listenLink>aŭskultaj</listenLink>   kontribuojn.
languages-show-more = Vidi pli
languages-show-less = Vidi malpli
language-meter-in-progress = Progreso
language-total-progress = Entute
language-search-input =
    .placeholder = Serĉi
language-speakers = Parolantoj
localized = Tradukita
sentences = Frazoj
total-hours = Validigitaj horoj

## Contribution

action-click = Alklaku
action-tap = Tuŝetu
contribute = Kontribui
listen = Aŭskulti
skip = Ignori
shortcuts = Alirklavoj
clips-with-count-pluralized =
    { $count ->
        [one] <bold>{ $count }</bold> voĉregistro
       *[other] <bold>{ $count }</bold> voĉregistroj
    }
goal-help-recording = Vi helpis Common Voice atingi <goalPercentage></goalPercentage> de nia ĉiutaga { $goalValue } registra celo!
goal-help-validation = Vi helpis Common Voice atingi <goalPercentage></goalPercentage> de nia ĉiutaga { $goalValue } revizia celo!
contribute-more =
    { $count ->
        [one] Ĉu vi pretas fari unu plian?
       *[other] Ĉu vi pretas fari { $count }  pli?
    }
record-cta = Komenci registron
record-platform-not-supported = Bedaŭrinde via sistemo ne estas subtenata.
record-platform-not-supported-desktop = En komputiloj sribotablaj, vi povas elŝuti la lastajn:
record-platform-not-supported-ios-non-safari = En iOS bonvolu daŭrigi per Safari por aktivigi sonregistradon…
record-must-allow-microphone = Vi devas permesi aliron al la mikrofono.
record-no-mic-found = Neniu mikrofono trovita.
record-error-too-short = La registro estis tro mallonga.
record-error-too-long = La registro estis tro longa.
record-error-too-quiet = La registro estis tro silenta.
record-cancel = Nuligi reregistron
record-instruction = { $actionType }<recordIcon></recordIcon> kaj poste legu la frazon laŭte
record-stop-instruction = { $actionType }<stopIcon></stopIcon> kiam vi finos
record-three-more-instruction = Restas nur tri!
record-again-instruction = Bonege!<recordIcon></recordIcon>Faru vian venontan voĉregistron
record-again-instruction2 = Daŭrigu tiel, registru denove <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> Lasta!
review-tooltip = Revizii kaj refari voĉregistrojn dum vi progresas
share-clip = Kundividi vian voĉregistron
share-common-voice = Kundividi Common Voice
review-instruction = Revizii kaj refari voĉregistrojn se bezonatas
record-submit-tooltip = { $actionType } sendi kiam vi pretas
clips-uploaded = Alŝutitaj voĉregistroj
record-abort-title = Ĉu unue fini la registron?
record-abort-text = Se vi foriras nun, vi perdos vian progreson
record-abort-submit = Sendi voĉregistrojn
record-abort-continue = Fini registron
record-abort-delete = Eliri kaj forigi voĉregistrojn
listen-instruction = { $actionType }<playIcon></playIcon> ĉu ili ĝuste diris la frazon?
listen-again-instruction = Bonega laboro!<playIcon></playIcon> Aŭskultu denove kiam vi pretos
listen-3rd-time-instruction = Restas nur du, daŭrigu tiel!<playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon>Lasta!
listen-empty-state = Ni ne plu havas validigeblajn voĉregistrojn en tiu ĉi lingvo...
speak-empty-state = Ni ne plu havas frazojn por registri en tiu ĉi lingvo...
speak-empty-state-cta = Proponi frazojn
record-button-label = Registri vian voĉon
share-title-new = <bold>Helpu nin</bold> trovi pli da voĉoj
keep-track-profile = Akompanu vian progreson per profilo
login-to-get-started = Komencu seancon aŭ enskribiĝu por ekuzi
target-segment-first-card = Vi kontribuas kun nia unua cela segmento
target-segment-generic-card = Vi kontribuas kun cela segmento
target-segment-first-banner = Helpu krei la unuan celan segmenton de Common Voice en { $locale }
target-segment-add-voice = Aldoni vian voĉon
target-segment-learn-more = Pli da informo

## Reporting

report = Denunci
report-title = Sendi denuncon
report-ask = Kiun problemon vi havas kun tiu frazo?
report-offensive-language = Ofenda lingvaĵo
report-offensive-language-detail = La frazo enhavas malrespektan aŭ ofendan lingvaĵon.
report-grammar-or-spelling = Gramatika aŭ literuma eraro
report-grammar-or-spelling-detail = La frazo enhavas gramatikan aŭ literuman eraron.
report-different-language = Malsama lingvo
report-different-language-detail = La frazo estas skribita en lingvo, kiun mi ne parolas.
report-difficult-pronounce = Malfacile eldirebla
report-difficult-pronounce-detail = La frazo enhavas vortojn, kiuj estas malfacile legeblaj aŭ eldireblaj.
report-offensive-speech = Ofenda lingvaĵo
report-offensive-speech-detail = La voĉregistro enhavas malrespektan aŭ ofendan lingvaĵon.
report-other-comment =
    .placeholder = Komenti
success = Sukceso
continue = Daŭrigi
report-success = Raporto sukcese sendita

## Goals

streaks = Serioj
days =
    { $count ->
        [one] tago
       *[other] tagoj
    }
recordings =
    { $count ->
        [one] Registro
       *[other] Registroj
    }
validations =
    { $count ->
        [one] Validigo
       *[other] Validigoj
    }

## Dashboard

your-languages = Viaj lingvoj
toward-next-goal = Al la venonta celo
goal-reached = Celo atingita
clips-you-recorded = Viaj voĉregistroj
clips-you-validated = Viaj revizioj
todays-recorded-progress = Hodiaŭa progreso de Common Voice rilate al voĉregistroj
todays-validated-progress = Hodiaŭa progreso de Common Voice rilate al validigoj
stats = Statistikoj
awards = Premioj
you = Vi
everyone = Ĉiuj
contribution-activity = Kontribuoj
top-contributors = Ĉefaj kontribuantoj
recorded-clips = Faritaj voĉregistroj
validated-clips = Validigitaj voĉregistroj
total-approved = Kvanto de aproboj
overall-accuracy = Ĝenerala precizeco
set-visibility = Difini mian videblecon
visibility-explainer = Tiu ĉi agordo regas la videblecon en la rango de kontribuantoj. Se ĝi estas kaŝita, via progreso estos privata. Tio signifas ke via bildo, nomo de uzanto kaj progreso ne aperos en la rango de kontribuantoj. Notu ke bezonatas pli malpli { $minutes } minutoj por montri la lastajn ŝanĝojn.
visibility-overlay-note = Noto: se vi elektas 'Videbla', tiu ĉi agordo povas esti ŝanĝita en la <profileLink>paĝo de profilo</profileLink>
show-ranking = Montri mian pozicion

## Custom Goals

get-started-goals = Unuaj paŝoj kun celoj
create-custom-goal = Krei propran celon
goal-type = Kian celon vi volas atingi?
both-speak-and-listen = Ambaŭ
both-speak-and-listen-long = Ambaŭ (kaj paroli kaj aŭskulti)
daily-goal = Ĉiutaga celo
weekly-goal = Ĉiusemajna celo
easy-difficulty = Facila
average-difficulty = Normala
difficult-difficulty = Malfacila
pro-difficulty = Profesia
lose-goal-progress-warning = Se vi modifas vian celon, vi povus perdi vian nuna progreson.
want-to-continue = Ĉu vi volas daŭrigi?
finish-editing = Ĉu vi volas unue fini la modifojn?
lose-changes-warning = Se vi foriras nun vi perdos viajn ŝanĝojn
build-custom-goal = Difini personecigitan celon
help-reach-hours-pluralized =
    Helpu atingi{ NUMBER($hours) ->
        [one] { $hours } horon
       *[other] { $hours } horojn
    }en la { $language } per persona celo
help-reach-hours-general-pluralized =
    Helpu Common Voice atingi{ NUMBER($hours) ->
        [one] { $hours } horon
       *[other] { $hours } horojn
    }en iu lingvo per persona celo
set-a-goal = Difini celon
cant-decide = Ĉu vi ne povas decidi?
activity-needed-calculation-plural =
    Se { NUMBER($people) ->
        [one] { $people } persono
       *[other] { $people } personoj
    } faras { NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay } voĉregistron
       *[other] { $clipsPerDay } voĉregistrojn
    } ĉiutage, { NUMBER($totalHours) ->
        [one] { $totalHours } horo
       *[other] { $totalHours } horoj
    } atingeblas post iom pli ol { NUMBER($periodMonths) ->
        [one] monato
       *[other] { $periodMonths } monatoj
    }.
how-many-per-day = Bonege! Po kiom da voĉregistroj ĉiutage?
how-many-a-week = Bonege! Po kiom da voĉregistroj ĉiusemajne?
which-goal-type = Ĉu vi volas paroli, aŭskulti aŭ ambaŭ?
receiving-emails-info =
    Vi ricevos retpoŝtajn mesaĝojn kun memorigoj pri celoj,
    raportoj pri via progreso kaj novaĵleteroj de Common Voice
not-receiving-emails-info =
    Vi <bold>NE</bold> ricevos retpoŝtajn mesaĝojn kun memorigoj pri celoj
    raportoj pri via progreso kaj novaĵleteroj de Common Voice
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count } voĉregistro
       *[other] { $count } voĉregistroj
    }
help-share-goal = Helpu nin trovi pli da voĉoj, kundividu vian celon
confirm-goal = Konfirmi celon
goal-interval-weekly = Semajne
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Kundividu vian ĉiutagan celon, { $count } voĉregistroj { $type }
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Kundividu vian ĉiusemajnan celon, { $count } voĉregistroj { $type }
share-goal-type-speak = Parolante
share-goal-type-listen = Aŭskultante
share-goal-type-both = Parolante kaj aŭskultante
# LINK will be replaced with the current URL
goal-share-text = Mi ĵus krei personan celon por donacado de voĉo al #CommonVoice -- venu kun mi kaj helpu instrui al maŝinoj la manieron kiel homoj fakte parolas { $link }
weekly-goal-created = Via ĉiusemajna celo estis kreita
daily-goal-created = Via ĉiutaga celo estis kreita
track-progress = Sekvu vian progreson ĉi tie kaj en la paĝo pri statistikoj.
return-to-edit-goal = Revenu ĉi tien por modifi vian celon, iam ajn.
share-goal = Kundividi mian celon

## Profile Delete

delete-q = Ĉu vi ankaŭ ŝatus peti la forigon de viaj voĉregistroj, aŭ ĉu vi preferas konservi ilin en la datumaro de Common Voice?
keep = Gardi
remove = Forigi
keep-info = Viaj anonimaj voĉregistroj restos en la datumaro de Common Voice. Post la forigo de via profilo vi ne plu povos peti la forigon de viaj voĉregistroj el la datumaro
remove-info = Ni revizios vian peton forigi viajn voĉregistrojn el la datumaro. Se via peto estas aprobita, ni kontaktos tiujn, kiuj elŝutis la datumaron kaj petos al ili agi same.
why-delete-recordings =
    La voĉregistroj de Common Voice estas uzitaj de akademioj, etaj entreprenoj kaj personoj entuziasmantaj de parolrekono, por trajni kaj disvolvi rimedojn kiel ekzemple voĉajn modelojn.
    
    Ĉu vi povas diri al kial vi ŝatus forigi viajn voĉregistrojn?
profile-form-delete = Forigi profilon

## Profile Download


## Landing

welcome-staff = Estu bonvenaj, laboristoj de { $company }!
help-contribute = Vi povas helpi konstrui diversan, malfermitkodan datumaron per kreado de profilo de Common Voice kaj kontribuo de via voĉo.
login-company = Komencu seancon / registriĝu per retpoŝta adreso de { $company }
profile-not-required = Por kontribui, vi ne bezonas profilon, sed ĝi povas esti utila
read-more-about = Pli da informo en la paĝo: Pri Common Voice

## DemoLayout

demo-get-started = Komencu ni
demo-welcome = Bonvenon al Common Voice
demo-welcome-subheader = Ĉu vi ŝatus scii pli kaj kontribui kun tiu ĉi projekto?

## Demo Datasets

demo-language-select-card-header = Common Voice estas la plej granda, publike disponebla, plurlingva voĉa datumaro.
demo-language-select-card-body = Danke al la kontribuoj de pli ol 259.000 personoj en pli ol 50 lingvoj, tiu ĉi datumaro estas uzata por trejni voĉakceptajn programoj, tiel ke ili pli bone respondas al homaj voĉoj.
card-button-next = Antaŭen
card-button-back = Malantaŭen
demo-language-select-label = Serĉi lingvojn
demo-eofy-header = Jarfina livero de 2019
demo-eofy-sub_header = Voĉa datumaro, preta por elŝuto
demo-account = Konto

## Demo Account

demo-account-card-header = Por kontribui, vi ne bezonas konton, sed ĝi povas esti utila.
demo-account-card-body = Dekstre ni montras la bonajn flankonj kaj klarigas kiujn informojn ni publikigas. Uzu la ligilojn malsupre por komenci per konto de Common Voice en via propra aparato.
demo-account-enter-email =
    .label = Tajpu retpoŝtan adreson por ricevi enskriban ligilon
demo-account-sign-up = Sendi enskriban ligilon

## Demo Contribute

demo-contribute-card-header = Ĉu vi pretas aldoni vian voĉon aŭ aŭskulti?
demo-contribute-card-body-v2 = Nun vi scias iom pli pri Common Voice. Ĉu vi volas provi ĝin? Alklaku la emblon de mikrofon por komenci laŭtlegi frazojn. <br/><br/>Se vi preferas revizii la voĉajn kontribuojn de aliaj personoj, alklaku la emblemon por ludi. Vi helpos konfirmi ĉu la registrita voĉo, kiun vi aŭdas, kongruas kun la vortoj skribitaj surekrane.
demo-listen-subtitle = Ĉu vi pretas kontribui?

## Demo Dashboard

demo-dashboard-card-header = Persona panelo montras al vi la aktualan progreson propran kaj komunuman.
demo-dashboard-card-body = Ĉiu nova voĉregistro kaj revizio ĝisdatigas viajn panelon por montri la aktualan progreson en ĉiu lingvo, kun kiu vi kontribuas. Jes, vi povas kontribui kun pli ol unu lingvo! <br/><br/>Uzu panelojn por sekvi viajn progreson kaj vidi kiel vi kaj aliaj en la komunumo kunlaboras. Vi ankaŭ povas tie difini viajn tagajn aŭ semajnajn celojn kontribuajn.

## Validation criteria

contribution-criteria-nav = Kriterio
contribution-criteria-link = Kompreni la kriteriojn por kontribuoj
contribution-criteria-page-title = Kriterioj pri kontribuoj
contribution-criteria-page-description = Lernu pri tio, kion vi devus serĉi kiam vi aŭdas voĉregistrojn kaj plibonigu viajn proprajn registraĵojn!
contribution-for-example = ekzemple
contribution-misreadings-title = Mislegoj
contribution-volume-title = Laŭteco
